{% extends '../../common/admin_cards_container.html' %}

{% set collection = get_admin_collection_spec('screens') %}
{% set collection_view_mode = get_admin_collection_view_mode('screens') %}
{% set collection_show_details = get_admin_collection_show_details('screens') %}
{% set collection_url = url_for(admin_event_tab, event_uniq_id=admin_event.uniq_id) %}

{% block top_left_nav %}
    {% if client.can_view_public_screens %}
        {{ admin_macros.admin_title(admin_screen_type_data.title) }}
    {% endif %}
{% endblock %}

{% block top_right_nav %}
    {% include '/admin/common/collection_controls.html' %}
{% endblock %}

{% block cards_container_cards %}
    {% with
        items=admin_screen_type_data.screens,
        empty_message=_('No screens'),
        sortable=false,
        show_details=collection_show_details,
        hidden_list_columns=(['actions'] if not client.can_manage_screens else []) + (['screen_sets'] if not screen_type.has_screen_sets else [])
    %}
        {% include '/admin/common/collection.html' %}
    {% endwith %}
{% endblock %}
