AdvancedHTMLParser~=9.0.2
requests~=2.31.0
pip~=23.2.1
configparser~=6.0.0
lxml~=5.1.0
PyYAML~=6.0.1
asgiref~=3.7.2
sqlparse~=0.4.4
colorama~=0.4.6
certifi~=2023.11.17
altgraph~=0.17.3
colorlog~=6.8.0
idna~=3.4
urllib3~=2.1.0
pefile~=2023.2.7
setuptools~=69.0.3
pyinstaller~=6.3.0
QueryableList~=3.1.0
pyodbc~=5.0.1
chardet~=5.2.0
uvicorn~=0.27.1
litestar~=2.6.1
Jinja2~=3.1.3