{% extends '../../common/admin_cards_container.html' %}

{% set collection = get_admin_collection_spec('rotators') %}
{% set collection_view_mode = get_admin_collection_view_mode('rotators') %}
{% set collection_show_details = get_admin_collection_show_details('rotators') %}
{% set collection_url = url_for('admin-event-rotators-tab', event_uniq_id=admin_event.uniq_id) %}

{% block top_left_nav %}
    {{ admin_macros.admin_title(
        _('Rotators'),
        'screens-rotators' if client.can_manage_screens else ''
    ) }}
    <script>
        preparePrintModal()
    </script>
{% endblock %}

{% block top_right_nav %}
    {% include '/admin/common/collection_controls.html' %}
    {% if client.can_manage_screens %}
        {% include '/admin/common/screens_config_button.html' %}
        <span
            {{ macros.tooltip_attributes(
                'info',
                _('Add a rotator to the event.')
                if admin_event.screens_by_uniq_id else
                _('You must create a screen or a multi-screen before creating a rotator.'),
                'top')
            }}
        >
            <button
                class="btn btn-primary text-nowrap ms-1"
                hx-get="{{ url_for('admin-rotator-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
                {% if not admin_event.screens_by_uniq_id %}
                    disabled
                {% else %}
                    hx-trigger="click, SC_Plus from:body"
                {% endif %}
            >
                <i class="bi-plus-square pe-1"></i>
                {{ _('Create a rotator') }}
            </button>
        </span>
    {% endif %}
{% endblock %}

{% block cards_container_cards %}
    {% with
        items=admin_rotators,
        empty_message=_('No rotators'),
        sortable=false,
        show_details=collection_show_details,
        hidden_list_columns=['actions'] if not client.can_manage_screens else []
    %}
        {% include '/admin/common/collection.html' %}
    {% endwith %}
    {% if not admin_rotators and client.can_manage_screens %}
        <div class="mx-auto" style="max-width: 500px;">
            <p>{{ _('Too much information to display on a single projector?') }}</p>
            <p>{{ _('Rotators allow you to rotate through multiple screens, or multi-screens, to display plenty of information at your event.') }}</p>
            <p>{{ _("Input screens can't be part of rotators.") }}</p>
            <p>{{ _('Create a rotator now to get started.') }}</p>
        </div>
    {% endif %}
{% endblock %}
