{% extends '/admin/print/base.html' %}

{% block css %}
    {% include 'players.css' %}
    .player-table { margin: 1.5rem auto 0; }
{% endblock %}

{% block content %}
    <table class="player-table">
        <thead>
            <tr class="player-header">
                <th class="header text-end">{{ _('Rk. *** RANK COLUMN HEADER') }}</th>
                <th class="header text-start">{{ _('Team') }}</th>
                <th class="header text-center">{{ _('Played *** TEAM RANKING HEADER PLAYED') }}</th>
                {% if primary_is_mp %}
                    <th class="header text-center">{{ _('W *** TEAM RANKING HEADER WIN') }}</th>
                    <th class="header text-center">{{ _('D *** TEAM RANKING HEADER DRAW') }}</th>
                    <th class="header text-center">{{ _('L *** TEAM RANKING HEADER LOSS') }}</th>
                    <th class="header text-center">{{ _('F *** TEAM RANKING HEADER FORFEIT') }}</th>
                {% endif %}
                {% for tie_break in team_tie_breaks %}
                    <th class="header text-center">{{ tournament.tie_break_acronym(tie_break) }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in standings %}
                <tr class="player-row {{ 'even' if loop.index is even else 'odd' }}">
                    <td class="text-end">{{ row.rank }}</td>
                    <td class="name text-start">{{ row.team.name }}</td>
                    <td class="text-center">{{ row.played }}</td>
                    {% if primary_is_mp %}
                        <td class="text-center">{{ row.wins }}</td>
                        <td class="text-center">{{ row.draws }}</td>
                        <td class="text-center">{{ row.losses }}</td>
                        <td class="text-center">{{ row.forfeits }}</td>
                    {% endif %}
                    {% for tie_break in team_tie_breaks %}
                        {% set value = row.tie_break_values[loop.index0] %}
                        <td class="text-center">{{ value.display_string_value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% if not standings %}
                <tr>
                    <td colspan="99" class="text-center">
                        {{ _('No teams in this tournament.') }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
