{% extends 'common/base.html' %}

{% block admin_header_back_button %}
    {% set target_tab = 'current_events' %}
    {% if admin_event.coming %}
        {% set target_tab = 'coming_events' %}
    {% elif client.can_view_passed_events and admin_event.passed %}
        {% set target_tab = 'passed_events' %}
    {% endif %}
    {% if not client.account.administrator %}
        {% set target_tab = 'home' %}
    {% endif %}
    <div class="d-flex px-3 pb-2 w-100 justify-content-between align-items-center border-bottom">
        <button
            class="btn px-0 py-0 d-flex align-items-center gap-2"
            hx-get="{{ url_for('admin-tab', admin_tab=target_tab) }}"
            hx-target="body"
            hx-push-url="true"
            hx-indicator="#please-wait"
        >
            <i class="back-icon bi-arrow-left-circle-fill"></i>
            <span class="expanded-only">
                {{ _('All Events') }}
            </span>
        </button>
        {{ macros.experimental_warning(sharly_chess_config.experimental) }}
    </div>
{% endblock admin_header_back_button %}

{% block admin_nav %}
    <h4 class="w-100 px-2 fs-5 mt-2 text-center">{{ admin_event.name }}</h4>
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% include '/admin/event_layout_nav_item.html' %}
    {% endfor %}
    {% if client.can_generate_documents and admin_event.tournaments %}
        {% include '/admin/common/print_button.html' %}
    {% endif %}
    {% if client.can_manage_source_databases or client.can_manage_application_settings %}
        <div class="sidebar-divider my-3"></div>
    {% endif %}
    {% if client.can_manage_source_databases %}
        {% include '/admin/common/database/database_button.html' %}
    {% endif %}
    {% if client.can_manage_application_settings %}
        {% include '/admin/common/place_card_templates_button.html' %}
        {% include '/admin/common/settings_button.html' %}
    {% endif %}
    <div class="sidebar-divider my-3"></div>
    {% include '/common/profile/profile_button.html' %}
{% endblock admin_nav %}

{% block admin_content %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% if 'submenu' in nav_tab %}
            {% for nav_id, nav_tab in nav_tab.submenu.items() %}
                {% with active=(admin_event_tab == nav_id) %}
                    <div
                        class="tab-pane fade {% if active %}show active{% endif %}"
                        id="nav-{{ nav_id }}"
                        role="tabpanel"
                        aria-labelledby="nav-{{ nav_id }}-tab"
                    >
                        {% if active %}
                            {% include nav_tab.template %}
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}
        {% else %}
            {% with active=(admin_event_tab == nav_id) %}
                <div
                    class="tab-pane fade {% if active %}show active{% endif %}"
                    id="nav-{{ nav_id }}"
                    role="tabpanel"
                    aria-labelledby="nav-{{ nav_id }}-tab"
                >
                    {% if active and nav_tab.template %}
                        {% include nav_tab.template %}
                    {% endif %}
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
    {% if not admin_event_tab %}
        <div class="mx-auto" style="max-width: 500px;">
            {% if client.can_view_public_screens %}
                <h5 class="my-5 text-center">
                    {{ _('No public screens') }}
                </h5>
                <p class="text-center">
                    {{ _("There are no public screens available for this event.") }}
                </p>
                <p class="text-center">
                    {{ _("If you have an account you may connect by clicking on the <i>Profile</i> button in the menu.") }}
                </p>
            {% else %}
                <h5 class="my-5 text-center">
                    {{ _('You have no permissions') }}
                </h5>
                <p class="text-center">
                    {{ _('You can ask the administrator for permission to access the event screens.') }}
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endblock admin_content %}
