{% extends 'common/base.html' %}

{% block admin_header_back_button %}
{% endblock admin_header_back_button %}


{% block wrapper_class %}
    {{ admin_tab }} {% if client.account.administrator %}admin{% else %}non-admin{% endif %}
{% endblock wrapper_class %}

{% block admin_nav %}
    {% include '/admin/index/_admin_nav.html' %}
{% endblock admin_nav %}

{% block admin_content %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% with active=(admin_tab == nav_id) %}
            <div
                class="tab-pane fade {% if active %}show active{% endif %}"
                id="nav-{{ nav_id }}"
                role="tabpanel"
            >
                {% if active %}
                    {% include nav_tab.template %}
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}
{% endblock admin_content %}
