{% import '/common/macros.j2' as macros with context %}
{% import '/admin/common/macros.j2' as admin_macros with context %}

{% if modal == 'config' %}
    {% include 'index/config_modal.html' %}
{% elif modal == 'event' %}
    {% include 'event/event_modal.html' %}
{% elif modal == 'event-delete' %}
    {% include 'event/event_delete_modal.html' %}
{% elif modal == 'event-export' %}
    {% include 'event/event_export_modal.html' %}
{% elif modal == 'event-tags' %}
    {% include 'event/event_tags_modal.html' %}
{% elif modal == 'event-age-category-sets' %}
    {% include 'event/event_age_category_sets_modal.html' %}
{% elif modal == 'print' %}
    {% include 'event/print_modal.html' %}
{% elif modal == 'place-card-template-create' %}
    {% include 'place_card_templates/create_modal.html' %}
{% elif modal == 'place-card-template-duplicate' %}
    {% include 'place_card_templates/duplicate_modal.html' %}
{% elif modal == 'place-card-template-delete' %}
    {% include 'place_card_templates/delete_modal.html' %}
{% elif modal == 'tournament' %}
    {% include 'tournaments/tournament_modal.html' %}
{% elif modal == 'tournament-delete' %}
    {% include 'tournaments/tournament_delete_modal.html' %}
{% elif modal == 'tournament-import' %}
    {% include 'tournaments/tournament_import_modal.html' %}
{% elif modal == 'tournament_criteria' %}
    {% include 'tournaments/tournament_criteria_modal.html' %}
{% elif modal == 'tournament_criterion_form' %}
    {% include 'tournaments/tournament_criterion_form_modal.html' %}
{% elif modal == 'distribute-players' %}
    {% include 'tournaments/distribute_players_modal.html' %}
{% elif modal == 'tie_breaks' %}
    {% include 'tournaments/tie_breaks_modal.html' %}
{% elif modal == 'tie_break_form' %}
    {% include 'tournaments/tie_break_form_modal.html' %}
{% elif modal == 'tie_break_sets' %}
    {% include 'tournaments/tie_break_sets_modal.html' %}
{% elif modal == 'tournament-export-data-loss' %}
    {% include 'tournaments/export_data_loss_modal.html' %}
{% elif modal == 'player' %}
    {% include 'players/player_modal.html' %}
{% elif modal == 'player-delete' %}
    {% include 'players/player_delete_modal.html' %}
{% elif modal == 'record' %}
    {% include 'players/record_modal.html' %}
{% elif modal == 'check-in-tournaments' %}
    {% include 'players/check_in_tournaments_modal.html' %}
{% elif modal == 'check-in-player' %}
    {% include 'players/check_in_player_modal.html' %}
{% elif modal == 'check-in-tournament-reset' %}
    {% include 'players/check_in_tournament_reset_modal.html' %}
{% elif modal == 'players_diff' %}
    {% include 'players/players_diff_modal.html' %}
{% elif modal == 'players_import' %}
    {% include 'players/players_import_modal.html' %}
{% elif modal == 'players_import_diff' %}
    {% include 'players/players_import_diff_modal.html' %}
{% elif modal == 'unpaired-player' %}
    {% include 'pairings/unpaired_player_modal.html' %}
{% elif modal == 'unpaired-team' %}
    {% include 'pairings/unpaired_team_modal.html' %}
{% elif modal == 'team-record' %}
    {% include 'players/team_record_modal.html' %}
{% elif modal == 'safety-mode' %}
    {% include 'pairings/safety_mode_modal.html' %}
{% elif modal == 'pairing' %}
    {% include 'pairings/pairing_modal.html' %}
{% elif modal == 'team-pairing' %}
    {% include 'pairings/team_pairing_modal.html' %}
{% elif modal == 'team-point-adjustment' %}
    {% include 'pairings/team_point_adjustment_modal.html' %}
{% elif modal == 'player-point-adjustment' %}
    {% include 'pairings/player_point_adjustment_modal.html' %}
{% elif modal == 'team-check-in' %}
    {% include 'teams/team_check_in_modal.html' %}
{% elif modal == 'team-affiliations' %}
    {% include 'teams/team_affiliations_modal.html' %}
{% elif modal == 'pairing-team-absents' %}
    {% include 'pairings/team_absents_modal.html' %}
{% elif modal == 'unfinished-round' %}
    {% include 'pairings/unfinished_round_modal.html' %}
{% elif modal == 'pairing-ratings-warning' %}
    {% include 'pairings/ratings_warning_modal.html' %}
{% elif modal == 'pairing-absents' %}
    {% include 'pairings/absents_modal.html' %}
{% elif modal == 'pairing-settings' %}
    {% include 'pairings/settings/modal.html' %}
{% elif modal == 'prohibited-pairings' %}
    {% include 'pairings/prohibited_pairings_modal.html' %}
{% elif modal == 'pairing_info' %}
    {% include 'pairings/pairing_info_modal.html' %}
{% elif modal == 'team_pairing_info' %}
    {% include 'pairings/team_pairing_info_modal.html' %}
{% elif modal == 'screens_config' %}
    {% include 'screens/screens_config_modal.html' %}
{% elif modal == 'screen' %}
    {% include 'screens/screen_modal.html' %}
{% elif modal == 'screen_sets' %}
    {% include 'screens/screen_sets_modal.html' %}
{% elif modal == 'screen_set_form' %}
    {% include 'screens/screen_set_form_modal.html' %}
{% elif modal == 'family' %}
    {% include 'families/family_modal.html' %}
{% elif modal == 'rotator' %}
    {% include 'rotators/rotator_modal.html' %}
{% elif modal == 'rotator_delete' %}
    {% include 'rotators/rotator_delete_modal.html' %}
{% elif modal == 'rotator_screens' %}
    {% include 'rotators/rotator_screens_modal.html' %}
{% elif modal == 'menu' %}
    {% include 'menus/menu_modal.html' %}
{% elif modal == 'menu_delete' %}
    {% include 'menus/menu_delete_modal.html' %}
{% elif modal == 'menu_items' %}
    {% include 'menus/menu_items_modal.html' %}
{% elif modal == 'default-timers' %}
    {% include 'timers/default_timers_modal.html' %}
{% elif modal == 'timer' %}
    {% include 'timers/timer_modal.html' %}
{% elif modal == 'timer_delete' %}
    {% include 'timers/timer_delete_modal.html' %}
{% elif modal == 'timer_hours' %}
    {% include 'timers/timer_hours_modal.html' %}
{% elif modal == 'timer_hour_form' %}
    {% include 'timers/timer_hour_form_modal.html' %}
{% elif modal == 'timer_hours_clear' %}
    {% include 'timers/timer_hours_clear_modal.html' %}
{% elif modal == 'display_controller' %}
    {% include 'display_controllers/display_controller_modal.html' %}
{% elif modal == 'database' %}
    {% include 'common/database/database_modal.html' %}
{% elif modal == 'prizes_config' %}
    {% include 'prizes/prizes_config_modal.html' %}
{% elif modal == 'prize_groups' %}
    {% include 'prizes/prize_groups_modal.html' %}
{% elif modal == 'prize_group_delete' %}
    {% include 'prizes/prize_group_delete_modal.html' %}
{% elif modal == 'prize_category' %}
    {% include 'prizes/prize_category_modal.html' %}
{% elif modal == 'prize_categories_generate_age' %}
    {% include 'prizes/prize_categories_generate_age_modal.html' %}
{% elif modal == 'prize_categories_generate_rating' %}
    {% include 'prizes/prize_categories_generate_rating_modal.html' %}
{% elif modal == 'prize_criteria' %}
    {% include 'prizes/prize_criteria_modal.html' %}
{% elif modal == 'prize_criterion_form' %}
    {% include 'prizes/prize_criterion_form_modal.html' %}
{% elif modal == 'prizes' %}
    {% include 'prizes/prizes_modal.html' %}
{% elif modal == 'prize_form' %}
    {% include 'prizes/prize_form_modal.html' %}
{% elif modal == 'prize_players' %}
    {% include 'prizes/prize_players_modal.html' %}
{% elif modal == 'team' %}
    {% include 'teams/team_modal.html' %}
{% elif modal == 'team_delete' %}
    {% include 'teams/team_delete_modal.html' %}
{% elif modal == 'team_roster' %}
    {% include 'teams/team_roster_modal.html' %}
{% elif modal == 'team_lineups' %}
    {% include 'teams/team_lineups_modal.html' %}
{% elif modal == 'account' %}
    {% include 'accounts/account_modal.html' %}
{% elif modal == 'account_delete' %}
    {% include 'accounts/account_delete_modal.html' %}
{% elif modal == 'account_permissions' %}
    {% include 'accounts/account_permissions_modal.html' %}
{% elif modal == 'account_permission_form' %}
    {% include 'accounts/account_permission_form_modal.html' %}
{% elif modal %}
    {% include modal ~ '_modal_not_found.html' %}
{% endif %}
