{% extends 'common_cards_container.html' %}
{% from 'macros.j2' import tooltip_attributes, event_visibility_icon %}

{% block cards_container_title %}
    {{ event_visibility_icon(admin_event, '') }}
    {{ admin_event.name }} - Tournois
{% endblock %}

{% block cards_container_right_icons %}
    <span {{ tooltip_attributes('info', 'Rafraîchir cet onglet.', 'top') }}>
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-post="{{ url_for('admin-update-header') }}"
                hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "@tournaments"}'
                hx-swap="multi:#admin-header,#admin-content"
                hx-indicator="#please-wait"
        >
            <i class="bi-arrow-clockwise"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', 'Ajouter un nouveau tournoi à l\'évènement.', 'top') }}>
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-post="{{ url_for('admin-tournament-render-edit-modal') }}"
                hx-vals='{"action": "create", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait"
        >
            <i class="bi-plus-square-fill"></i> Créer un tournoi
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    {% for tournament in admin_event.tournaments_by_id.values() %}
        {% with card_class='bg-terciary-subtle' %}
            {% include 'admin_tournament_card.html' %}
        {% endwith %}
    {% endfor %}
{% endblock %}

{#
<table class="table border-black bg-light">
    <thead class="table-dark position-sticky top-0">
        <tr>
            <th scope="col" class="text-nowrap">Id</th>
            <th scope="col" class="text-nowrap">Nom</th>
            <th scope="col" class="text-nowrap">Fichier</th>
            <th scope="col" class="text-nowrap">Homologation<br>FFE</th>
            <th scope="col" class="text-nowrap">ChessEvent</th>
            <th scope="col" class="text-nowrap">Coups<br/>illégaux</th>
            <th scope="col" class="text-nowrap">Joueur·euses</th>
            <th scope="col" class="text-nowrap">Rondes</th>
            <th scope="col" class="text-nowrap">Appariement<br/>Classement</th>
            <th scope="col" class="text-nowrap">Dernière mise à jour</th>
            <th scope="col" colspan="2" class=""></th>
        </tr>
    </thead>
    <tbody>
        {% if admin_event.tournaments_by_id|length > 0 %}
            {% for tournament in admin_event.tournaments_by_id.values() %}
                <tr>
                    <th scope="row" class="text-nowrap">{{ tournament.uniq_id }}</th>
                    <td class="text-nowrap">{{ tournament.name }}</td>
                    <td class="text-nowrap">{% if not tournament.file_exists %}<i class="bi-exclamation-triangle-fill text-danger"></i>{% else %}<i class="bi-check-circle-fill text-success"></i>{% endif %} {{ tournament.file }}</td>
                    <td class="text-nowrap">{% if tournament.ffe_id %}{{ tournament.ffe_id }}{% if tournament.ffe_password %}<br/>{{ tournament.shadowed_ffe_password }}{% else %}<span class="fst-italic">-</span>{% endif %}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                    <td class="text-nowrap">{% if tournament.chessevent %}<br/>{{ tournament.chessevent.uniq_id }}{{ tournament.chessevent_tournament_name }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                    <td class="text-nowrap">{{ tournament.record_illegal_moves }}</td>
                    <td class="text-nowrap">{% if tournament.players_by_id %}{{ tournament.players_by_id|length - 1 }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                    <td class="text-nowrap">{% if tournament.rounds %}{{ tournament.current_round }} / {{ tournament.rounds }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                    <td class="text-nowrap">
                        {% if tournament.pairing %}{{ tournament.pairing }}{% else %}<span class="fst-italic">-</span>{% endif %}
                        <br/>
                        {% if tournament.rating %}{{ tournament.rating }}{% else %}<span class="fst-italic">-</span>{% endif %}
                    </td>
                    <td class="text-nowrap">{{ tournament.last_update_str }}</td>
                    <td class="text-nowrap">
                        <button
                                class="btn btn-sm btn-primary p-1"
                                hx-post="{{ url_for('admin-tournament-render-edit-modal') }}"
                                hx-vals='{"action": "update", "admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_tournament_id": "{{ tournament.id }}"}'
                                hx-target="#admin-modal-container"
                                hx-swap="innerHTML"
                                data-bs-toggle="modal"
                                data-bs-target="#admin-modal-container"
                                hx-indicator="#please-wait" >
                            <i class="bi-pencil-fill"></i> Éditer
                        </button>
                    </td>
                    <td class="text-nowrap text-end w-100">
                        <button
                                class="btn btn-sm btn-primary p-1"
                                hx-post="{{ url_for('admin-tournament-render-edit-modal') }}"
                                hx-vals='{"action": "clone", "admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_tournament_id": "{{ tournament.id }}"}'
                                hx-target="#admin-modal-container"
                                hx-swap="innerHTML"
                                data-bs-toggle="modal"
                                data-bs-target="#admin-modal-container"
                                hx-indicator="#please-wait" >
                            <i class="bi-copy"></i> Dupliquer
                        </button>
                        <button
                                class="btn btn-sm btn-danger p-1"
                                hx-post="{{ url_for('admin-tournament-render-edit-modal') }}"
                                hx-vals='{"action": "delete", "admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_tournament_id": "{{ tournament.id }}"}'
                                hx-target="#admin-modal-container"
                                hx-swap="innerHTML"
                                data-bs-toggle="modal"
                                data-bs-target="#admin-modal-container"
                                hx-indicator="#please-wait" >
                            <i class="bi-trash-fill"></i> Supprimer
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td
                        colspan="12"
                        class="text-nowrap" >
                    <span class="fst-italic">Aucun tournoi trouvé.</span>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
#}
