<div class="row">
    <div class="col-10">
        <h1>
            <button
                    class="btn btn-sm btn-primary"
                    role="button"
                    hx-post="{{ url_for('admin-update-header') }}"
                    hx-vals='{"admin_main_selector": "@list-events"}'
                    hx-swap="multi:#admin-header,#admin-content"
                    hx-indicator="#please-wait"
            >
                <i class="bi-caret-left-square-fill"></i>
            </button>
            {{ admin_event.name }} - Configuration
            <button
                    class="btn btn-primary"
                    hx-post="{{ url_for('admin-event-render-edit-configuration-modal') }}"
                    hx-vals='{"admin_event_id": "{{ admin_event.id }}"}'
                    hx-target="#admin-modal-container"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#admin-modal-container" >
                <i class="bi-pencil-fill"></i> Modifier l'évènement
            </button>
        </h1>
    </div>
    <div class="col-2 d-flex justify-content-end">
        <h1>
            <button
                    class="btn btn-danger"
                    hx-post="{{ url_for('admin-event-render-delete-modal') }}"
                    hx-vals='{"admin_event_id": "{{ admin_event.id }}"}'
                    hx-target="#admin-modal-container"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#admin-modal-container" >
                <i class="bi-trash-fill"></i> Supprimer l'évènement
            </button>
        </h1>
    </div>
</div>

<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-nowrap">Information</th>
            <th scope="col" class="width-100">Valeur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-nowrap">Identifiant unique</th>
            <td>{{ admin_event.id }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Fichier de configuration</th>
            <td>{{ admin_event.ini_file }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Nom</th>
            <td>{{ admin_event.name }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Personnalisation CSS</th>
            <td>{% if admin_event.css %}{{ admin_event.css }}{% else %}<em>Aucune</em>{% endif %}</td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Mot de passe de saisie des scores</th>
            <td>{% if admin_event.update_password %}********{% else %}<em>Aucun</em>{% endif %}</td>
        </tr>
    </tbody>
</table>
