{% extends 'admin_cards_container.html' %}
{% from 'macros.j2' import tooltip_attributes, event_visibility_icon, screen_type_icon %}

{% block cards_container_title %}
    {{ event_visibility_icon(admin_event, '') }}
    {{ admin_event.name }} - Écrans
{% endblock %}

{% block cards_container_right_buttons %}
    {% with id='show-family-screens-on-screen-list', name='show_family_screens_on_screen_list', show=show_family_screens_on_screen_list %}
        <div
                class="form-check form-switch d-inline-block pe-3 mt-2"
                {{ tooltip_attributes('info', 'Montrer ou cacher les écrans créés à partir de familles d\'écrans.', 'top') }}
        >
            <input
                    name="{{ name }}"
                    hx-post="{{ url_for('admin-update-header') }}"
                    hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "{{ admin_event_selector }}", "{{ name }}": "{% if show %}off{% else %}on{% endif %}"}'
                    hx-swap="multi:#admin-header,#admin-content"
                    hx-indicator="#please-wait"
                    class="form-check-input"
                    type="checkbox"
                    id="{{ id }}"
                    {% if show %}checked{% endif %} /><label for="{{ id }}" class="form-check-label"> Familles</label>
        </div>
    {% endwith %}
    {% with id='show-details-on-screen-list', name='show_details_on_screen_list' %}
        <div
                class="form-check form-switch d-inline-block pe-3 mt-2"
                {{ tooltip_attributes('info', 'Activer ou désactiver l\'affichage des détails sur les cartes des écrans ci-dessous.', 'top') }}
        >
            <input
                    name="{{ name }}"
                    hx-post="{{ url_for('admin-update-header') }}"
                    hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "{{ admin_event_selector }}", "{{ name }}": "{% if show_details_on_screen_list %}off{% else %}on{% endif %}"}'
                    hx-swap="multi:#admin-header,#admin-content"
                    hx-indicator="#please-wait"
                    class="form-check-input"
                    type="checkbox"
                    id="{{ id }}"
                    {% if show_details_on_screen_list %}checked{% endif %} /><label for="{{ id }}" class="form-check-label"> Détails</label>
        </div>
    {% endwith %}
    <span {{ tooltip_attributes('info', 'Rafraîchir cet onglet.', 'top') }}>
        <button
                class="btn btn-primary text-nowrap me-2"
                hx-post="{{ url_for('admin-update-header') }}"
                hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "{{ admin_event_selector }}"}'
                hx-swap="multi:#admin-header,#admin-content"
                hx-indicator="#please-wait"
        >
            <i class="bi-arrow-clockwise"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', 'Ajouter un nouvel écran à l\'évènement.' if admin_event.tournaments_by_id else 'Vous devez créer un tournoi avant de pouvoir créer des écrans', 'top') }}>
        <button
                class="btn btn-primary text-nowrap"
                hx-post="{{ url_for('admin-screen-render-edit-modal') }}"
                hx-vals='{"action": "create", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait"
                {% if not admin_event.tournaments_by_id %}
                    disabled
                {% endif %}
        >
            <i class="bi-plus-square-fill"></i> Créer un écran
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    {% with screens=admin_event.screens_sorted_by_uniq_id if show_family_screens_on_screen_list else admin_event.basic_screens_by_uniq_id.values() %}
        {% for screen_type, screen_data in {
            'input': {
                'title': 'Saisie des résultats',
                'checkbox_tooltip_text': 'Cacher ou montrer les écrans de saisie des résultats.',
                'icon_class': 'bi-pencil-fill',
            },
            'boards': {
                'title': 'Affichage des échiquiers',
                'checkbox_tooltip_text': 'Cacher ou montrer les écrans d\'affichage des échiquiers.',
                'icon_class': 'bi-card-list',
            },
            'players': {
                'title': 'Affichage des appariements par ordre alphabétique',
                'checkbox_tooltip_text': 'Cacher ou montrer les écrans d\'affichage des appariements.',
                'icon_class': 'bi-people-fill',
            },
            'results': {
                'title': 'Affichage des résultats',
                'checkbox_tooltip_text': 'Cacher ou montrer les écrans d\'affichage des résultats.',
                'icon_class': 'bi-trophy-fill',
            },
        }.items() %}
            <div class="row">
                <div class="col-12 mt-3 fs-4 fw-bold text-nowrap {% if not screen_type in screen_types_on_screen_list %}text-secondary{% endif %}">
                    {% with id='show-'~screen_type~'-screens-on-screen-list', name='show_'~screen_type~'_screens_on_screen_list' %}
                        <div
                                class="form-check form-switch d-inline-block pe-3 mt-2"
                                {{ tooltip_attributes('info', screen_data.checkbox_tooltip_text, 'top') }}
                        >
                            <input
                                    name="{{ name }}"
                                    hx-post="{{ url_for('admin-update-header') }}"
                                    hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "{{ admin_event_selector }}", "{{ name }}": "{% if screen_type in screen_types_on_screen_list %}off{% else %}on{% endif %}"}'
                                    hx-swap="multi:#admin-header,#admin-content"
                                    hx-indicator="#please-wait"
                                    class="form-check-input fs-5 mt-2"
                                    type="checkbox"
                                    id="{{ id }}"
                                    {% if screen_type in screen_types_on_screen_list %}checked{% endif %} />
                            <label for="{{ id }}" class="form-check-label">
                                {{ screen_type_icon(screen_type) }}
                                {{ screen_data.title }}
                            </label>
                        </div>
                    {% endwith %}
                </div>
            </div>
            {% if screen_type in screen_types_on_screen_list %}
                {% set ns = namespace(screen_found=false) %}
                <div class="row">
                    {% for screen in screens %}
                        {% if screen.type == screen_type %}
                            {% set ns.screen_found=true %}
                            {% with card_class='bg-info-subtle' if not screen.family else 'bg-secondary-subtle text-secondary' %}
                                {% include 'admin_screen_card.html' %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                    {% if not ns.screen_found %}
                        <div class="col-12 mb-3">
                            Aucun écran de ce type.
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
{% endblock %}
