<div class="row">
    <div class="col">
        <h1 class="text-nowrap">
            {% with public=admin_event.public %}
                {% include 'admin_visibility_icon.html' %}
            {% endwith %}
            {{ admin_event.name }} - Écrans
        </h1>
    </div>
    <div class="col-1 d-flex justify-content-end text-nowrap">
        <h1>
            <button
                    class="btn btn-primary text-nowrap"
                    hx-post="{{ url_for('admin-update-header') }}"
                    hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "@screens"}'
                    hx-swap="multi:#admin-header,#admin-content"
                    hx-indicator="#please-wait"
            >
                <i class="bi-arrow-clockwise"></i>
            </button>
            <button
                    class="btn btn-primary text-nowrap"
                    hx-post="{{ url_for('admin-screen-render-edit-modal') }}"
                    hx-vals='{"action": "create", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                    hx-target="#admin-modal-container"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#admin-modal-container"
                    hx-indicator="#please-wait"
                    {% if not admin_event.tournaments_by_id %}
                        disabled
                    {% endif %}
            >
                <i class="bi-plus-square-fill"></i> Créer un écran
            </button>
        </h1>
    </div>
</div>
{{ screen_types_on_screen_list }}
<table class="table border-black bg-light">
    <thead class="table-dark position-sticky top-0">
        <tr>
            <th scope="col" colspan="2" class="text-nowrap">[Id] / Nom</th>
            <th scope="col" class="text-nowrap">Type</th>
            <th scope="col" class="text-nowrap">Menu</th>
            <th scope="col" class="text-nowrap">Paramètres</th>
            <th scope="col" class="w-50"></th>
            <th scope="col" class="text-nowrap">Ensembles / Tournois</th>
            <th scope="col" class="text-nowrap text-end w-50" colspan="2">
                {% with id='show-boards-screens-on-screen-list', name='show_boards_screens_on_screen_list', show='boards' in screen_types_on_event_list, icon='bi-card-list' %}
                    {% include 'admin_screen_list_screen_type_switch.html' %}
                {% endwith %}
                {% with id='show-input-screens-on-screen-list', name='show_input_screens_on_screen_list', show='input' in screen_types_on_event_list, icon='bi-pencil-fill' %}
                    {% include 'admin_screen_list_screen_type_switch.html' %}
                {% endwith %}
                {% with id='show-players-screens-on-screen-list', name='show_players_screens_on_screen_list', show='players' in screen_types_on_event_list, icon='bi-people-fill' %}
                    {% include 'admin_screen_list_screen_type_switch.html' %}
                {% endwith %}
                {% with id='show-results-screens-on-screen-list', name='show_results_screens_on_screen_list', show='results' in screen_types_on_event_list, icon='bi-trophy-fill' %}
                    {% include 'admin_screen_list_screen_type_switch.html' %}
                {% endwith %}
                {% with id='show-family-screens-on-screen-list', name='show_family_screens_on_screen_list', show=show_family_screens_on_event_list %}
                    <div class="form-check form-switch d-inline-block">
                        <input
                                name="{{ name }}"
                                hx-post="{{ url_for('admin-update-header') }}"
                                hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "@screens", "{{ name }}": "{% if show %}off{% else %}on{% endif %}"}'
                                hx-swap="multi:#admin-header,#admin-content"
                                hx-indicator="#please-wait"
                                class="form-check-input"
                                type="checkbox"
                                id="{{ id }}"
                                {% if show %}checked{% endif %} /><label for="{{ id }}" class="form-check-label"> Familles</label>
                    </div>
                {% endwith %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% with screens=admin_event.screens_sorted_by_uniq_id if show_family_screens_on_event_list else admin_event.basic_screens_by_uniq_id.values() %}
            {% set ns = namespace(screen_found=false) %}
            {% for screen in screens %}
                {% if screen.type in screen_types_on_event_list %}
                    {% set ns.screen_found=true %}
                    {% with basic=screen.id in admin_event.basic_screens_by_id %}
                    {% with td_class='' if basic else 'bg-secondary-subtle text-secondary' %}
                        <tr>
                            <th scope="row" class="text-nowrap {{ td_class }}">
                                <div class="fw-bold">
                                    {% if screen.public %}
                                        <span class="text-success">
                                            <i class="bi-unlock-fill fs-3"></i>
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            <i class="bi-lock-fill fs-3"></i>
                                        </span>
                                    {% endif %}
                                </div>
                            </th>
                            <th scope="row" class="text-nowrap {{ td_class }}">
                                <div>
                                    {{ screen_found }} [{{ screen.uniq_id }}]
                                </div>
                                <div>
                                    {{ screen.name }}
                                </div>
                            </th>
                            <td scope="row" class="text-nowrap {{ td_class }}">
                                <i class="{{ screen.icon_str }}"></i>
                                {{ screen.type_str }}
                            </td>
                            <td scope="row" class="text-nowrap {{ td_class }}">
                                <div>
                                    Étiquette : {% if screen.menu_label %}{{ screen.menu_label }}{% else %}<span class="fst-italic">-</span>{% endif %}
                                </div>
                                <div>
                                    Menu : {% if screen.menu %}{{ screen.menu }}{% else %}<span class="fst-italic">-</span>{% endif %}
                                </div>
                            </td>
                            <td scope="row" class="text-nowrap {{ td_class }}">
                                <div>
                                    Colonnes : {{ screen.columns }}
                                </div>
                                <div>
                                    Chronomètre : {% if screen.timer %}<i class="bi-clock-fill"></i> {% if admin_event.timers_by_id|length > 1 %}{{ screen.timer.uniq_id }}{% else %}Oui{% endif %}{% else %}<span class="fst-italic">Non</span>{% endif %}
                                </div>
                                {% if screen.type == 'players' %}
                                    <div>
                                        Non apparié·es : {% if screen.players_show_unpaired %}Oui{% else %}Non{% endif %} {% if screen.stored_screen.players_show_unpaired is none %}(par défaut){% endif %}
                                    </div>
                                {% endif %}
                                {% if screen.type == 'results' %}
                                    <div>
                                        Nombre max : {% if screen.results_limit %}{{ screen.results_limit }}{% else %}<span class="fst-italic">-</span>{% endif %}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="text-nowrap {{ td_class }}">
                                {% if basic %}
                                    <button
                                            class="btn btn-sm btn-primary p-1"
                                            hx-post="{{ url_for('admin-screen-render-edit-modal') }}"
                                            hx-vals='{"action": "update", "admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_screen_id": "{{ screen.id }}"}'
                                            hx-target="#admin-modal-container"
                                            hx-swap="innerHTML"
                                            data-bs-toggle="modal"
                                            data-bs-target="#admin-modal-container"
                                            hx-indicator="#please-wait" >
                                        <i class="bi-pencil-fill"></i> Éditer
                                    </button>
                                {% endif %}
                            </td>
                            <td class="text-nowrap {{ td_class }}">
                                {% if screen.type in ['boards', 'input', 'players'] %}
                                    {% if screen.screen_sets_sorted_by_order|length > 0 %}
                                        {% for screen_set in screen.screen_sets_sorted_by_order %}
                                            <div class="{% if screen_set.error %}text-danger{% endif %}">
                                                {% if screen_set.error %}<i class="bi-exclamation-triangle-fill"></i>{% endif %}
                                                {% if screen_set.tournament %}
                                                    {{ screen_set.tournament.name }}
                                                    ({{ screen_set.numbers_str }})
                                                {% else %}
                                                    <span class="text-danger">Tournoi non défini</span>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                    <div class="text-danger">
                                        <i class="bi-exclamation-triangle-fill"></i> Aucun ensemble défini
                                    </div>
                                    {% endif %}
                                {% else %}
                                    {% if screen.results_tournament_ids %}
                                        {{ screen.results_tournament_names }}
                                    {% else %}
                                        Tous les tournois
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-nowrap {{ td_class }} w-50">
                                {% if basic and screen.type in ['boards', 'input', 'players'] %}
                                    <button
                                            class="btn btn-sm btn-primary p-1"
                                            hx-post="{{ url_for('admin-screen-render-sets-modal') }}"
                                            hx-vals='{"admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_screen_id": "{{ screen.id }}"}'
                                            hx-target="#admin-modal-container"
                                            hx-swap="innerHTML"
                                            data-bs-toggle="modal"
                                            data-bs-target="#admin-modal-container"
                                            hx-indicator="#please-wait" >
                                        <i class="bi-collection-fill"></i>
                                        {% if screen.type in ['boards', 'input'] %}
                                            Ensembles d'échiquiers
                                        {% else %}
                                            Ensembles de joueur·euses
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </td>
                            <td class="text-nowrap text-end {{ td_class }}">
                                {% if basic %}
                                    <button
                                            class="btn btn-sm btn-primary p-1"
                                            hx-post="{{ url_for('admin-screen-render-edit-modal') }}"
                                            hx-vals='{"action": "clone", "admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_screen_id": "{{ screen.id }}"}'
                                            hx-target="#admin-modal-container"
                                            hx-swap="innerHTML"
                                            data-bs-toggle="modal"
                                            data-bs-target="#admin-modal-container"
                                            hx-indicator="#please-wait" >
                                        <i class="bi-copy"></i> Dupliquer
                                    </button>
                                    <button
                                            class="btn btn-sm btn-danger p-1"
                                            hx-post="{{ url_for('admin-screen-render-edit-modal') }}"
                                            hx-vals='{"action": "delete", "admin_event_uniq_id": "{{ admin_event.uniq_id }}", "admin_screen_id": "{{ screen.id }}"}'
                                            hx-target="#admin-modal-container"
                                            hx-swap="innerHTML"
                                            data-bs-toggle="modal"
                                            data-bs-target="#admin-modal-container"
                                            hx-indicator="#please-wait" >
                                        <i class="bi-trash-fill"></i> Supprimer
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            {% if not ns.screen_found %}
                <tr>
                    <td
                            colspan="8"
                            class="text-nowrap fst-italic">
                        {% if not admin_event.tournaments_by_id %}
                            La création d'écrans est impossible car il n'y a pas de tournoi dans l'évènement.
                        {% else %}
                            Aucun écran trouvé.
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>
