{% extends 'base.html' %}

{% block header %}
{% with print_main_tabs=admin_main_selector in main_nav_tabs %}
{% with nav_tabs=main_nav_tabs if print_main_tabs else event_nav_tabs %}
    <div id="admin-header" class="header admin-header position-sticky top-0 mx-2 px-3">
        <div hx-ext="bs-tabs" class="bs-tabs">
            <nav>
                <div class="nav nav-tabs mt-1" id="nav-tab" role="tablist">
                    <button
                            class="btn btn-link link-dark fs-5 fw-bold px-1 py-0"
                            {% if print_main_tabs %}
                                hx-get="{{ url_for('index') }}"
                                hx-target="body"
                            {% else %}
                                hx-post="{{ url_for('admin-update-header') }}"
                                hx-vals='{"admin_main_selector": "@events"}'
                                hx-swap="multi:#admin-header,#admin-content"
                                hx-indicator="#please-wait"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                            {% endif %}
                            hx-indicator="#please-wait"
                    >
                        <i class="
                            {% if print_main_tabs %}
                                bi-house-fill
                            {% else %}
                                bi-arrow-left-circle-fill
                            {% endif %} fs-3"></i>
                    </button>
                    {% for nav_id, nav_tab in nav_tabs.items() %}
                        {% with
                            vals='{"admin_main_selector": "'~nav_id~'"}' if print_main_tabs else '{"admin_main_selector": "'~admin_main_selector~'", "admin_event_selector": "'~nav_id~'"}',
                            active=(admin_main_selector == nav_id) if print_main_tabs else (admin_event_selector == nav_id)
                        %}
                            <button
                                    class="nav-link border-dark {%if active %}active{% endif %} fw-bold px-2 py-0 ms-1"
                                    id="nav-{{ nav_id }}-tab"
                                    hx-post="{{ url_for('admin-update-header') }}"
                                    hx-vals='{{ vals }}'
                                    hx-swap="multi:#admin-header,#admin-content"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-{{ nav_tab.name }}"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-{{ nav_id }}"
                                    aria-selected="true"
                                    hx-indicator="#please-wait"
                            >{{ nav_tab.title }}</button>
                        {% endwith %}
                    {% endfor %}
                </div>
            </nav>
        </div>
        {#
        <form class="row d-inline-block">
            <div class="col col-md-auto d-inline-block">
                <span id="admin-main-selector" class="admin">
                    <select
                        name="admin_main_selector"
                        hx-post="{{ url_for('admin-update-header') }}"
                        hx-swap="multi:#admin-header,#admin-content"
                        class="form-select form-select-sm"
                        hx-indicator="#please-wait">
                        {% for option_value, option_text in admin_main_selector_options.items() %}
                            <option value="{{ option_value }}" {% if admin_main_selector == option_value %}selected{% endif %}>{{ option_text }}</option>
                        {% endfor %}
                        {% for event in event_loader.events_sorted_by_name %}
                            <option value="{{ event.uniq_id }}" {% if admin_event and admin_event.uniq_id == event.uniq_id %}selected{% endif %}>{{ event.name }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="col col-md-auto d-inline-block">
                <span id="admin-event-selector" class="">
                    {% if admin_event %}
                        <select
                            name="admin_event_selector"
                            hx-post="{{ url_for('admin-update-header') }}"
                            hx-swap="multi:#admin-header,#admin-content"
                            class="form-select form-select-sm"
                            hx-indicator="#please-wait">
                            {% for option_value, option_text in admin_event_selector_options.items() %}
                                <option value="{{ option_value }}" {% if admin_event_selector == option_value %}selected{% endif %}>{{ option_text }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </span>
            </div>
            <div class="col">
            </div>
        </form>
        #}
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-tooltips.js') }}"></script>
    </div>
{% endwith %}
{% endwith %}
{% endblock header %}

{% block content %}
{% with print_main_tabs=admin_main_selector in main_nav_tabs %}
{% with nav_tabs=main_nav_tabs if print_main_tabs else event_nav_tabs %}
    <div id="admin-content" class="content admin-content tab-content border border-dark mx-2 p-3">
        {% for nav_id, nav_tab in nav_tabs.items() %}
            {% with
                vals='{"admin_main_selector": "{{ nav_id }}"}' if print_main_tabs else '{"admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ nav_id }}"}',
                active=admin_main_selector == nav_id if print_main_tabs else admin_event_selector == nav_id
            %}
                <div
                        class="tab-pane fade {% if active %}show active{% endif %}"
                        id="nav-{{ nav_id }}"
                        role="tabpanel"
                        aria-labelledby="nav-{{ nav_id }}-tab"
                        tabindex="0"
                >
                    {% if active %}
                        {% include nav_tab.template %}
                    {% endif %}
                </div>
            {% endwith %}
        {% endfor %}
        <div id="admin-modal-container"
            class="modal modal-blur fade overflow-auto"
            style="display: none"
            aria-hidden="false"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered d-block w-80 mw-100" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <script>
            {# manually remove the modal backdrop when reloading #admin-content (too many modal-backdrop divs are created by Bootstrap when opening modals) #}
            $(document).ready(function(){
                $('body .modal-backdrop').remove();
            });
            {# manually remove the modal backdrop when reloading #admin-content (too many modal-backdrop divs are created by Bootstrap when opening modals) #}
            $(document).ready(function(){
                $('body .tooltip').remove();
                $('body .tooltip-inner').remove();
                $('body .tooltip-arrow').remove();
            });
        </script>
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-tooltips.js') }}"></script>
    </div>
{% endwith %}
{% endwith %}
{% endblock content %}
