<div id="admin-timer-hours-modal" class="modal-dialog modal-dialog-centered admin-timer-hours-modal d-block w-80 mw-100">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                Horaires du chronomètre{% if admin_event.timers_by_id|length > 1 %} [{{ admin_timer.uniq_id }}]{% endif %}
            </h2>
        </div>
        <div class="modal-body">
            {% if admin_timer_hour %}
                <p>Enregistrez l'horaire ou annulez.</p>
            {% elif admin_timer.timer_hours_by_id|length > 1 %}
                <p>Déplacez les horaires pour les ordonner.</p>
            {% endif %}
            {% if not admin_timer_hour and admin_timer.timer_hours_sorted_by_order|length > 1 %}
                <form
                        class="sortable"
                        hx-post="{{ url_for('admin-timer-hours-update') }}"
                        hx-vals='{"action": "reorder", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}", "admin_timer_id": "{{ admin_timer.id }}" }'
                        hx-target="#admin-timer-hours-modal"
                        hx-swap="innerHTML"
                        hx-trigger="end"
                        hx-indicator="#please-wait">
            {% endif %}
                {% if admin_timer.timer_hours_sorted_by_order %}
                    {% for timer_hour in admin_timer.timer_hours_sorted_by_order %}
                        {% include 'admin_timer_hour_div.html' %}
                    {% endfor %}
                {% else %}
                        <div class="text-danger">Aucun horaire défini.</div>
                {% endif %}
            {% if not admin_timer_hour and admin_timer.timer_hours_sorted_by_order|length > 1 %}
                </form>
            {% endif %}
        </div>
        <div class="modal-footer d-block">
            <div class="row">
                <div class="col col-6 text-start">
                    <button
                            class="btn btn-primary text-nowrap"
                            {% if admin_timer_hour %}
                                disabled
                            {% else %}
                                hx-post="{{ url_for('admin-timer-hours-update') }}"
                                hx-vals='{"action": "add", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}", "admin_timer_id": "{{ admin_timer.id }}" }'
                                hx-target="#admin-timer-hours-modal"
                                hx-swap="innerHTML"
                                hx-indicator="#please-wait"
                            {% endif %}
                    >
                        <i class="bi-plus-square-fill"></i> Ajouter un horaire
                    </button>
                </div>
                <div class="col col-6 text-end">
                    <button
                            class="btn btn-secondary text-nowrap"
                            {% if admin_timer_hour %}
                                disabled
                            {% else %}
                                hx-post="{{ url_for('admin-timer-hours-update') }}"
                                hx-vals='{"action": "close", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}" }'
                                hx-swap="multi:#messages,#admin-header,#admin-content"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                                data-bs-dismiss="modal"
                            {% endif %}
                    >
                        <i class="bi-x-circle-fill"></i> Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('admin-modal-container'))).show();
</script>
