<div class="row">
    <div class="col">
        <h1>
            <button
                    class="btn btn-sm btn-primary"
                    role="button"
                    hx-post="{{ url_for('admin-update-header') }}"
                    hx-vals='{"admin_main_selector": "@events"}'
                    hx-swap="multi:#admin-header,#admin-content"
                    hx-indicator="#please-wait">
                <i class="bi-caret-left-square-fill"></i>
            </button>
            {{ admin_event.name }} - Configuration
        </h1>
    </div>
    <div class="col-1 d-flex justify-content-end">
        <h1 class="text-nowrap">
            <button
                    class="btn btn-primary"
                    hx-post="{{ url_for('admin-event-render-edit-modal') }}"
                    hx-vals='{"action": "update", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                    hx-target="#admin-modal-container"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#admin-modal-container"
                    hx-indicator="#please-wait">
                <i class="bi-pencil-fill"></i> Éditer
            </button>
            <button
                    class="btn btn-primary"
                    hx-post="{{ url_for('admin-event-render-edit-modal') }}"
                    hx-vals='{"action": "clone", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                    hx-target="#admin-modal-container"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#admin-modal-container"
                    hx-indicator="#please-wait">
                <i class="bi-copy"></i> Dupliquer
            </button>
            <button
                    class="btn btn-danger text-nowrap"
                    hx-post="{{ url_for('admin-event-render-edit-modal') }}"
                    hx-vals='{"action": "delete", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                    hx-target="#admin-modal-container"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#admin-modal-container"
                    hx-indicator="#please-wait">
                <i class="bi-trash-fill"></i> Supprimer
            </button>
        </h1>
    </div>
</div>

<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-nowrap">Information</th>
            <th scope="col" class="text-nowrap">Valeur</th>
            <th scope="col" class="width-100">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-nowrap">Identifiant unique</th>
            <td class="text-nowrap">{{ admin_event.uniq_id }}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Nom</th>
            <td class="text-nowrap">{{ admin_event.name }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Répertoire par défaut des fichiers Papi</th>
            <td class="text-nowrap">{{ admin_event.path }}{% if not admin_event.stored_event.path %} (par défaut){% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Personnalisation CSS</th>
            <td class="text-nowrap">{% if admin_event.css %}{{ admin_event.css }}{% else %}<em>Aucune</em>{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Mot de passe de saisie des scores</th>
            <td class="text-nowrap">{% if admin_event.update_password %}********{% else %}<em>Aucun</em>{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Nombre maximum de coups illégaux enregistrés</th>
            <td class="text-nowrap">{% if admin_event.record_illegal_moves %}{{ admin_event.record_illegal_moves }}{% else %}Aucun{% endif %}{% if admin_event.stored_event.record_illegal_moves is none %} (par défaut){% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Suppression des résultats entrés sur les écrans de saisie</th>
            <td class="text-nowrap">{% if admin_event.allow_results_deletion %}Autorisée{% else %}Non autorisée{% endif %}{% if admin_event.stored_event.allow_results_deletion is none %} (par défaut){% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Connexions à ChessEvent</th>
            <td class="text-nowrap">
                {% if admin_event.chessevents_by_id|length %}{{ admin_event.chessevents_by_id|length }}{% else %}<em>Aucune</em>{% endif %}
            </td>
            <td>
                <button
                        class="btn btn-sm btn-primary p-1"
                        hx-post="{{ url_for('admin-update-header') }}"
                        hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "@chessevents"}'
                        hx-swap="multi:#admin-header,#admin-content"
                        hx-indicator="#please-wait">
                    <i class="bi-caret-right-square-fill"></i> Gérer les connexions à ChessEvent
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Tournois</th>
            <td class="text-nowrap">
                {% if admin_event.tournaments_by_id|length %}{{ admin_event.tournaments_by_id|length }}{% else %}<em>Aucun</em>{% endif %}
            </td>
            <td>
                <button
                        class="btn btn-sm btn-primary p-1"
                        hx-post="{{ url_for('admin-update-header') }}"
                        hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "@tournaments"}'
                        hx-swap="multi:#admin-header,#admin-content"
                        hx-indicator="#please-wait">
                    <i class="bi-caret-right-square-fill"></i> Gérer les tournois
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Paramètres par défaut des chronomètres</th>
            <td class="text-nowrap">
                <span style="background-color: {{ admin_event.timer_colors[1] }}">&nbsp;{{ admin_event.timer_delays[1] }} minutes avant&nbsp;</span>
                <span style="background-color: {{ admin_event.timer_colors[2] }}">&nbsp;{{ admin_event.timer_delays[2] }} minutes avant&nbsp;</span>
                <span style="background-color: {{ admin_event.timer_colors[3] }}">&nbsp;{{ admin_event.timer_delays[3] }} minutes après&nbsp;</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Chronomètres</th>
            <td class="text-nowrap">
                {% if admin_event.timers_by_id|length %}{{ admin_event.timers_by_id|length }}{% else %}<em>Aucun</em>{% endif %}
            </td>
            <td>
                <button
                        class="btn btn-sm btn-primary p-1"
                        hx-post="{{ url_for('admin-update-header') }}"
                        hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "@timers"}'
                        hx-swap="multi:#admin-header,#admin-content"
                        hx-indicator="#please-wait">
                    <i class="bi-caret-right-square-fill"></i> Gérer les chronomètres
                </button>
            </td>
        </tr>
    </tbody>
</table>
