{% from 'macros.j2' import event_visibility_icon %}
<div class="row mb-2">
    <div class="col-auto fs-3 fw-bold">
        {{ event_visibility_icon(admin_event, '') }}
        {{ admin_event.name }}
    </div>
    <div class="col text-end fs-3">
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-post="{{ url_for('admin-event-render-edit-modal') }}"
                hx-vals='{"action": "update", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}"}'
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait">
            <i class="bi-pencil-fill"></i> Éditer
        </button>
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-post="{{ url_for('admin-event-render-edit-modal') }}"
                hx-vals='{"action": "clone", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}"}'
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait">
            <i class="bi-copy"></i> Dupliquer
        </button>
        <button
                class="btn btn-danger text-nowrap ms-1"
                hx-post="{{ url_for('admin-event-render-edit-modal') }}"
                hx-vals='{"action": "delete", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}"}'
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait">
            <i class="bi-trash-fill"></i> Supprimer
        </button>
    </div>
</div>

<table class="table border-black w-auto bg-light mx-auto justify-content-center">
    <thead class="table-dark position-sticky top-0 z-2">
        <tr>
            <th scope="col" class="text-nowrap" colspan="2">Personnalisation</th>
            <th scope="col" class=""></th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-nowrap">Identifiant unique de l'évènement</th>
            <td class="text-nowrap">{{ admin_event.uniq_id }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Début</th>
            <td class="">{{ admin_event.formatted_start_date_time }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Fin</th>
            <td class="">{{ admin_event.formatted_stop_date_time }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Visibilité</th>
            <td class="">
                {{ event_visibility_icon(admin_event, '') }}
                {% if admin_event.public %}Publique{% else %}Privée{% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Répertoire par défaut des fichiers Papi</th>
            <td class="">{{ admin_event.path }}{% if not admin_event.stored_event.path %} <span class="fst-italic">(par défaut)</span>{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Image et couleur de fond</th>
            <td class="text-nowrap">
                <div style="width: 160px; height: 90px; background-image: url('{{ admin_event.background_url }}'); background-color: {{admin_event.background_color }}; background-repeat: no-repeat; background-size: contain; background-position: center center;">
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Mot de passe de saisie des scores</th>
            <td class="text-nowrap">{% if admin_event.update_password %}********{% else %}<span class="fst-italic">Aucun</span>{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Nombre maximum de coups illégaux enregistrés</th>
            <td class="text-nowrap">{% if admin_event.record_illegal_moves %}{{ admin_event.record_illegal_moves }}{% else %}Aucun{% endif %}{% if admin_event.stored_event.record_illegal_moves is none %}<span class="fst-italic"> (par défaut)</span>{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Suppression des résultats entrés sur les écrans de saisie</th>
            <td class="text-nowrap">{% if admin_event.allow_results_deletion_on_input_screens %}Autorisée{% else %}Non autorisée{% endif %}{% if admin_event.stored_event.allow_results_deletion_on_input_screens is none %}<span class="fst-italic"> (par défaut)</span>{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Paramètres par défaut des chronomètres</th>
            <td class="text-nowrap">
                <div style="background-color: {{ admin_event.timer_colors[1] }}">&nbsp;{{ admin_event.timer_delays[1] }} minutes avant&nbsp;</div>
                <div style="background-color: {{ admin_event.timer_colors[2] }}">&nbsp;{{ admin_event.timer_delays[2] }} minutes avant&nbsp;</div>
                <div style="background-color: {{ admin_event.timer_colors[3] }}">&nbsp;{{ admin_event.timer_delays[3] }} minutes après&nbsp;</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Dernière mise à jour</th>
            <td class="text-nowrap">{{ admin_event.last_update_str }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
