<div class="modal-dialog modal-dialog-centered admin-screen-edit-modal">
    <form
            hx-post="{{ url_for('admin-screen-update') }}"
            hx-vals='{"action": "{{ action }}", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"{% if admin_screen %}, "admin_screen_id": "{{ admin_screen.id }}"{% endif %} }'
            hx-swap="multi:#messages,#admin-header,#admin-content"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action == 'create' %}
                        Création d'un écran
                    {% elif action == 'update' %}
                        Modification de l'écran [{{ admin_screen.uniq_id }}]
                    {% elif action == 'clone' %}
                        Duplication de l'écran [{{ admin_screen.uniq_id }}]
                    {% else %}
                        Suppression de l'écran [{{ admin_screen.uniq_id }}]
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        Attention : la suppression d'un écran est définitive !
                    </h3>
                {% else %}
                    <h3>
                        Propriétés
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {% if action == 'create' %}
                                {% with id='type', name='type' %}
                                    <label for="{{ id }}" class="form-label">Type d'écran :</label>
                                    <select
                                            name="{{ name }}"
                                            id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error" >
                                        {% for value, text in screen_type_options.items() %}
                                            <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                                {{ text }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <div id="{{ id }}-help" class="form-text">
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <label class="form-label">Type d'écran :</label>
                                <input
                                        disabled
                                        class="form-control is-valid"
                                        value="{{ admin_screen.type_str }}"/>
                                <div class="form-text">
                                  Cette propriété n'est pas modifiable.
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% with id='uniq-id', name='uniq_id' %}
                                <label for="{{ id }}" class="form-label">Identifiant (unique) :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : saisie"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  L'identifiant unique, utilisé pour référencer l'écran (cet identifiant apparait dans l'URL de l'écran).
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            {% with id='name', name='name' %}
                                <label for="{{ id }}" class="form-label">Nom :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : Saisie des résultats"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  Le nom de l'écran, utilisé pour l'affichage.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% if action == 'update' %}
                        <h3>
                            Présentation
                        </h3>
                        <div class="row">
                            <div class="col-6">
                                {% with id='timer-id', name='timer_id' %}
                                    <label for="{{ id }}" class="form-label">Chronomètre :</label>
                                    <select
                                            name="{{ name }}"
                                            id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error" >
                                        {% for value, text in timer_options.items() %}
                                            <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                                {{ text }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <div id="{{ id }}-help" class="form-text">
                                        Le chronomètre qui sera affiché en haut de l'écran.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-6">
                                {% with id='columns', name='columns' %}
                                    <label for="{{ id }}" class="form-label">Colonnes :</label>
                                    <input
                                            name="{{ name }}"
                                            type="number" id="{{ id }}" min="1"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : 2"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      Le nombre de colonnes à utiliser pour l'affichage.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% with id='menu-text', name='menu_text' %}
                                    <label for="{{ id }}" class="form-label">Étiquette de menu :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : Mon écran"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      Ce texte sera utilisé pour le lien permettant d'accéder à l'écran depuis un autre écran.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-6">
                                {% with id='menu', name='menu' %}
                                    <label for="{{ id }}" class="form-label">Menu :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : @view, echiquiers-fixes, tournoi-a-*"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      Ce champ permet de spécifier les liens qui seront affichés sur le menu de l'écran.
                                      Les identifiants des écrans doivent être séparés par des virgules, les mots-clés @view (tous les écrans d'affichage) et @update (tous les écrans de saisie), ainsi que le joker * peuvent être utilisés.
                                      Si ce champ est laissé vide, aucun menu ne sera affiché sur l'écran.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        {% if admin_screen.type == 'players' %}
                            <h3>
                                Affichage
                            </h3>
                            <div class="row">
                                <div class="col-12">
                                    {% with id='players-show-unpaired', name='players_show_unpaired' %}
                                        <label for="{{ id }}" class="form-label">Affichage des joueur·euses non apparié·es :</label>
                                        <select
                                                name="{{ name }}"
                                                id="{{ id }}"
                                                class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                                aria-describedby="{{ id }}-help {{ id }}-error" >
                                            {% for value, text in players_show_unpaired_options.items() %}
                                                <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                                    {{ text }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <div id="{{ id }}-help" class="form-text">
                                          Si les joueur·euses non apparié·es ne sont pas affiché·es, il n'est pas possible de distinguer les joueur·euses forfait (absent·es) de celles·ceux qui bénéficient d'un bye.
                                        </div>
                                        {% if name in errors %}
                                            <div id="{{ id }}-error" class="form-text invalid-feedback">
                                                {{ errors[name] }}
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}
                        {% if admin_screen.type == 'results' %}
                            <h3>
                                Affichage
                            </h3>
                            <div class="row">
                                <div class="col-6">
                                    {% with id='results-limit', name='results_limit' %}
                                        <label for="{{ id }}" class="form-label">Nombre maximum de résultats affichés :</label>
                                        <input
                                                name="{{ name }}"
                                                type="number" id="{{ id }}" min="1"
                                                class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                                aria-describedby="{{ id }}-help {{ id }}-error"
                                                placeholder="Exemple : 30"
                                                value="{{ data[name] }}" />
                                        <div id="{{ id }}-help" class="form-text">
                                          Le nombre maximum de résultats à afficher sur l'écran. Si ce champ est laissé vide, tous les résultats seront affichés.
                                        </div>
                                        {% if name in errors %}
                                            <div id="{{ id }}-error" class="form-text invalid-feedback">
                                                {{ errors[name] }}
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button type="submit" class="white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}">
                            <i class="bi-floppy-fill"></i>
                            {% if action == 'create' %}
                                Créer
                            {% elif action == 'update' %}
                                Modifier
                            {% elif action == 'clone' %}
                                Dupliquer
                            {% else %}
                                Supprimer
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi-x-circle-fill"></i> Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
