<div class="modal-dialog modal-dialog-centered admin-chessevent-edit-modal">
    <form
            hx-post="{{ url_for('admin-chessevent-update') }}"
            hx-vals='{"action": "{{ action }}", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"{% if admin_chessevent %}, "admin_chessevent_id": "{{ admin_chessevent.id }}"{% endif %} }'
            hx-swap="multi:#messages,#admin-header,#admin-content"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action == 'create' %}
                        Création d'une connexion à ChessEvent
                    {% elif action == 'update' %}
                        Modification de la connexion à ChessEvent [{{ admin_chessevent.uniq_id }}]
                    {% else %}
                        Suppression de la connexion à ChessEvent [{{ admin_chessevent.uniq_id }}]
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        Attention : la suppression d'une connexion à ChessEvent est définitive !
                    </h3>
                {% else %}
                    <h3>
                        Propriétés
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {% with id='uniq-id', name='uniq_id' %}
                                <div>
                                    <label for="{{ id }}" class="form-label">Identifiant (unique) :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : domloup-fide"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      L'identifiant unique, utilisé pour référencer la connexion.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                    <h3>
                        Connexion à la plateforme ChessEvent
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {% with id='user-id', name='user_id' %}
                                <div>
                                    <label for="{{ id }}" class="form-label">Identifiant :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : Z00000"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      L'identifiant utilisé pour se connecter sur la plateforme ChessEvent.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            {% with id='password', name='password' %}
                                <div>
                                    <label for="{{ id }}" class="form-label">Mot de passe :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : mot_de_passe"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      Le mot de passe utilisé pour se connecter sur la plateforme ChessEvent.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            {% with id='event-id', name='event_id' %}
                                <div>
                                    <label for="{{ id }}" class="form-label">Évènement :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : BRE_35_domloupfide36"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      Le nom de l'évènement sur la plateforme ChessEvent.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button type="submit" class="white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}">
                            <i class="bi-floppy-fill"></i>
                            {% if action == 'create' %}
                                Créer
                            {% elif action == 'update' %}
                                Modifier
                            {% else %}
                                Supprimer
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi-x-circle-fill"></i> Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
