<div class="row">
    {% for num in [1, 2, 3] %}
        {% with
            color_text=timer_color_texts[num],
            id='color-'~num,
            name='color_'~num,
            checkbox_id='color-'~num~'-checkbox',
            checkbox_name='color_'~num~'_checkbox'
        %}
            <div class="col-4">
                <label for="{{ id }}" class="form-label">Couleur n°{{ num }} :</label>
                <input
                        name="{{ checkbox_name }}"
                        type="checkbox" id="{{ checkbox_id }}"
                        aria-describedby="{{ id }}-help {{ id }}-error"
                        {% if data[checkbox_name] %}checked{% endif %} /> par défaut
                <script>
                    $('#{{ checkbox_id }}').click(function() {
                        if ($(this).is(':checked')) {
                            $('#{{ id }}').val('{{ default_colors[num] }}');
                            $('#{{ id }}').prop('disabled', true);
                        } else {
                            $('#{{ id }}').prop('disabled', false);
                        }
                    });
                </script>
                <input
                        name="{{ name }}"
                        type="color" id="{{ id }}"
                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                        aria-describedby="{{ id }}-help {{ id }}-error"
                        value="{{ data[name] }}"
                        {% if data[checkbox_name] %}disabled{% endif %}/>
                <div id="{{ id }}-help" class="form-text">
                    {{ color_text }}
                </div>
                {% if name in errors %}
                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                        {{ errors[name] }}
                    </div>
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}
</div>
