<div class="modal-dialog modal-dialog-centered admin-timer-edit-modal d-block w-80 mw-100">
    <form
            hx-post="{{ url_for('admin-timer-update') }}"
            hx-vals='{"action": "{{ action }}", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}"{% if admin_timer %}, "admin_timer_id": "{{ admin_timer.id }}"{% endif %} }'
            hx-swap="multi:#messages,#admin-header,#admin-content"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action == 'create' %}
                        Création d'un chronomètre
                    {% elif action == 'update' %}
                        Modification du chronomètre [{{ admin_timer.uniq_id }}]
                    {% elif action == 'clone' %}
                        Duplication du chronomètre [{{ admin_timer.uniq_id }}]
                    {% else %}
                        Suppression du chronomètre [{{ admin_timer.uniq_id }}]
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        Attention : la suppression d'un chronomètre est définitive !
                    </h3>
                {% else %}
                    <h3>
                        Propriétés
                    </h3>
                    <div class="row">
                        <div class="col">
                            {% with id='uniq-id', name='uniq_id' %}
                                <label for="{{ id }}" class="form-label">Identifiant (unique) :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : timer"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  L'identifiant unique, utilisé pour référencer le chronomètre.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% if action == 'update' %}
                        <h3>
                            Couleurs et délais
                        </h3>
                        {% with default_colors=admin_event.timer_colors %}
                            {% include 'admin_timer_edit_colors.html' %}
                        {% endwith %}
                        {% with default_delays=admin_event.timer_delays %}
                            {% include 'admin_timer_edit_delays.html' %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                                data-bs-dismiss="modal"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action == 'create' %}
                                Créer
                            {% elif action == 'update' %}
                                Modifier
                            {% elif action == 'clone' %}
                                Dupliquer
                            {% else %}
                                Supprimer
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-post="{{ url_for('admin-timer-update') }}"
                                hx-vals='{"action": "close", "admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ admin_event_selector }}" }'
                                hx-swap="multi:#messages,#admin-header,#admin-content"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                                data-bs-dismiss="modal">
                            <i class="bi-x-circle-fill"></i> Annuler
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('admin-modal-container'))).show();
</script>
