<h1>{{ admin_event.name }} - Tournois</h1>
<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Fichier</th>
            <th scope="col">Joueur·euses</th>
            <th scope="col">Rondes</th>
            <th scope="col">N° FFE</th>
            <th scope="col">Mot de passe FFE</th>
            <th scope="col">Handicap</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in admin_event.tournaments.values() %}
            <tr>
                <th scope="row">{{ tournament.uniq_id }}</th>
                <td>{{ tournament.name }}</td>
                <td>{% if tournament.file %}{{ tournament.file }}{% if tournament.download_allowed %} <a href="{{ url_for('download-tournament', event_id=admin_event.id, tournament_uniq_id=tournament.uniq_id) }}"><i class="bi-cloud-arrow-down"></i></a>{% endif %}{% else %}<em>-</em>{% endif %}</td>
                <td>{% if tournament.file %}{{ tournament.players_by_name_with_unpaired | length }}{% else %}<em>-</em>{% endif %}</td>
                <td>{% if tournament.file %}{{ tournament.current_round }} / {{ tournament.rounds }}{% else %}<em>-</em>{% endif %}</td>
                <td>{% if tournament.ffe_id %}{{ tournament.ffe_id }}{% else %}<em>Aucun</em>{% endif %}</td>
                <td>{% if tournament.ffe_password %}**********{% else %}<em>Aucun</em>{% endif %}</td>
                <td>{% if tournament.handicap %}<i class="bi-plus-slash-minus"></i><i class="bi-hourglass-split">Oui</i>{% else %}<em>-</em>{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if admin_event.download_allowed %}
    <div>
        <a href="{{ url_for('download-event-tournaments', event_id=admin_event.id) }}"><strong><i class="bi-cloud-arrow-down-fill"></i></strong></a>
    </div>
{% endif %}
