<div class="modal-dialog modal-dialog-centered admin-event-edit-modal d-block w-80 mw-100">
    <form
            hx-post="{{ url_for('admin-event-update') }}"
            hx-vals='{"action": "{{ action }}" {% if admin_event %}, "admin_event_uniq_id": "{{ admin_event.uniq_id }}"{% endif %} }'
            hx-swap="multi:#messages,#admin-header,#admin-content"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action == 'create' %}
                        Création d'un nouvel évènement
                    {% elif action == 'update' %}
                        Modification de l'évènement [{{ admin_event.uniq_id }}]
                    {% elif action == 'clone' %}
                        Duplication  de l'évènement [{{ admin_event.uniq_id }}]
                    {% else %}
                        Suppression  de l'évènement [{{ admin_event.uniq_id }}]
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        Attention : la suppression d'un évènement est définitive !
                    </h3>
                    {% with id='uniq-id', name='uniq_id' %}
                        <div>
                            <label for="{{ id }}" class="form-label">Entrez l'identifiant de l'évènement pour confirmer sa suppression :</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    placeholder="Entrez ici l'identifiant de l'évènement"
                                    value="" />
                            <div id="{{ id }}-help" class="form-text">
                                La récupération des données supprimées n'est pas possible sur l'interface web (les données sont néanmoins archivées et peuvent être récupérées sur le système de fichiers).
                            </div>
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        </div>
                    {% endwith %}
                {% else %}
                    <h3>
                        Propriétés
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {% with id='uniq-id', name='uniq_id' %}
                                <label for="{{ id }}" class="form-label">Identifiant (unique) de l'évènement :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : france-jeunes"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  L'identifiant unique, utilisé pour le stockage des données et les fichiers d'export.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            {% with id='name', name='name' %}
                                <label for="{{ id }}" class="form-label">Nom de l'évènement :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : Championnat de France jeunes"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  Le nom utilisé sur les pages web et dans les rapports.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            {% with id='public', name='public' %}
                                <div>
                                    <label
                                            for="{{ id }}"
                                            class="form-check-label"
                                    >
                                        Visibilité ({{ data[name] }}) :
                                    </label>
                                </div>
                                <div class="form-check form-switch d-inline-block pe-3">
                                    <input
                                            name="{{ name }}"
                                            class="form-check-input"
                                            value="on"
                                            type="checkbox"
                                            id="{{ id }}"
                                            {% if data[name] %}checked{% endif %} />
                                    Évènement public
                                </div>
                                <div id="{{ id }}-help" class="form-text">
                                  Les utilisateur·ices ne peuvent voir que les écrans des évènements publics.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <h3>
                        Dates
                    </h3>
                    <div class="row">
                        <div class="col-6">
                            {% with id='start', name='start' %}
                                <label for="{{ id }}" class="form-label">Début :</label>
                                <input
                                        name="{{ name }}"
                                        type="datetime-local" id="{{ id }}"
                                    class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  La date et l'heure de début de l'évènement.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-6">
                            {% with id='stop', name='stop' %}
                                <label for="{{ id }}" class="form-label">Fin :</label>
                                <input
                                        name="{{ name }}"
                                        type="datetime-local" id="{{ id }}"
                                    class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  La date et l'heure de fin de l'évènement.
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% if action == 'update' %}
                        <h3>
                            Fichiers Papi
                        </h3>
                        <div>
                            {% with id='path', name='path' %}
                                <label for="{{ id }}" class="form-label">Localisation des fichiers Papi :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : C:\echecs\ligue\tournois"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  Le répertoire où seront cherchés par défaut les fichiers Papi des tournois de l'évènement (chemin relatif ou absolu, par défaut [{{ papi_web_config.default_papi_path }}]).
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <h3>
                            Affichage
                        </h3>
                        <div>
                            {% with id='css', name='css' %}
                                <label for="{{ id }}" class="form-label">Personnalisation CSS :</label>
                                <input
                                        name="{{ name }}"
                                        type="text" id="{{ id }}"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="Exemple : club/F35043/F35043.css"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                  Le lien vers la feuille de style, lien relatif ou URL (facultatif).
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <h3>
                            Saisie des résultats
                        </h3>
                        <div class="row">
                            <div class="col-6">
                                {% with id='update-password', name='update_password' %}
                                    <label for="{{ id }}" class="form-label">Mot de passe de saisie des résultats :</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="Exemple : mot_de_passe"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                      Le mot de passe qui sera demandé sur les écrans de saisie pour entrer les résultats (facultatif).
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% with id='record-illegal-moves', name='record_illegal_moves' %}
                                    <label for="{{ id }}" class="form-label">Enregistrement des coups illégaux :</label>
                                    <select
                                            name="{{ name }}"
                                            id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error" >
                                        {% for value, text in record_illegal_moves_options.items() %}
                                            <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id="{{ id }}-help" class="form-text">
                                      Le nombre maximum de coups illégaux que l'on peut enregistrer par ronde pour un·e joueur·euse
                                        (de 0 à 3, par défaut {% if papi_web_config.default_record_illegal_moves_enabled %}{{ papi_web_config.default_record_illegal_moves_number }}{% else %}0{% endif %}).
                                        Cette valeur peut être modifiée pour chaque tournoi.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-6">
                                {% with id='allow-results-deletion-on-input-screens', name='allow_results_deletion_on_input_screens' %}
                                    <label for="{{ id }}" class="form-label">Suppression des résultats entrés :</label>
                                    <select
                                            name="{{ name }}"
                                            id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error" >
                                        {% for value, text in allow_results_deletion_options.items() %}
                                            <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id="{{ id }}-help" class="form-text">
                                      Si elle est autorisée, la suppression des résultats entrés sur les écrans de saisie est réalisée par la combinaison Ctrl+Alt+click.
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <h3>
                            Chronomètres
                        </h3>
                        {% with default_colors=papi_web_config.default_timer_colors %}
                            {% include 'admin_edit_timer_colors.html' %}
                        {% endwith %}
                        {% with default_delays=papi_web_config.default_timer_delays %}
                            {% include 'admin_edit_timer_delays.html' %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                                data-bs-dismiss="modal"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action == 'create' %}
                                Créer
                            {% elif action == 'update' %}
                                Modifier
                            {% elif action == 'clone' %}
                                Dupliquer
                            {% else %}
                                Supprimer
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button type="button" class="text-nowrap btn btn-secondary" data-bs-dismiss="modal"><i class="bi-x-circle-fill"></i> Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('admin-modal-container'))).show();
</script>
