{% from 'macros.j2' import tooltip_attributes %}

{% extends 'base.html' %}

{% block header %}
    <div id="admin-header" class="header admin-header position-sticky top-0 mx-2 border-bottom border-dark">
        <div hx-ext="bs-tabs" class="bs-tabs">
            <nav>
                <div class="nav nav-tabs mt-1" id="nav-tab" role="tablist">
                    <button
                            class="btn btn-link link-dark fs-5 fw-bold px-1 py-0"
                            {% if admin_event %}
                                hx-post="{{ url_for('admin-update-header') }}"
                                hx-vals='{}'
                                hx-swap="multi:#admin-header,#admin-content"
                                hx-indicator="#please-wait"
                            {% else %}
                                hx-get="{{ url_for('index') }}"
                                hx-target="body"
                            {% endif %}
                            hx-trigger="click, keyup[key=='Escape'] from:body"
                            hx-indicator="#please-wait"
                    >
                        <i class="
                            {% if admin_event %}
                                bi-arrow-left-circle-fill
                            {% else %}
                                bi-house-fill
                            {% endif %}"></i>
                    </button>
                    {% for nav_id, nav_tab in nav_tabs.items() %}
                        {% with
                            vals='{"admin_main_selector": "' ~ admin_main_selector ~ '", "admin_event_selector": "' ~ nav_id ~ '"}' if admin_event else '{"admin_main_selector": "' ~ nav_id ~ '"}',
                            active=(admin_event_selector == nav_id) if admin_event else (admin_main_selector == nav_id)
                        %}
                            <button
                                    class="nav-link {% if nav_tab.disabled %}link-secondary{% else %}link-dark{% endif %} border-dark {%if active %}active{%else%}bg-body-secondary{% endif %} fw-bold px-2 py-0 ms-1"
                                    id="nav-{{ nav_id }}-tab"
                                    hx-post="{{ url_for('admin-update-header') }}"
                                    hx-vals='{{ vals }}'
                                    hx-swap="multi:#admin-header,#admin-content"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-{{ nav_tab.name }}"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-{{ nav_id }}"
                                    aria-selected="true"
                                    hx-indicator="#please-wait"
                            >{{ nav_tab.title }}</button>
                        {% endwith %}
                    {% endfor %}
                    {% include 'admin_columns_buttons.html' %}
                </div>
            </nav>
        </div>
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-tooltips.js') }}"></script>
    </div>
{% endblock header %}

{% block content %}
    <div id="admin-content" class="content admin-content tab-content border border-dark mx-2 p-3">
        {% for nav_id, nav_tab in nav_tabs.items() %}
            {% with
                vals='{"admin_main_selector": "{{ admin_main_selector }}", "admin_event_selector": "{{ nav_id }}"}' if admin_event else '{"admin_main_selector": "{{ nav_id }}"}',
                active=(admin_event_selector == nav_id) if admin_event else (admin_main_selector == nav_id)
            %}
                <div
                        class="tab-pane fade {% if active %}show active{% endif %}"
                        id="nav-{{ nav_id }}"
                        role="tabpanel"
                        aria-labelledby="nav-{{ nav_id }}-tab"
                        tabindex="0"
                >
                    {% if active %}
                        {% include nav_tab.template %}
                    {% endif %}
                </div>
            {% endwith %}
        {% endfor %}
        <div id="admin-modal-container"
            class="modal modal-blur overflow-auto"
            style="display: none"
            aria-hidden="true"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered d-block w-80 mw-100" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <script>
            {# manually remove the modal backdrop when reloading #admin-content (too many modal-backdrop divs are created by Bootstrap when opening modals) #}
            $(document).ready(function(){
                $('body .modal-backdrop').remove();
            });
            {# manually remove the tooltips when reloading #admin-content (tooltip elements are created by Bootstrap when tooltips but sometimes not removed) #}
            $(document).ready(function(){
                $('body .tooltip').remove();
                $('body .tooltip-inner').remove();
                $('body .tooltip-arrow').remove();
            });
        </script>
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-tooltips.js') }}"></script>
    </div>
{% endblock content %}
