<h1>{{ admin_event.name }} - Tournois</h1>
<table class="table border-black bg-light">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-nowrap">Id</th>
            <th scope="col" class="text-nowrap">Nom</th>
            <th scope="col" class="text-nowrap">Fichier</th>
            <th scope="col" class="text-nowrap">Joueur·euses</th>
            <th scope="col" class="text-nowrap">Rondes</th>
            <th scope="col" class="text-nowrap">N° FFE</th>
            <th scope="col" class="text-nowrap">Mot de passe FFE</th>
            <th scope="col" class="w-100">Handicap</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in admin_event.tournaments_by_id.values() %}
            <tr>
                <th scope="row" class="text-nowrap">{{ tournament.uniq_id }}</th>
                <td class="text-nowrap">{{ tournament.name }}</td>
                <td class="text-nowrap">{% if tournament.file %}{{ tournament.file }}{% if tournament.download_allowed %} <a href="{{ url_for('user-download-tournament', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"><i class="bi-cloud-arrow-down"></i></a>{% endif %}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                <td class="text-nowrap text-center">{% if tournament.file %}{{ tournament.players_by_name_with_unpaired | length }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                <td class="text-nowrap text-center">{% if tournament.file %}{{ tournament.current_round }} / {{ tournament.rounds }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                <td class="text-nowrap text-center">{% if tournament.ffe_id %}{{ tournament.ffe_id }}{% else %}<span class="fst-italic">Aucun</span>{% endif %}</td>
                <td class="text-nowrap">{% if tournament.ffe_password %}**********{% else %}<span class="fst-italic">Aucun</span>{% endif %}</td>
                <td>{% if tournament.handicap %}<i class="bi-plus-slash-minus"></i><i class="bi-hourglass-split">Oui</i>{% else %}<span class="fst-italic">-</span>{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if admin_event.download_allowed %}
    <div>
        <a href="{{ url_for('user-download-event-tournaments', event_uniq_id=admin_event.uniq_id) }}"><strong><i class="bi-cloud-arrow-down-fill"></i></strong></a>
    </div>
{% endif %}
