{% extends 'admin_card.html' %}
{% from 'macros.j2' import tooltip_attributes, rotator_visibility_icon, screen_visibility_icon, family_visibility_icon, screen_type_icon %}

{% block card_header %}
    {{ rotator_visibility_icon(rotator, '') }} {{ rotator.uniq_id }}
{% endblock %}

{% block card_title %}
    {{ rotator.uniq_id }}
{% endblock %}

{% block card_text %}
    {% if show_details_on_rotator_list %}
        <div>
            Délai de rotation : {{ rotator.delay }} sec.{%if rotator.stored_rotator.delay is none %}<span class="fst-italic"> (par défaut)</span>{%endif %}
        </div>
        <div>
            Menus des écrans : {% if rotator.show_menus %}Affichés{% else %}Cachés{% endif %}{%if rotator.stored_rotator.show_menus is none %}<span class="fst-italic"> (par défaut)</span>{%endif %}
        </div>
    {% endif %}
    <div class="mb-2">
        {% if not rotator.families and not rotator.screens %}
            Aucun écran ni famille à afficher.
        {% else %}
            {% if rotator.screens %}
                {% if show_details_on_rotator_list %}
                    <hr/>
                {% endif %}
                Écrans :
                {% for screen in rotator.screens %}
                    <div>
                        {{ screen_visibility_icon(screen, '') }} {{ screen_type_icon(screen.type, true) }} {{ screen.name }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if rotator.families %}
                {% if rotator.screens or show_details_on_rotator_list %}
                    <hr/>
                {% endif %}
                Familles :
                {% for family in rotator.families %}
                    <div>
                        {{ family_visibility_icon(family, '') }} {{ screen_type_icon(family.type, true) }} {{ family.uniq_id }} {{ family.name }} ({{ family.screens_by_uniq_id|length }} écrans)
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    <span {{ tooltip_attributes('info', 'Modifier les propriétés de l\'écran rotatif.', 'top') }}>
        <button
                class="btn btn-sm btn-primary p-1"
                hx-get="{{ url_for('admin-rotator-modal', action='update', event_uniq_id=admin_event.uniq_id, rotator_id=rotator.id) }}"
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait" >
            <i class="bi-pencil-fill"></i> Éditer
        </button>
    </span>
{% endblock %}

{% block card_buttons_right %}
    <span {{ tooltip_attributes('info', 'Dupliquer l\'écran rotatif.', 'top') }}>
        <button
                class="btn btn-sm btn-primary p-1"
                hx-get="{{ url_for('admin-rotator-modal', action='clone', event_uniq_id=admin_event.uniq_id, rotator_id=rotator.id) }}"
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait" >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', 'Supprimer l\'écran rotatif.', 'top') }}>
        <button
                class="btn btn-sm btn-danger p-1"
                hx-get="{{ url_for('admin-rotator-modal', action='delete', event_uniq_id=admin_event.uniq_id, rotator_id=rotator.id) }}"
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait" >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}

