{% extends 'common_cards_container.html' %}
{% from 'macros.j2' import tooltip_attributes, event_visibility_icon %}

{% block cards_container_title %}
    {{ object_visibility_icon(admin_object, '') }}
    {{ admin_event.name }} - Tournois
{% endblock %}

{% block cards_container_right_buttons %}
{% endblock %}

{% block cards_container_cards %}
    {% for object in admin_event.objects_by_id.values() %}
        {% with card_class='bg-terciary-subtle' %}
            {% include 'admin_object_card.html' %}
        {% endwith %}
    {% endfor %}
{% endblock %}
