{% extends 'base.html' %}

{% block header %}
    <div id="admin-header" class="header admin-header p-1 position-sticky top-0">
        <button
                class="btn btn-link link-dark"
                hx-get="{{ url_for('index') }}"
                hx-target="body"
                hx-indicator="#please-wait"
        >
            <i class="bi-house-fill fs-3"></i>
        </button>
        <form class="row d-inline-block">
            <div class="col col-md-auto d-inline-block">
                <span id="admin-main-selector" class="admin">
                    <select
                        name="admin_main_selector"
                        hx-post="{{ url_for('admin-update-header') }}"
                        hx-swap="multi:#admin-header,#admin-content"
                        class="form-select form-select-sm"
                        hx-indicator="#please-wait">
                        {% for option_value, option_text in admin_main_selector_options.items() %}
                            <option value="{{ option_value }}" {% if admin_main_selector == option_value %}selected{% endif %}>{{ option_text }}</option>
                        {% endfor %}
                        {% for event in event_loader.events_sorted_by_name %}
                            <option value="{{ event.uniq_id }}" {% if admin_event and admin_event.uniq_id == event.uniq_id %}selected{% endif %}>{{ event.name }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="col col-md-auto d-inline-block">
                <span id="admin-event-selector" class="">
                    {% if admin_event %}
                        <select
                            name="admin_event_selector"
                            hx-post="{{ url_for('admin-update-header') }}"
                            hx-swap="multi:#admin-header,#admin-content"
                            class="form-select form-select-sm"
                            hx-indicator="#please-wait">
                            {% for option_value, option_text in admin_event_selector_options.items() %}
                                <option value="{{ option_value }}" {% if admin_event_selector == option_value %}selected{% endif %}>{{ option_text }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </span>
            </div>
            <div class="col">
            </div>
        </form>
    </div>
{% endblock header %}

{% block content %}
    <div id="admin-content" class="content admin-content p-3">
        {% if admin_main_selector == '' %}
            {% include 'admin_config.html' %}
        {% elif admin_main_selector == '@events' %}
            {% include 'admin_event_list.html' %}
        {% else %}{# admin_event is not None #}
            {% if admin_event_selector == '' %}
                {% include 'admin_event_config.html' %}
            {% elif admin_event_selector == '@chessevents' %}
                {% include 'admin_chessevent_list.html' %}
            {% elif admin_event_selector == '@tournaments' %}
                {% include 'admin_tournament_list.html' %}
            {% elif admin_event_selector == '@screens' %}
                {% include 'admin_screen_list.html' %}
            {% elif admin_event_selector == '@families' %}
                {% include 'admin_family_list.html' %}
            {% elif admin_event_selector == '@rotators' %}
                {% include 'admin_rotator_list.html' %}
            {% elif admin_event_selector == '@timers' %}
                {% include 'admin_timer_list.html' %}
            {% elif admin_event_selector == '@messages' %}
                {% include 'admin_messages.html' %}
            {% elif admin_event_selector == '@players' %}
                {% include 'admin_players.html' %}
            {% elif admin_event_selector == '@check_in' %}
                {% include 'admin_check_in.html' %}
            {% elif admin_event_selector == '@pairings' %}
                {% include 'admin_pairings.html' %}
            {% endif %}
        {% endif %}
        <div id="admin-modal-container"
            class="modal modal-blur fade overflow-auto"
            style="display: none"
            aria-hidden="false"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered d-block w-80 mw-100" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <script>
            {# manually remove the modal backdrop when reloading #admin-content (too many modal-backdrop divs are created by Bootstrap when opening modals) #}
            $(document).ready(function(){
                $('body .modal-backdrop').remove();
            });
        </script>
    </div>
{% endblock content %}
