{% extends 'cards_container.html' %}
{% from 'macros.j2' import tooltip_attributes %}

{% block cards_container_title %}
    <i class="{{ nav_tab.icon_class }}"></i> {{ nav_tab.title }}
{% endblock %}

{% block cards_container_right_buttons %}
    <button
            class="btn btn-primary text-nowrap"
            hx-post="{{ url_for('admin-update-header') }}"
            hx-vals='{}'
            hx-swap="multi:#admin-header,#admin-content"
            hx-indicator="#please-wait"
    >
        <i class="bi-arrow-clockwise"></i>
    </button>
    <button
            class="btn btn-primary text-nowrap"
            hx-post="{{ url_for('admin-event-render-edit-modal') }}"
            hx-vals='{"action": "create"}'
            hx-target="#admin-modal-container"
            hx-swap="innerHTML"
            data-bs-toggle="modal"
            data-bs-target="#admin-modal-container"
            hx-indicator="#please-wait">
        <i class="bi-plus-square-fill"></i> Créer un évènement
    </button>
{% endblock %}

{% block cards_container_cards %}
    <div class="row">
        {% if nav_tab.events %}
            {% for event in nav_tab.events %}
                {% with
                    card_url=url_for('admin-render'),
                    card_payload='{"admin_main_selector": "' ~ event.uniq_id ~ '"}',
                    card_class=nav_tab.class
                %}
                    {% include 'admin_event_card.html' %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="col-12 mb-3">
                {{ nav_tab.empty_str }}
            </div>
        {% endif %}
    </div>
{% endblock %}

