{% extends 'admin_cards_container.html' %}
{% from 'macros.j2' import tooltip_attributes, event_visibility_icon %}

{% block cards_container_title %}
    {{ event_visibility_icon(admin_event, '') }}
    {{ admin_event.name }} - Tournois
{% endblock %}

{% block cards_container_right_buttons %}
    <span {{ tooltip_attributes('info', 'Rafraîchir cet onglet.', 'top') }}>
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-post="{{ url_for('admin-update-header') }}"
                hx-vals='{"admin_main_selector": "{{ admin_event.uniq_id }}", "admin_event_selector": "{{ admin_event_selector }}"}'
                hx-swap="multi:#admin-header,#admin-content"
                hx-indicator="#please-wait"
        >
            <i class="bi-arrow-clockwise"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', 'Ajouter un nouveau tournoi à l\'évènement.', 'top') }}>
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-post="{{ url_for('admin-tournament-render-edit-modal') }}"
                hx-vals='{"action": "create", "admin_event_uniq_id": "{{ admin_event.uniq_id }}"}'
                hx-target="#admin-modal-container"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#admin-modal-container"
                hx-indicator="#please-wait"
        >
            <i class="bi-plus-square-fill"></i> Créer un tournoi
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    <div class="row">
        {% for tournament in admin_event.tournaments_by_uniq_id.values() %}
            {% with card_class='bg-info-subtle' %}
                {% include 'admin_tournament_card.html' %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
