{% load static %}
{% load mathfilters %}
<html>
    <head>
        <title>{% block title %}Base title{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/papi-web.ico' %}"/>
        {# https://github.com/twbs/bootstrap/releases #}
        <link href="{% static 'lib/bootstrap/bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        {# https://github.com/twbs/icons/releases #}
        <link rel="stylesheet" href="{% static 'lib/bootstrap-icons/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
        {# https://jquery.com/download/ #}
        <script src="{% static 'lib/jquery/jquery-3.7.1.min.js' %}"></script>
        <script>
$(document).ready(function(){
    setTimeout(function(){
        $('#messages .alert-info').hide()
        $('#messages .alert-success').hide()
    }, 2000)
});
        </script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if messages %}{% for message in messages %}
            <div id="messages">
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}{% endif %}
        {% block content %}
            Body content
        {% endblock %}
        <div id="copyright-wrapper" class="copyright-wrapper">
            <div id="copyright" class="copyright">
                Papi-web {{ papi_web_info|get_item:'version' }} - {{ papi_web_info|get_item:'copyright' }} - <a href="{{ papi_web_info|get_item:'url' }}" target="_blank">{{ papi_web_info|get_item:'url' }}</a>
            </div>
        </div>
	    <div id="please-wait-wrapper"><div id="please-wait"></div></div>
        <div class="modal please-wait-modal" id="please-wait-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="please-wait-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Veuillez patienter...</h5>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'lib/bootstrap/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    </body>
    {% block footer %}
    {% endblock %}
</html>