<!DOCTYPE html>
<html>
    <head>
        {% if not request.htmx %}
            <title>{% block title %}Papi-web{% endblock %}</title>
            <link rel="shortcut icon" type="image/png" href="{{ url_for('static', file_path='/images/papi-web.ico') }}"/>
            {# https://github.com/twbs/bootstrap/releases #}
            <link href="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">
            {# https://github.com/twbs/icons/releases #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/bootstrap-icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/base.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/user.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/admin.css') }}" type="text/css" />
            {# https://jquery.com/download/ #}
            <script src="{{ url_for('static', file_path='/lib/jquery/jquery-3.7.1.min.js') }}"></script>
            {# https://unpkg.com/browse/htmx.org@1.9.12/dist/ #}
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-1.9.12/htmx.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-1.9.12/ext/remove-me.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-1.9.12/ext/multi-swap.js') }}"></script>
            {# https://github.com/SortableJS/Sortable #}
            <script src="{{ url_for('static', file_path='/lib/sortable/sortable-1.15.2/Sortable.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-sortable.js') }}"></script>
            {% block head %}
            {% endblock %}
        {% endif %}
    </head>
    <body hx-ext="multi-swap">
        <div id="messages" class="w-50 position-fixed top-0 end-0 m-2 z-2">
            {% include 'messages.html' %}
        </div>
        <div id="header-wrapper" class="header-wrapper top-0 position-sticky z-1">
            {% block header %}
            {% endblock %}
        </div>
        <div id="content-wrapper" class="content-wrapper">
            {% block content %}
                Body content
            {% endblock %}
        </div>
        <div id="footer-wrapper" class="footer-wrapper">
            {% block footer %}
            {% endblock %}
        </div>
        {% if not (user_screen and user_screen.type == 'image') %}
            <div id="copyright-wrapper" class="copyright-wrapper">
                <div id="copyright" class="copyright fst-italic text-center">
                    Papi-web {{ papi_web_config.version }} - {{ papi_web_config.copyright }} - <a href="{{ papi_web_config.url }}" rel = "noopener noreferrer" target="_blank">{{ papi_web_config.url }}</a>
                </div>
            </div>
        {% endif %}
	    <div id="please-wait-wrapper">
            <div
                    id="please-wait"
                    class="please-wait htmx-indicator position-fixed top-50 start-50 translate-middle"
            ></div>
        </div>
        <div id="modals"
            class="modal modal-blur overflow-auto"
            style="display: none"
            aria-hidden="false"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered d-block w-80 mw-100" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        {% if not request.htmx %}
            <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js') }}"></script>
            {{ tooltip_script() }}
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-bootstrap-tabs.js') }}"></script>
        {% endif %}
    </body>
</html>