<html>
    <head>
        <title>{% block title %}Base title{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', file_path='/images/papi-web.ico') }}"/>
        {# https://github.com/twbs/bootstrap/releases #}
        <link href="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-5.3.2-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        {# https://github.com/twbs/icons/releases #}
        <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/bootstrap-icons/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', file_path='/css/base.css') }}" type="text/css" />
        {# https://jquery.com/download/ #}
        <script src="{{ url_for('static', file_path='/lib/jquery/jquery-3.7.1.min.js') }}"></script>
        <script>
$(document).ready(function(){
    setTimeout(function(){
        $('#messages .alert-info').hide()
        $('#messages .alert-success').hide()
    }, 2000)
});
        </script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if messages %}
            <div id="messages">
            {% for message in messages %}
                <div class="alert {{ message.tag }} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message.text }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% block content %}
            Body content
        {% endblock %}
        <div id="copyright-wrapper" class="copyright-wrapper">
            <div id="copyright" class="copyright">
                Papi-web {{ papi_web_info.version }} - {{ papi_web_info.copyright }} - <a href="{{ papi_web_info.url }}" rel = "noopener noreferrer" target="_blank">{{ papi_web_info.url }}</a>
            </div>
        </div>
	    <div id="please-wait-wrapper"><div id="please-wait"></div></div>
        <div class="modal please-wait-modal" id="please-wait-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="please-wait-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Veuillez patienter...</h5>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    </body>
    {% block footer %}
    {% endblock %}
</html>