{#
Context:
- event
- tournament
- screen
- player
- now
- last_check_in_updated
#}
<td
    class="
        player-cell
        {% if screen.update and last_check_in_updated and last_check_in_updated.expiration > now and last_check_in_updated.tournament_uniq_id == tournament.uniq_id and last_check_in_updated.player_id == player.id %}
            last_check_in_updated
        {% endif %}"
>
    <i
        class="{% if player.check_in %}bi-check-square-fill{% else %}bi-square{% endif %}"
        {% if screen.update %}
            hx-target="closest td"
            hx-swap="outerHTML transition:true"
            hx-patch="{{ url_for('toggle-player-check-in', event_uniq_id=event.uniq_id, tournament_uniq_id=tournament.uniq_id, player_id=player.id, screen_id=screen.id) }}"
            hx-indicator="#please-wait"
        {% endif %}
    ></i> {% if player.title_str %}{{ player.title_str }}&nbsp;{% endif %}{{ player.last_name }} {{ player.first_name }} {{ player.rating }}{{ player.rating_type }}
</td>
