{% if tournament.current_round %}
{% with  wp = board.white_player, bp = board.black_player %}
<tr id="board-{{ tournament.id }}-{{ board.id }}-row"
    class="board-row {% if board.result_str %}board-row-result{% else %}board-row-no-result{% endif %}"
    {% if update and not board.result_str %} data-bs-toggle="modal" data-bs-target="#tournament-{{ tournament.id }}-board-{{ board.id }}-modal"
    hx-get="/result-modal" hx-target="#tournament-{{ tournament.id }}-board-{{ board.id }}-modal"
    hx-trigger="click"
    {% endif %}
>
    <th scope="row" class="board-number">{{ board.number }}.</th>
    <td class="points">{{ wp.vpoints_str }}</td>
    {% if tournament.print_real_points %}<td class="points"[{{ wp.points }}]</td>{% endif %}
    <td class="player">{% if wp.title_str %}{{ wp.title_str }}&nbsp;{% endif %}{{ wp.last_name }} {% if wp.first_name %}{{wp.first_name}} {% endif %}{{ wp.rating }}{{ wp.rating_type }}
        {% if tournament.handicap and bp.id != 1 %}(<span class="{% if wp.handicap_time_modified %}modified-time{% else %}base-time{% endif %}">
            {% if wp.handicap_initial_time_minutes %}<span class="minutes">{{ wp.handicap_initial_time_minutes }}'</span>{% endif %}{% if wp.handicap_initial_time_seconds %}<span class="seconds">{{ wp.handicap_initial_time_seconds }}</span>{% endif %}
                {% if tournament.handicap_increment %} + {{ tournament.handicap_increment }}"/cp{% endif %}
            </span>)
        {% endif %}
        {% if update and record_illegal_moves and bp.id != 1 %}
            {% for _ in range(board.white_illegal_moves) %}
                <i class="bi-flag-fill" hx-trigger="click" hx-delete="/illegal-move/{{ event.id }}/{{ tournament.id }}/{{ board.id }}/w"></i>
            {% endfor %}
            <i class="bi-flag illegal-move-flag" hx-trigger="click" hx-post="/illegal-move/{{ event.id }}/{{ tournament.id }}/{{ board.id }}/w"></i>
        {% endif %}
    </td>
    <td class="score">{% if board_result_str %}{{ board.result_str }}{% else %}n°{{ board.number }}{% endif %}</td>
    <td class="player">{% if bp.id == 1 %}<em>EXEMPT</em>{% else %}{% if bp.title_str %}{{ bp.title_str }}&nbsp;{% endif %}{{ bp.last_name }} {% if bp.first_name %}{{ bp.first_name }} {% endif %}{{ bp.rating }}{{wp.rating_type}}
        {% if tournament.handicap %}(<span class="{% if bp.handicap_time_modified %}modified-time{% else %}base-time{% endif %}">
            {% if bp.handicap_initial_time_minutes %}<span class="minutes">{{ bp.handicap_initial_time_minutes }}'</span>{% endif %}{% if bp.handicap_initial_time_seconds %}<span class="seconds">{{ bp.handicap_initial_time_seconds }}</span>{% endif %}
                {% if tournament.handicap_increment %} + {{tournament.handicap_increment }}"/cp{% endif %}
            </span>)
        {% endif %}
        {% if update and record_illegal_moves %}
            {% for _ in range(board.black_illegal_moves) %}
                <i class="bi-flag-fill" hx-trigger="click" hx-delete="/illegal-move/{{ event.id }}/{{ tournament.id }}/{{ board.id }}/b"></i>
            {% endfor %}
            <i class="bi-flag illegal-move-flag" hx-trigger="click" hx-post="/illegal-move/{{ event.id }}/{{ tournament.id }}/{{ board.id }}/b"></i>
        {% endif %}
    </td>
    {% if tournament.print_real_points %}<td class="points">{{ bp.points_str }}</td>{% endif %}
    <td class="points">{{ bp.vpoints_str }}</td>
    {% endif %}

    {% if update and not board_result_str %}
    <div id="tournament-{{ tournament.id }}-board-{{ board.id }}-modal" class="modal fade board-modal"
    data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="tournament-{{ tournament.id }}-board-{{ board.id }}-modal-label" aria-hidden="true"
    style="display: none;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content"></div>
        </div>
    </div>
    {% endif %}
</tr>
{% endwith %}
{% endif %}