{% if screen.update and tournament.record_illegal_moves %}
    <td class="
        illegal-moves-cell
        {% if screen.update and last_illegal_move_updated and last_illegal_move_updated.expiration > now and last_illegal_move_updated.tournament_id == tournament.id and last_illegal_move_updated.player_id == player.id %}
            last_illegal_move_updated
        {% endif %}"
    >
        {% for _ in range([player.illegal_moves, tournament.record_illegal_moves]|min) %}
            <span class="illegal-move-flag-wrapper">
                <i
                    class="
                        {% if board.result_str %}bi-file-fill{% else %}bi-file-excel-fill{% endif %}
                        illegal-move-flag
                        {% if not board.result_str %}delete{% endif %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML transition:true"
                    hx-delete="{{ url_for('delete-player-illegal-move', event_id=event.id, tournament_id=tournament.id, player_id=player.id, screen_id=screen.id) }}"
                    hx-indicator="#please-wait"
                ></i>
            </span>
        {% endfor %}
        {% if not board.result_str and player.illegal_moves < tournament.record_illegal_moves %}
            <span class="illegal-move-flag-wrapper">
                <i
                    class="bi-flag illegal-move-flag add player-{{ tournament.id }}-{{ player.id }}"
                    hx-target="closest tr"
                    hx-swap="outerHTML transition:true"
                    hx-put="{{ url_for('put-player-illegal-move', event_id=event.id, tournament_id=tournament.id, player_id=player.id, screen_id=screen.id) }}"
                    hx-indicator="#please-wait"
                ></i>
            </span>
        {%endif %}
    </td>
{% endif %}
