{% extends 'base.html' %}

{% block title %}
{{ event.name }} ({{ event.uniq_id }})
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', file_path='/css/timer.css') }}" type="text/css" />
{% if event.css %}<link rel="stylesheet" href="{{ url_for('static', file_path=event.css) }}" type="text/css" />{% endif %}
<script>
{% if event.timer %}
    {% include 'timer.js' %}
{% endif %}
</script>
{% endblock head %}

{% block content %}
    <div id="content-wrapper" class="content-wrapper p-3">
        <div
            class="event-updater"
            hx-get="{{ url_for('render-event-if-updated', event_uniq_id=event.uniq_id, date=now) }}"
            hx-target="body"
            hx-trigger="every 5s"
        ></div>
        {% if event.timer %}
            {% include 'timer.html' %}
        {% endif %}
        <h1>Papi-web - {{ event.name }}</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% with id='summary' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-info-square-fill" ></i>&nbsp;Informations
                    </button>
                </li>
            {% endwith %}
            {% with id='tournaments', tournaments_len=event.tournaments_by_id|length %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-people-fill" ></i>&nbsp;{{ tournaments_len }} tournoi{% if tournaments_len > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='screens', screen_len=event.screens_by_uniq_id|length %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-arrows-fullscreen" ></i>&nbsp;{{ screen_len }} écran{% if screen_len > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='rotators', rotators_len=event.rotators_by_id|length %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-repeat" ></i>&nbsp;{{ rotators_len }} écran{% if rotators_len > 1 %}s{% endif %} rotatif{% if rotators_len > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='timers', timers_len=event.timers_by_id|length %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-calendar2-event-fill" ></i>&nbsp;{{ timers_len }} chronomètre{% if timers_len > 1 %}s{% endif %} rotatif{% if timers_len > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='messages', messages_len=event.errors|length + event.warnings|length + event.infos|length %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-chat-fill" ></i>&nbsp;{{ messages_len }} message{% if messages_len > 1 %}s{% endif %}&nbsp;:&nbsp;&nbsp;<i class="bi-bug" ></i>&nbsp;{{ event.errors|length }}&nbsp;&nbsp;<i class="bi-exclamation-triangle" ></i>&nbsp;{{ event.warnings|length }}&nbsp;&nbsp;<i class="bi-info-circle" ></i>&nbsp;{{ event.infos|length }}
                    </button>
                </li>
            {% endwith %}
        </ul>
        <div class="tab-content p-3" id="myTabContent">
            {% with id='summary' %}
                <div class="tab-pane fade show active" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Information</th>
                                <th scope="col">Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Fichier de configuration</th>
                                <td>{{ event.ini_file }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ event.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Personnalisation CSS</th>
                                <td>{% if event.css %}{{ event.css }}{% else %}<span class="fst-italic">Aucune</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Mot de passe de saisie des scores</th>
                                <td>{% if event.update_password %}********{% else %}<span class="fst-italic">Aucun</span>{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='tournaments' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Fichier</th>
                                <th scope="col">Joueur·euses</th>
                                <th scope="col">Rondes</th>
                                <th scope="col">N° FFE</th>
                                <th scope="col">Mot de passe FFE</th>
                                <th scope="col">Handicap</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tournament in event.tournaments.values() %}
                                <tr>
                                    <th scope="row">{{ tournament.uniq_id }}</th>
                                    <td>{{ tournament.name }}</td>
                                    <td>{% if tournament.file %}{{ tournament.file }}{% if tournament.download_allowed %} <a href="{{ url_for('download-tournament', event_uniq_id=event.uniq_id, tournament_uniq_id=tournament.uniq_id) }}"><i class="bi-cloud-arrow-down"></i></a>{% endif %}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                                    <td>{% if tournament.file %}{{ tournament.players_by_name_with_unpaired | length }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                                    <td>{% if tournament.file %}{{ tournament.current_round }} / {{ tournament.rounds }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                                    <td>{% if tournament.ffe_id %}{{ tournament.ffe_id }}{% else %}<span class="fst-italic">Aucun</span>{% endif %}</td>
                                    <td>{% if tournament.ffe_password %}**********{% else %}<span class="fst-italic">Aucun</span>{% endif %}</td>
                                    <td>{% if tournament.handicap %}<i class="bi-plus-slash-minus"></i><i class="bi-hourglass-split">Oui</i>{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if event.download_allowed %}
                        <div>
                            <a href="{{ url_for('download-event-tournaments', event_uniq_id=event.uniq_id) }}"><strong><i class="bi-cloud-arrow-down-fill"></i></strong></a>
                        </div>
                    {% endif %}
                </div>
            {% endwith %}
            {% with id='screens' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Type</th>
                                <th scope="col">Affichage</th>
                                <th scope="col">Colonnes</th>
                                <th scope="col">Menu</th>
                                <th scope="col">Texte menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for screen in event.screens.values() %}
                                <tr>
                                    <th scope="row">{{ screen.id }}</th>
                                    <td><a href="{{ url_for('render-screen', event_uniq_id=event.uniq_id, screen_id=screen.id) }}" target="_blank">{{ screen.name }}</a></td>
                                    <td><i class="{{ screen.icon_str }}"></i>&nbsp;{{ screen.type_str }}</td>
                                    <td>{% if screen.type == 'results' %}{% if screen.limit %}{{ screen.limit }} max.{% else %}Tous{% endif %}{% else %}{{ screen.sets_str }}{% endif %}</td>
                                    <td>{{ screen.columns }}</td>
                                    <td>{% if screen.menu %}{% if screen.menu == '@view' %}Visualisation{% else %}{% if screen.menu == '@update' %}Saisie{% else %}{% if screen.menu.startswith('@family') %}{{ screen.family_id }}-*{% else %}{% if screen.menu %}{{ screen.menu }}{%else %}<span class="fst-italic">-</span>{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
                                    <td>{% if screen.menu_label %}{{ screen.menu_label }}{% else %}<span class="fst-italic">-</span>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='rotators' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Délai</th>
                                <th scope="col">Ecrans</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rotator in event.rotators.values() %}
                                <tr>
                                    <th scope="row"><a href="{{ url_for('render-rotator', event_uniq_id=event.uniq_id, rotator_id=rotator.id) }}" target="_blank">{{ rotator.id }}</a></th>
                                    <td>{{ rotator.delay }}</td>
                                    <td>
                                        {% for screen in rotator.screens %}
                                            {{ screen.id }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='timer' %}
                {% if event.timer %}
                    <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                        <table class="table border-black">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Message avant</th>
                                    <th scope="col">Message après</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hour in event.timer.hours %}
                                    <tr>
                                        <th scope="row">{{ hour.id }}</th>
                                        <td>{{ hour.datetime_str }}</td>
                                        <td>{{ hour.text_before }}</td>
                                        <td>{{ hour.text_after }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endwith %}
            {% with id='messages' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    {% if event.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div><strong><i class="bi-bug-fill"></i> Erreurs : {{ event.errors|length }}</strong></div>
                            {% for error in event.errors %}
                                <div><i class="bi-bug"></i> {{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if event.warnings %}
                        <div class="alert alert-warning" role="alert">
                            <div><strong><i class="bi-exclamation-triangle-fill"></i> Avertissements : {{ event.warnings|length }}</strong></div>
                            {% for warning in event.warnings %}
                                <div><i class="bi-exclamation-triangle"></i> {{ warning }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if event.infos %}
                        <div class="alert alert-info" role="alert">
                            <div><strong><i class="bi-info-circle-fill"></i> Informations : {{ event.infos|length }}</strong></div>
                            {% for info in event.infos %}
                                <div><i class="bi-info-circle"></i> {{ info }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock content %}