{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ event.id }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/timer.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/event.css' %}" type="text/css" />
<script>
{% if event.timer %}
    {% include 'timer.js' %}
{% endif %}
</script>
{% endblock head %}

{% block content %}
    <div id="content-wrapper" class="content-wrapper p-3">
        {% if event.timer %}
            {% include 'timer.html' %}
        {% endif %}
        <h1>Papi-web - {{ event.name }}</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% with id='summary' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-info-square-fill" ></i>&nbsp;Informations
                    </button>
                </li>
            {% endwith %}
            {% with id='tournaments' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-people-fill" ></i>&nbsp;{{ event.tournaments | length }} tournoi{% if event.tournaments|length > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='screens' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-arrows-fullscreen" ></i>&nbsp;{{ event.screens | length }} écran{% if event.screens|length > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='rotators' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-repeat" ></i>&nbsp;{{ event.rotators | length }} écran{% if event.rotators|length > 1 %}s{% endif %} rotatif{% if event.rotators|length > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='timer' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-calendar2-event-fill" ></i>&nbsp;{{ event.timer.events | length }} évènement{% if event.timer.events|length > 1 %}s{% endif %}
                    </button>
                </li>
            {% endwith %}
            {% with id='messages' errors_len=event.errors|length warnings_len=event.warnings|length infos_len=event.infos|length %}
            {% with messages_len=errors_len|add:warnings_len|add:infos_len %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}-tab-pane" type="button" role="tab" aria-controls="{{ id }}-tab-pane" aria-selected="true">
                        <i class="bi-chat-fill" ></i>&nbsp;{{ messages_len }} message{% if messages_len > 1 %}s{% endif %}&nbsp;:&nbsp;&nbsp;<i class="bi-bug" ></i>&nbsp;{{ errors_len }}&nbsp;&nbsp;<i class="bi-exclamation-triangle" ></i>&nbsp;{{ warnings_len }}&nbsp;&nbsp;<i class="bi-info-circle" ></i>&nbsp;{{ infos_len }}
                    </button>
                </li>
            {% endwith %}
            {% endwith %}
        </ul>
        <div class="tab-content p-3" id="myTabContent">
            {% with id='summary' %}
                <div class="tab-pane fade show active" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <th scope="col">Information</th>
                            <th scope="col">Valeur</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Fichier de configuration</th>
                                <td>{{ event.ini_file }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ event.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Personnalisation CSS</th>
                                <td>{% if event.css %}{{ event.css }}{% else %}<em>Aucune</em>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Mot de passe de saisie des scores</th>
                                <td>{% if event.update_password %}********{% else %}<em>Aucun</em>{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='tournaments' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Fichier</th>
                            <th scope="col">Joueur·euses</th>
                            <th scope="col">Rondes</th>
                            <th scope="col">N° FFE</th>
                            <th scope="col">Mot de passe FFE</th>
                            <th scope="col">Handicap</th>
                        </thead>
                        <tbody>
                            {% for tournament in event.tournaments.values %}
                                <tr>
                                    <th scope="row">{{ tournament.id }}</th>
                                    <td>{{ tournament.name }}</td>
                                    <td>{% if tournament.file %}{{ tournament.file }}{% else %}<em>-</em>{% endif %}</td>
                                    <td>{% if tournament.file %}{{ tournament.players_by_name | length }}{% else %}<em>-</em>{% endif %}</td>
                                    <td>{% if tournament.file %}{{ tournament.current_round }} / {{ tournament.rounds }}{% else %}<em>-</em>{% endif %}</td>
                                    <td>{% if tournament.ffe_id %}{{ tournament.ffe_id }}{% else %}<em>Aucun</em>{% endif %}</td>
                                    <td>{% if tournament.ffe_password %}**********{% else %}<em>Aucun</em>{% endif %}</td>
                                    <td>{% if tournament.handicap %}<i class="bi-plus-slash-minus"></i><i class="bi-hourglass-split">Oui{% else %}<em>-</em>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='screens' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Type</th>
                            <th scope="col">Affichage</th>
                            <th scope="col">Colonnes</th>
                            <th scope="col">Menu</th>
                            <th scope="col">Texte menu</th>
                        </thead>
                        <tbody>
                            {% for screen in event.screens.values %}
                                <tr>
                                    <th scope="row">{{ screen.id }}</th>
                                    <td><a href="{% url 'show-screen' event.id screen.id %}" target="_blank">{{ screen.name }}</a></td>
                                    <td><i class="{{ screen.icon_str }}"></i>&nbsp;{{ screen.type_str }}</td>
                                    <td>{% if screen.type == 'results' %}{% if screen.limit %}{{ screen.limit }} max.{% else %}Tous{% endif %}{% else %}{{ screen.sets_str }}{% endif %}</td>
                                    <td>{{ screen.columns }}</td>
                                    <td>{% if screen.menu %}{% if screen.menu == 'view' %}Visualisation{% else %}{% if screen.menu == 'update' %}Saisie{% else %}{% if screen.menu == 'family' %}{{ screen.family_id }}-*{% else %}{% if screen.menu %}{{ screen.menu }}{%else %}<em>-</em>{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
                                    <td>{% if screen.menu_text %}{{ screen.menu_text }}{% else %}<em>-</em>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='rotators' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    <table class="table border-black">
                        <thead class="table-dark">
                            <th scope="col">Id</th>
                            <th scope="col">Délai</th>
                            <th scope="col">Ecrans</th>
                        </thead>
                        <tbody>
                            {% for rotator in event.rotators.values %}
                                <tr>
                                    <th scope="row"><a href="{% url 'show-rotator' event.id rotator.id %}" target="_blank">{{ rotator.id }}</a></th>
                                    <td>{{ rotator.delay }}</td>
                                    <td>
                                        {% for screen in rotator.screens %}
                                            {{ screen.id }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
            {% with id='timer' %}
                {% if event.timer %}
                    <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                                        <table class="table border-black">
                                            <thead class="table-dark">
                                                <th scope="col">#</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Message avant</th>
                                                <th scope="col">Message après</th>
                                            </thead>
                                            <tbody>
                                                {% for event in event.timer.events %}
                                                    <tr>
                                                        <th scope="row">{{ event.id }}</th>
                                                        <td>{{ event.datetime_str }}</td>
                                                        <td>{{ event.text_before }}</td>
                                                        <td>{{ event.text_after }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                    </div>
                {% endif %}
            {% endwith %}
            {% with id='messages' %}
                <div class="tab-pane fade" id="{{ id }}-tab-pane" role="tabpanel" aria-labelledby="{{ id }}-tab" tabindex="0">
                    {% with id='messages' errors_len=event.errors|length warnings_len=event.warnings|length infos_len=event.infos|length %}
                    {% with messages_len=errors_len|add:warnings_len|add:infos_len %}
                        {% if event.errors %}
                            <div class="alert alert-danger" role="alert">
                                <div><strong><i class="bi-bug-fill"></i> Erreurs : {{ event.errors | length }}</strong></div>
                                {% for error in event.errors %}
                                    <div><i class="bi-bug"></i> {{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if event.warnings %}
                            <div class="alert alert-warning" role="alert">
                                <div><strong><i class="bi-exclamation-triangle-fill"></i> Avertissements : {{ event.warnings | length }}</strong></div>
                                {% for warning in event.warnings %}
                                    <div><i class="bi-exclamation-triangle"></i> {{ warning }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if event.infos %}
                            <div class="alert alert-info" role="alert">
                                <div><strong><i class="bi-info-circle-fill"></i> Informations : {{ event.infos | length }}</strong></div>
                                {% for info in event.infos %}
                                    <div><i class="bi-info-circle"></i> {{ info }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% endwith %}
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock content %}