{% from 'macros.j2' import tooltip_attributes, event_visibility_icon, screen_type_icon, rotator_icon, modal_script, tooltip_script, background_script %}

{% extends 'base.html' %}

{% block content %}
    <div id="home-content" class="content home-content">
        <div class="row justify-content-center">
            <div class="d-grid gap-2 col-auto mx-auto">
                <h1 class="text-center">Bienvenue dans Papi-web !</h1>
                <table class="table table-responsive table-sm border-black w-auto bg-light">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" colspan="2">Accès</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Depuis le serveur Papi-web
                            </th>
                            <td>
                                <a href="{{ papi_web_config.local_url }}" target="_blank">{{ papi_web_config.local_url }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Depuis le réseau local (LAN/WAN)
                            </th>
                            <td>
                                {% if papi_web_config.lan_url %}
                                    <a href="{{ papi_web_config.lan_url }}" target="_blank">{{ papi_web_config.lan_url }}</a>
                                {% else %}
                                    <span class="fst-italic">-</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button
                        hx-get="{{ url_for('user') }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        class="btn btn-primary btn-lg p-4 w-100"
                        {{ tooltip_attributes('info', 'Cliquez ici pour accéder aux écrans publics des évènements.', 'right') }}
                >
                    Évènements (accès public)
                </button>
                <div
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        data-bs-html="true"
                        {% if admin_auth %}
                            {{ tooltip_attributes('info', 'L\'interface d\'arbitrage permet la gestion des tournois des évènements.', 'right') }}
                        {% else %}
                            {{ tooltip_attributes('error', 'L\'accès à l\'interface d\'arbitrage n\'est pas autorisé depuis cette machine.', 'right') }}
                        {% endif %}
                >
                    <button
                            hx-get="{{ url_for('admin') }}"
                            hx-vals="{}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            class="btn btn-danger btn-lg p-1 w-100"
                            {% if not admin_auth %}
                                disabled
                            {% endif %}
                    >
                        Arbitrage (accès privé)
                    </button>
                </div>
            </div>
        </div>
        {{ modal_script() }}
        {{ tooltip_script() }}
        {{ background_script(background_info) }}
    </div>
{% endblock content %}