{% if login_needed %}
<div
        id="login-modal" class="modal login-modal fade show"
        data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="login-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-modal-label">Veuillez entrer le code d'accès à l'interface de saisie des résultats :</h5>
            </div>
            <div class="modal-body">
                <form method="POST">{% csrf_token %}
                    <div class="mb-3">
                        <label for="event-id" class="form-label">Evènement</label>
                        <input type="text" class="form-control" id="event-id" aria-describedby="event-id-help" value="{{ event.id }}" disabled>
                        <div id="event-id-help" class="form-text">Veuillez vous rapprocher de l'organisateur pour obtenir le code d'accès.</div>
                    </div>
                    <div class="mb-3">
                        <label for="config-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="event-password" aria-describedby="event-password-help" name="password">
                        <div id="event-password-help" class="form-text">Entrez ici le code d'accès défini dans le fichier events/{{ event.id }}.yml.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>
            </div>
            <!--div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div-->
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#login-modal').show();
    $('#event-password').focus();
});
</script>
{% endif %}