{% macro tooltip_attributes(tooltip_type, tooltip_text, tooltip_placement) %}
    data-bs-toggle="tooltip"
    data-bs-placement="{{ tooltip_placement or 'top' }}"
    data-bs-html="true"
    data-bs-custom-class="{% if tooltip_type == 'error' %}papi-web-tooltip-error{% elif tooltip_type == 'warning' %}papi-web-tooltip-warning{% else %}papi-web-tooltip-info{% endif %}"
    data-bs-title="<i class='{% if tooltip_type == 'error' %}bi-exclamation-triangle-fill{% elif tooltip_type == 'warning' %}bi-exclamation-triangle{% else %}bi-info-circle-fill{% endif %}'></i> {{ tooltip_text }}"
{% endmacro %}

{% macro visibility_icon(object_type, public, tooltip_public_text, tooltip_private_text, class) %}
    {% if public %}
        {% if object_type == 'event' %}
            {% set _tooltip_text=tooltip_public_text or 'Cet évènement est public (par défaut, les écrans sont visibles des utilisateur·ices).' %}
        {% elif object_type == 'screen' %}
            {% set _tooltip_text=tooltip_public_text or 'Cet écran est public (visible des utilisateur·ices).' %}
        {% elif object_type == 'family' %}
            {% set _tooltip_text=tooltip_public_text or 'Cette famille d\'écrans est publique (visible des utilisateur·ices).' %}
        {% elif object_type == 'rotator' %}
            {% set _tooltip_text=tooltip_public_text or 'Cet écran rotatif est public (visible des utilisateur·ices).' %}
        {% else %}
            {% set _tooltip_text=tooltip_public_text or '???' %}
        {% endif %}
        {% set _icon_class='bi-unlock-fill text-success' %}
    {% else %}
        {% if object_type == 'event' %}
            {% set _tooltip_text=tooltip_private_text or 'Cet évènement est privé (par défaut, les écrans ne sont pas visibles des utilisateur·ices).' %}
        {% elif object_type == 'screen' %}
            {% set _tooltip_text=tooltip_private_text or 'Cet écran est privé (non visible des utilisateur·ices).' %}
        {% elif object_type == 'family' %}
            {% set _tooltip_text=tooltip_private_text or 'Cette famille d\'écrans est privée (non visible des utilisateur·ices).' %}
        {% elif object_type == 'rotator' %}
            {% set _tooltip_text=tooltip_private_text or 'Cet écran rotatif est privé (non visible des utilisateur·ices).' %}
        {% else %}
            {% set _tooltip_text=tooltip_private_text or '???' %}
        {% endif %}
        {% set _icon_class='bi-lock-fill text-danger' %}
    {% endif %}
    <span
            class="fw-bold {{ class }}"
            {{ tooltip_attributes('info', _tooltip_text, tooltip_placement or 'top') }}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
{% endmacro %}

{% macro event_visibility_icon(event, class) %}
    {{ visibility_icon('event', event.public, '', '', class) }}
{% endmacro %}

{% macro screen_visibility_icon(event, class) %}
    {{ visibility_icon('screen', event.public, '', '', class) }}
{% endmacro %}

{% macro family_visibility_icon(event, class) %}
    {{ visibility_icon('family', event.public, '', '', class) }}
{% endmacro %}

{% macro rotator_visibility_icon(event, class) %}
    {{ visibility_icon('rotator', event.public, '', '', class) }}
{% endmacro %}

{% macro tournament_status_icon(tournament, class) %}
    {% if not tournament.rounds %}
        {% set _icon_class='bi-exclamation-triangle-fill text-danger' %}
        {% set _tooltip_text='' %}
    {% elif not tournament.current_round %}
        {% set _icon_class='bi-pause-fill' %}
        {% set _tooltip_text='Le tournoi n\'est pas commencé.' %}
    {% elif tournament.playing %}
        {% set _icon_class='bi-caret-right-square-fill' %}
        {% set _tooltip_text='Le tournoi est en cours.' %}
    {% else %}
        {% set _icon_class='bi-check-circle-fill text-success' %}
        {% set _tooltip_text='Le tournoi est terminé.' %}
    {% endif %}
    <span
            class="fw-bold {{ class }}"
            {% if _tooltip_text %}{{ tooltip_attributes('info', _tooltip_text, 'top') }}{% endif %}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
{% endmacro %}

{% macro screen_type_icon(screen_type, class) %}
    {% if screen_type == 'boards' %}
        {% set _icon_class='bi-card-list' %}
        {% set _tooltip_text='Les écrans d\'affichage des échiquiers présentent les appariements des joueur·euses par ordre croissant des échiquiers.' %}
    {% elif screen_type == 'input' %}
        {% set _icon_class='bi-pencil-fill' %}
        {% set _tooltip_text='Les écrans de saisie des résultats présentent les appariements des joueur·euses par ordre croissant des échiquiers et permet l\'entrée des résultats par les joueur·euses ou les arbitres.' %}
    {% elif screen_type == 'players' %}
        {% set _icon_class='bi-people-fill' %}
        {% set _tooltip_text='Les écrans d\'affichage des joueur·euses présentent les appariements des joueur·euses par ordre alphabétique.' %}
    {% elif screen_type == 'results' %}
        {% set _icon_class='bi-trophy-fill' %}
        {% set _tooltip_text='Les écrans de résultats affichent les derniers résultats saisis par ordre anti-chronologique (le plus récent d\'abord).' %}
    {% else %}
        {% set _icon_class='bi-question' %}
        {% set _tooltip_text='' %}
    {% endif %}
    <span
            class="fw-bold {{ class }}"
            {% if _tooltip_text %}{{ tooltip_attributes('info', _tooltip_text, 'top') }}{% endif %}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
{% endmacro %}

{% macro rotator_icon(class) %}
    <span
            class="fw-bold {{ class }}"
            {{ tooltip_attributes('info', 'Les écrans rotatifs permettent de faire défiler automatiquement plusieurs écrans.', 'top') }}
        >
        <i class="bi-repeat"></i>
    </span>
{% endmacro %}
