{#
Context:
- manage_event
#}
<h1>{{ manage_event.name }} - Configuration</h1>
<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col">Information</th>
            <th scope="col">Valeur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Fichier de configuration</th>
            <td>{{ manage_event.ini_file }}</td>
        </tr>
        <tr>
            <th scope="row">Nom</th>
            <td>{{ manage_event.name }}</td>
        </tr>
        <tr>
            <th scope="row">Personnalisation CSS</th>
            <td>{% if manage_event.css %}{{ manage_event.css }}{% else %}<em>Aucune</em>{% endif %}</td>
        </tr>
        <tr>
            <th scope="row">Mot de passe de saisie des scores</th>
            <td>{% if manage_event.update_password %}********{% else %}<em>Aucun</em>{% endif %}</td>
        </tr>
    </tbody>
</table>
