{#
Context:
- manage_event_selector_options
- manage_event_selector
- manage_event
#}
<span id="manage-event-selector" class="">
    {% if manage_event %}
        <select
            name="manage_event_selector"
            hx-post="{{ url_for('update-manage-event-selector', event_id=manage_event.id) }}"
            hx-swap="multi:#manage-event-selector,#manage-content"
        >
            {% for option_value, option_text in manage_event_selector_options.items() %}
                <option value="{{ option_value }}" {% if manage_event_selector == option_value %}selected{% endif %}>{{ option_text }}</option>
            {% endfor %}
        </select>
    {% endif %}
</span>
