{#
Context:
- manage_main_selector_options
- manage_main_selector
- manage_event
- manage_event_selector
- papi_web_info
- papi_web_config
- odbc_drivers
- access_driver
#}
{% extends 'base.html' %}

{% block title %}
Papi-web
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', file_path='/css/manage.css') }}" type="text/css" />
{% endblock head %}

{% block header %}
    <div id="manage-header-wrapper" class="manage-header-wrapper">
        {% include 'manage_header.html' %}
    </div>
{% endblock header %}

{% block content %}
    <div id="manage-content-wrapper" class="manage-content-wrapper p-3">
        {% include 'manage_content.html' %}
    </div>
{% endblock content %}

{% block footer %}
    <div id="manage-footer-wrapper" class="">
        <div id="manage-footer" class="">
        </div>
    </div>
{% endblock footer %}
