{#
Context:
- manage_event
#}
<h1>{{ manage_event.name }} - Écrans</h1>
<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Affichage</th>
            <th scope="col">Colonnes</th>
            <th scope="col">Menu</th>
            <th scope="col">Texte menu</th>
        </tr>
    </thead>
    <tbody>
        {% for screen in manage_event.screens.values() %}
            <tr>
                <th scope="row">{{ screen.id }}</th>
                <td><a href="{{ url_for('render-screen', event_id=manage_event.id, screen_id=screen.id) }}" target="_blank">{{ screen.name }}</a></td>
                <td><i class="{{ screen.icon_str }}"></i>&nbsp;{{ screen.type_str }}{% if screen.record_illegal_moves %}&nbsp;{% for _ in range(screen.record_illegal_moves) %}<i class="bi-flag-fill"></i>{% endfor %}{% endif %}</td>
                <td>{% if screen.type == 'results' %}{% if screen.limit %}{{ screen.limit }} max.{% else %}Tous{% endif %}{% else %}{{ screen.sets_str }}{% endif %}</td>
                <td>{{ screen.columns }}</td>
                <td>{% if screen.menu %}{% if screen.menu == 'view' %}Visualisation{% else %}{% if screen.menu == 'update' %}Saisie{% else %}{% if screen.menu == 'family' %}{{ screen.family_id }}-*{% else %}{% if screen.menu %}{{ screen.menu }}{%else %}<em>-</em>{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
                <td>{% if screen.menu_label %}{{ screen.menu_label }}{% else %}<em>-</em>{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
