{#
Context:
- manage_event
#}
<h1>{{ manage_event.name }} - Chronomètre</h1>
<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Message avant</th>
            <th scope="col">Message après</th>
        </tr>
    </thead>
    <tbody>
        {% for hour in manage_event.timer.hours %}
            <tr>
                <th scope="row">{{ hour.id }}</th>
                <td>{{ hour.datetime_str }}</td>
                <td>{{ hour.text_before }}</td>
                <td>{{ hour.text_after }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
