{#
Context:
- manage_event
#}
<h1>{{ manage_event.name }} - Écrans rotatifs</h1>
<table class="table border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Délai</th>
            <th scope="col">Ecrans</th>
        </tr>
    </thead>
    <tbody>
        {% for rotator in manage_event.rotators.values() %}
            <tr>
                <th scope="row"><a href="{{ url_for('render-rotator', event_id=manage_event.id, rotator_id=rotator.id) }}" target="_blank">{{ rotator.id }}</a></th>
                <td>{{ rotator.delay }}</td>
                <td>
                    {% for screen in rotator.screens %}
                        {{ screen.id }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
