{#
Context:
- manage_event
#}
<h1>{{ manage_event.name }} - Messages</h1>
{% if manage_event.errors %}
    <div class="alert alert-danger" role="alert">
        <div><strong><i class="bi-bug-fill"></i> Erreurs : {{ manage_event.errors|length }}</strong></div>
        {% for error in manage_event.errors %}
            <div><i class="bi-bug"></i> {{ error }}</div>
        {% endfor %}
    </div>
{% endif %}
{% if manage_event.warnings %}
    <div class="alert alert-warning" role="alert">
        <div><strong><i class="bi-exclamation-triangle-fill"></i> Avertissements : {{ manage_event.warnings|length }}</strong></div>
        {% for warning in manage_event.warnings %}
            <div><i class="bi-exclamation-triangle"></i> {{ warning }}</div>
        {% endfor %}
    </div>
{% endif %}
{% if manage_event.infos %}
    <div class="alert alert-info" role="alert">
        <div><strong><i class="bi-info-circle-fill"></i> Informations : {{ manage_event.infos|length }}</strong></div>
        {% for info in manage_event.infos %}
            <div><i class="bi-info-circle"></i> {{ info }}</div>
        {% endfor %}
    </div>
{% endif %}
