{% extends 'base.html' %}

{% block title %}
{% if screen.menu_label %}{{ screen.menu_label }}{% else %}{{ screen.id }}{% endif %} ({{ event.id }})
{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', file_path='css/timer.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', file_path='css/screen.css') }}" type="text/css" />
{% if event.css %}<link rel="stylesheet" href="{{ url_for('static', file_path=event.css) }}" type="text/css" />{% endif %}
<script>
    {% if event.timer %}
        {% if screen.show_timer %}
            {% include 'timer.js' %}
        {% endif %}
    {% endif %}
</script>
<style>
    .player-cell.last_check_in_updated, .player-cell.last_illegal_move_updated {
    .illegal-moves-cell.last_check_in_updated, .illegal-moves-cell.last_illegal_move_updated {
        color: red !important;
    }
    .board-row.last_result_updated > * {
        color: red !important;
    }
</style>
{% endblock head %}

{% block content %}
    <div id="content-wrapper" class="content-wrapper">
        {% if rotator %}
            <div
                class="rotator-updater"
                hx-get="{{ url_for('render-rotator-screen', event_id=event.id, rotator_id=rotator.id, rotator_screen_index=rotator_screen_index + 1) }}"
                hx-target="body"
                hx-trigger="load delay:10s"
            ></div>
        {% else %}
            <div
                class="screen-updater"
                hx-get="{{ url_for('render-screen-if-updated', event_id=event.id, screen_id=screen.id, date=now) }}"
                hx-target="body"
                hx-trigger="every 5s"
            ></div>
        {% endif %}
        {% if screen.menu_screens %}
            <div id="#menu" class="menu">
                {% for entry in screen.menu_screens %}
                    <a href="{{ url_for('render-screen', event_id=event.id, screen_id=entry.id) }}" class="menu-item {% if screen.id == entry.id %}selected{% endif %}">{{ entry.menu_label }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% if event.timer %}
            {% if screen.show_timer %}
                {% include 'timer.html' %}
            {% endif %}
        {% endif %}
        {% if screen.type == 'boards' %}
            <div class="screen boards-screen {% if screen.update %}update{% else %}view{% endif %}">
                {% include 'login-modal.html' %}
                {% for screen_set in screen.sets %}
                    {% include 'boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'players' %}
            <div class="screen players-screen">
                {% for screen_set in screen.sets %}
                    {% include 'players_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'results' %}
            <div class="screen results-screen">
                {% include 'results_screen.html' %}
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
