{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if screen.menu_label %}{{ screen.menu_label }}{% else %}screen.id{% endif %} ({{ event.id }})
{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/timer.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/screen.css' %}" type="text/css" />
{% if event.css %}<link rel="stylesheet" href="{% static event.css %}" type="text/css" />{% endif %}
<script>
{% include 'refresh.js' %}
{% if event.timer %}
    {% if screen.show_timer %}
        {% include 'timer.js' %}
    {% endif %}
{% endif %}
</script>
{% endblock head %}

{% block content %}
    {% if screen.menu_screens %}
        <div id="#menu" class="menu">
            {% for entry in screen.menu_screens %}
                <a href="{% url 'show-screen' event.id entry.id %}" class="menu-item {% if screen.id == entry.id %}selected{% endif %}">{% spaceless %}
                    {{ entry.menu_label }}
                    {% endspaceless %}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if event.timer %}
        {% if screen.show_timer %}
            {% include 'timer.html' %}
        {% endif %}
    {% endif %}
    {% if screen.type == 'boards' %}
        <div class="screen screen-boards {% if screen.update %}screen-boards-update{% else %}view-only{% endif %}">
            {% include 'screen_boards.html' %}
        </div>
    {% endif %}
    {% if screen.type == 'players' %}
        <div class="screen screen-players">
            {% include 'screen_players.html' %}
        </div>
    {% endif %}
    {% if screen.type == 'results' %}
        <div class="screen screen-results">
            {% include 'screen_results.html' %}
        </div>
    {% endif %}
{% endblock content %}

{% block footer %}
    <script>
    {% if screen.update %}
        function add_result(tournament_id, board_id, result) {
            stop_refresh_interval();
            please_wait();
            window.location = '/result/{{ event.id }}/{{ screen.id }}/' + tournament_id + '/' + board_id + '/' + result;
        }
    {% endif %}
    $(document).ready(function(){
        $('.menu').click(function () {
            refresh();
        });
        $('.screen .set-title').click(function () {
            refresh();
        });
        $('.screen-boards thead').click(function () {
            refresh();
        });
        $('.screen-boards .board-row-result').click(function () {
            refresh();
        });
        $('.screen-boards-view-only .board-row-no-result').click(function () {
            refresh();
        });
        $('.screen-results table').click(function () {
            refresh();
        });
        $('.screen-players table').click(function () {
            refresh();
        });
    });
    {% if rotator_next_url %}
        $(document).ready(function(){
            setTimeout(function(){
                window.location = '{{ rotator_next_url }}';
            }, {{ rotator_delay }} * 1000)
        });
    {% endif %}
    </script>
{% endblock footer %}
