{% extends 'base.html' %}

{% block header %}
    <div id="user-screen-header" class="header user-header user-screen-header">
        <div
                hx-trigger="click, keyup[key=='Escape'] from:body"
                hx-get="{{ url_for('user-event-render', event_uniq_id=event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait">
        </div>
        <script>
            {% if screen.timer %}
                {% if not screen.timer.error %}
                    {% include 'user_timer.js' %}
                {% endif %}
            {% endif %}
        </script>
        {% if screen.menu_screens %}
            <div id="#menu" class="menu">
                {% for entry in screen.menu_screens %}
                    <a
                            href="{{ url_for('user-screen-render', event_uniq_id=event.uniq_id, screen_uniq_id=entry.uniq_id) }}"
                            class="menu-item {% if screen.id == entry.id %}selected{% endif %}"
                    >{{ entry.menu_label }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.timer %}
            {% include 'user_timer.html' %}
            <script>{% include 'user_timer.js' %}</script>
        {% endif %}
        {% if rotator %}
            <div
                    class="rotator-updater"
                    hx-post="{{ url_for('user-rotator-render-screen') }}"
                    hx-vals='{"event_uniq_id": "{{ event.uniq_id }}", "rotator_id": "{{ rotator.id }}, "rotator_screen_index": {{ rotator_screen_index + 1}}"}'
                    hx-target="body"
                    hx-trigger="every {{ rotator.delay }}s"
                    hx-indicator="#please-wait"
            ></div>
        {% else %}
            <input
                    class="updater screen-updater"
                    type="hidden"
                    name="date"
                    value="{{ now }}"
                    hx-post="{{ url_for('user-screen-render-if-updated') }}"
                    hx-vals='{"event_uniq_id": "{{ event.uniq_id }}", "screen_uniq_id": "{{ screen.uniq_id }}"}'
                    hx-include="this"
                    hx-target="body"
                    hx-trigger="every {{ papi_web_config.user_screen_update_delay }}s queue:none"
                    hx-indicator="#please-wait"
            />
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div id="user-screen-content" class="content user-content user-screen-content">
        {% if screen.type == 'boards' %}
            <div class="screen boards-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'input' %}
            <div class="screen input-screen">
                {% include 'user_login_modal.html' %}
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'players' %}
            <div class="screen players-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_players_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'results' %}
            <div class="screen results-screen">
                {% include 'user_results_screen.html' %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
