{% extends 'base.html' %}

{% from 'macros.j2' import tooltip_attributes, event_visibility_icon, screen_type_icon, rotator_icon %}

{% block header %}
    <div id="user-header" class="header user-header user-event-header mx-2 position-sticky top-0 border-bottom border-dark">
        <input
                class="updater event-updater"
                type="hidden"
                name="date"
                value="{{ now }}"
                hx-post="{{ url_for('user-event-render-if-updated') }}"
                hx-vals='{"user_event_uniq_id": "{{ user_event.uniq_id }}", "user_event_selector": "{{ user_event_selector }}"}'
                hx-include="this"
                hx-target="body"
                hx-trigger="every {{ papi_web_config.user_event_update_delay }}s queue:none"
                hx-indicator="#please-wait"
        />
        <div hx-ext="bs-tabs" class="bs-tabs">
            <nav>
                <div class="nav nav-tabs mt-1" id="nav-tab" role="tablist">
                    <button
                            class="btn btn-link link-dark fs-5 fw-bold px-1 py-0"
                            hx-get="{{ url_for('user-render') }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            hx-trigger="click, keyup[key=='Escape'] from:body"
                    >
                        <i class="bi-arrow-left-circle-fill"></i>
                    </button>
                    {% for nav_id, nav_tab in nav_tabs.items() %}
                        {% with active=(user_event_selector == nav_id) %}
                            <button
                                    class="nav-link border-dark {%if active %}active{%else%}bg-body-secondary{% endif %} fw-bold px-2 py-0 ms-1 text-nowrap"
                                    id="nav-{{ nav_id }}-tab"
                                    hx-post="{{ url_for('user-update-header') }}"
                                    hx-vals='{"user_event_uniq_id": "{{ user_event.uniq_id }}", "user_event_selector": "{{ nav_id }}"}'
                                    hx-swap="multi:#user-header,#user-content"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-{{ nav_id }}"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-{{ nav_id }}"
                                    aria-selected="true"
                                    hx-indicator="#please-wait"
                            >
                                {% if nav_id == 'rotators' %}
                                    {{ rotator_icon('') }}
                                {% else %}
                                    {{ screen_type_icon(nav_id) }}
                                {% endif %}
                                {{ nav_tab.title }}
                                ({%- if nav_id == 'rotators' -%}
                                    {{ nav_tab.rotators|length }}
                                {%- else -%}
                                    {{ nav_tab.screens|length }}
                                {%- endif -%})
                            </button>
                        {% endwith %}
                    {% endfor %}
                    {% include 'user_columns_buttons.html' %}
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="user-content" class="content user-content user-event-content tab-content border border-dark mx-2 p-3">
        {% for nav_id, nav_tab in nav_tabs.items() %}
            {% with
                active=user_event_selector == nav_id
            %}
                <div
                        class="tab-pane fade {% if active %}show active{% endif %}"
                        id="nav-{{ nav_id }}"
                        role="tabpanel"
                        aria-labelledby="nav-{{ nav_id }}-tab"
                        tabindex="0"
                >
                    {% if active %}
                        <section class="pt-1 pb-1 shadow-sm">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 fs-3 fw-bold text-nowrap mb-2">
                                        {% if user_event_selector == 'rotators' %}
                                            {{ rotator_icon() }} {{ user_event.name }} - {{ nav_tab.title }}
                                        {% else %}
                                            {{ screen_type_icon(nav_id) }} {{ user_event.name }} - {{ nav_tab.title }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {% if user_event_selector == 'rotators' %}
                                        {% if nav_tab.rotators %}
                                            {% for rotator in nav_tab.rotators %}
                                                {% with
                                                    card_url=url_for('user-rotator-render'),
                                                    card_payload='{"user_event_uniq_id": "' ~ user_event.uniq_id ~ '", "user_event_selector": "' ~ user_event_selector ~ '", "rotator_id": "' ~ rotator.id ~ '"}',
                                                    card_class='bg-info-subtle'
                                                %}
                                                    {% include 'user_event_rotator_card.html' %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-12 mb-3">
                                                Aucun écran de ce type.
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if nav_tab.screens %}
                                            {% for screen in nav_tab.screens %}
                                                {% with
                                                    card_url=url_for('user-screen-render'),
                                                    card_payload='{"user_event_uniq_id": "' ~ user_event.uniq_id ~ '", "user_event_selector": "' ~ user_event_selector ~ '", "screen_uniq_id": "' ~ screen.uniq_id ~ '"}',
                                                    card_class='bg-info-subtle'
                                                %}
                                                    {% include 'user_event_screen_card.html' %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-12 mb-3">
                                                Aucun écran de ce type.
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock content %}
