<td
    class="
        player-cell bg-transparent
        {% if screen.type == 'input' and last_check_in_updated and last_check_in_updated.expiration > now and last_check_in_updated.tournament_id == tournament.id and last_check_in_updated.player_id == player.id %}
            last_check_in_updated
        {% endif %}"
>
    <i
        class="{% if player.check_in %}bi-check-square-fill{% else %}bi-square{% endif %}"
        {% if screen.type == 'input' %}
            hx-target="body"
            hx-swap="transition:true"
            hx-patch="{{ url_for('user-toggle-check-in', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, player_id=player.id) }}"
            hx-indicator="#please-wait"
        {% endif %}
    ></i> {% if player.title_str %}{{ player.title_str }}&nbsp;{% endif %}{{ player.last_name }} {{ player.first_name }} {{ player.rating }}{{ player.rating_type }}
</td>
