{% extends 'base.html' %}

{% from 'macros.j2' import tooltip_attributes, event_visibility_icon, screen_type_icon %}

{% block header %}
    <div id="user-event-header" class="header user-header user-event-header p-1 position-sticky top-0">
        <button
                class="btn btn-link link-dark"
                hx-get="{{ url_for('user-render') }}"
                hx-target="body"
                hx-indicator="#please-wait"
                hx-trigger="click, keyup[key=='Escape'] from:body"
        >
            <i class="bi-arrow-left-circle-fill fs-3"></i>
        </button>
        <input
                class="updater event-updater"
                type="hidden"
                name="date"
                value="{{ now }}"
                hx-post="{{ url_for('user-event-render-if-updated') }}"
                hx-vals='{"event_uniq_id": "{{ event.uniq_id }}"}'
                hx-include="this"
                hx-target="body"
                hx-trigger="every {{ papi_web_config.user_event_update_delay }}s queue:none"
                hx-indicator="#please-wait"
        />
        <h1 class="d-inline-block">{{ event.name }} - Écrans</h1>
    </div>
{% endblock %}

{% block content %}
    <div id="user-event-content" class="content user-content user-event-content p-3">
        <section class="pt-1 pb-1 shadow-sm">
            <div class="container-fluid">
                {% for screen_type, screen_data in {
                    'input': {
                        'title': 'Saisie des résultats',
                        'class': 'bg-danger-subtle',
                    },
                    'boards': {
                        'title': 'Affichage des échiquiers',
                        'class': 'bg-info-subtle',
                    },
                    'players': {
                        'title': 'Affichage des appariements',
                        'class': 'bg-primary-subtle',
                    },
                    'results': {
                        'title': 'Affichage des résultats',
                        'class': 'bg-secondary-subtle',
                    },
                }.items() %}
                    <div class="row">
                        <h2 class="col-12 text-nowrap">
                            {{ screen_type_icon(screen_type) }}
                            {{ screen_data.title }}
                        </h2>
                    </div>
                    {% set ns = namespace(screen_found=false) %}
                    <div class="row">
                        {% for screen in event.screens_sorted_by_uniq_id %}
                            {% if screen.type == screen_type %}
                                {% set ns.screen_found=true %}
                                {% with card_url=url_for('user-screen-render', event_uniq_id=event.uniq_id, screen_uniq_id=screen.uniq_id), card_class=screen_data.class %}
                                    {% include 'user_event_screen_card.html' %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                        {% if not ns.screen_found %}
                            <div class="col-12 mb-3">
                                Aucun écran de ce type.
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock content %}
