{% extends 'base.html' %}

{% block header %}
    <div id="user-home-header" class="header user-header user-home-header p-3">
        <button
                class="btn btn-link link-dark"
                hx-get="{{ url_for('index') }}"
                hx-target="body"
                hx-indicator="#please-wait"
                hx-trigger="click, keyup[key=='Escape'] from:body"
        >
            <i class="bi-house-fill fs-3"></i>
        </button>
        <input
                class="updater user-updater"
                type="hidden"
                name="date"
                value="{{ now }}"
                hx-post="{{ url_for('user-render-if-updated') }}"
                hx-include="this"
                hx-target="body"
                hx-trigger="every {{ papi_web_config.user_index_update_delay }}s queue:none"
                hx-indicator="#please-wait"
        />
        <h1 class="d-inline-block">Évènements</h1>
{% endblock %}

{% block content %}
        {# cf https://codepen.io/Kerrys7777/pen/QWgwEeG Equal height Bootstrap 5 cards #}
        <section class="pt-1 pb-1 shadow-sm">
            <div class="container-fluid">
                {% with title='Évènements en cours', events=event_loader.current_public_events, class='bg-primary-subtle', calendar_icon='bi-calendar' %}
                    {% include 'user_index_event_cards.html' %}
                {% endwith %}
                {% with title='Évènements à venir', events=event_loader.coming_public_events, class='bg-info-subtle', calendar_icon='bi-calendar-check' %}
                    {% include 'user_index_event_cards.html' %}
                {% endwith %}
                {% with title='Évènements passés', events=event_loader.passed_public_events, class='bg-secondary-subtle', calendar_icon='bi-calendar-minus' %}
                    {% include 'user_index_event_cards.html' %}
                {% endwith %}
            </div>
        </section>
    </div>
{% endblock content %}
