{% with tournament=screen_set.tournament %}
    <div
            class="boards-screen-set"
    >
        {% if not rotator %}
            <input
                    class="updater screen-set-updater"
                    type="hidden"
                    name="date"
                    value="{{ now }}"
                    hx-post="{{ url_for('user-boards-screen-set-render-if-updated') }}"
                    hx-vals='{"user_main_selector": "{{ user_event.uniq_id }}", "user_event_selector": "{{ user_event_selector }}", "screen_uniq_id": "{{ screen.uniq_id }}", "screen_set_uniq_id": "{{ screen_set.uniq_id }}"}'
                    hx-include="this"
                    hx-target="closest .boards-screen-set"
                    hx-swap="outerHTML"
                    hx-trigger="every {{ papi_web_config.user_screen_set_update_delay }}s queue:none"
                    hx-indicator="#please-wait"
            />
        {% endif %}
        {% if tournament.current_round %}
            <div class="boards-set">
                <h2 class="set-title text-center">{{ screen_set.name_for_boards }} (ronde {{ tournament.current_round }})</h2>
                <div class="row screen-set-row mx-0 w-100">
                    {% for boards in screen_set.boards_lists %}
                        <div class="col screen-set-col {% if loop.first %}ps-0{% endif %} {% if loop.last %}pe-0{% endif %}">
                            <table class="table table-striped table-sm bg-light">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="board-number">Ech</th>
                                        <th scope="col" class="points">Pts</th>
                                        {% if tournament.print_real_points %}<th scope="col" class="points">&nbsp;</th>{% endif %}
                                        <th scope="col" class="player w-50" {% if screen.type == 'input' and tournament.record_illegal_moves %}colspan="2">{% endif %}Blancs{% if tournament.handicap %} (temps){% endif %}</th>
                                        <th scope="col" class="score">Score</th>
                                        <th scope="col" class="player w-50" {% if screen.type == 'input' and tournament.record_illegal_moves %}colspan="2">{% endif %}Noirs{% if tournament.handicap %} (temps){% endif %}</th>
                                        {% if tournament.print_real_points %}<th scope="col" class="points">&nbsp;</th>{% endif %}
                                        <th scope="col" class="points">Pts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for board in boards %}
                                    {% include 'user_boards_screen_board_row.html' %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="players-set">
                <h2 class="set-title text-center">{{ screen_set.name_for_boards }} (pointage)</h2>
                <div class="row screen-set-row mx-0 w-100">
                    {% for players_by_name_tuple in screen_set.players_by_name_tuple_lists %}
                        <div class="col screen-set-col">
                            <div class="row screen-set-tuple-row w-100 px-0">
                                {% for players_by_name in players_by_name_tuple %}
                                    <div class="col screen-set-tuple-col {% if loop.first %}ps-0{% endif %} {% if loop.last %}pe-0{% endif %}">
                                        <table class="table table-striped table-sm bg-light">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th scope="col" class="player">Joueur.euse / Elo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for player in players_by_name %}
                                                <tr class="player-row">
                                                    {% include 'user_boards_screen_player_row_player_cell.html' %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endwith %}
