<td
        class="
            player-cell bg-transparent
            {% if screen.type == 'input' and last_illegal_move_updated and last_illegal_move_updated.expiration > now and last_illegal_move_updated.tournament_id == tournament.id and last_illegal_move_updated.player_id == player.id %}
                last_illegal_move_updated
            {% endif %}"
        {% if screen.type == 'input' and not board.result_str %}
            hx-get="{{ url_for('user-result-modal', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, board_id=board.id) }}"
            hx-target="body"
            hx-swap="transition:true"
        {% endif %}
>
    {% if player.id == 1 %}
        <span class="fst-italic">EXEMPT</span>
    {% else %}{% if player.title_str %}{{ player.title_str }}&nbsp;{% endif %}{{ player.last_name }} {{ player.first_name }} {{ player.rating }}{{ player.rating_type }}
    {% if tournament.handicap and opponent.id != 1 %}(<span class="{%if player.time_control_modified %}time-control-modified{% else %}time-control-unchanged{% endif %}">{%if player.time_control_initial_time_minutes %}<span class="minutes">{{ player.time_control_initial_time_minutes }}'</span>{% endif %}{%if player.time_control_initial_time_seconds %}<span class="seconds">{{ player.time_control_initial_time_seconds }}"</span>{% endif -%}
    {% if tournament.time_control_increment %} + {{ tournament.time_control_increment }}"/cp{% endif %}</span>){% endif %}{% endif %}
</td>
