{% extends 'base.html' %}

{% block header %}
    <div id="user-screen-header" class="header user-header user-screen-header">
        <div
                hx-trigger="click, keyup[key=='Escape'] from:body"
                hx-post="{{ url_for('user-event-render') }}"
                hx-vals='{"event_uniq_id": "{{ event.uniq_id }}"}'
                hx-target="body"
                hx-indicator="#please-wait">
        </div>
        <script>
            {% if screen.timer %}
                {% if not screen.timer.error %}
                    {% include 'user_timer.js' %}
                {% endif %}
            {% endif %}
        </script>
        {% if screen.menu_screens %}
            <div id="#screen-menu" class="screen-menu text-start w-100 m-0 p-2 fw-bold">
                {% for entry in screen.menu_screens %}
                    {% if entry.menu_label is not none %}
                        <a
                                class="screen-menu-item text-nowrap py-0 px-2 my-0 mx-1 {% if screen.id == entry.id %}selected{% endif %}"
                                hx-post="{{ url_for('user-screen-render') }}"
                                hx-vals='{"event_uniq_id": "{{ event.uniq_id }}", "screen_uniq_id": "{{ entry.uniq_id }}"}'
                                hx-target="body"
                                hx-indicator="#please-wait"
                        >{{ entry.menu_label }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.timer %}
            {% include 'user_timer.html' %}
            <script>{% include 'user_timer.js' %}</script>
        {% endif %}
        {% if rotator %}
            <div
                    class="rotator-updater"
                    hx-post="{{ url_for('user-rotator-render-screen') }}"
                    hx-vals='{"event_uniq_id": "{{ event.uniq_id }}", "rotator_id": "{{ rotator.id }}", "rotator_screen_index": "{{ rotator_screen_index + 1}}"}'
                    hx-target="body"
                    hx-trigger="every {{ rotator.delay }}s"
                    hx-indicator="#please-wait"
            ></div>
        {% else %}
            <input
                    class="updater screen-updater"
                    type="hidden"
                    name="date"
                    value="{{ now }}"
                    hx-post="{{ url_for('user-screen-render-if-updated') }}"
                    hx-vals='{"event_uniq_id": "{{ event.uniq_id }}", "screen_uniq_id": "{{ screen.uniq_id }}"}'
                    hx-include="this"
                    hx-target="body"
                    hx-trigger="every {{ papi_web_config.user_screen_update_delay }}s queue:none"
                    hx-indicator="#please-wait"
            />
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div id="user-screen-content" class="content user-content user-screen-content">
        {% if screen.type == 'boards' %}
            <div class="screen boards-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'input' %}
            <div class="screen input-screen">
                {% include 'user_login_modal.html' %}
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'players' %}
            <div class="screen players-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_players_screen_set.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.type == 'results' %}
            <div class="screen results-screen">
                {% include 'user_results_screen.html' %}
            </div>
        {% endif %}
    </div>
    <script>
        {# manually remove the modal backdrop when reloading #user-screen-content (too many modal-backdrop divs are created by Bootstrap when opening modals) #}
        $(document).ready(function(){
            $('body .modal-backdrop').remove();
        });
        {# manually remove the tooltips when reloading #user-screen-content (tooltip elements are created by Bootstrap when tooltips but sometimes not removed) #}
        $(document).ready(function(){
            $('body .tooltip').remove();
            $('body .tooltip-inner').remove();
            $('body .tooltip-arrow').remove();
        });
    </script>
{% endblock content %}
