{% extends 'user_card.html' %}
{% from 'macros.j2' import tooltip_attributes, event_visibility_icon %}

{% block card_header %}
    {% if admin_auth %}
        {{ event_visibility_icon(event) }}
    {% endif %}
    {% if event.formatted_start_date == event.formatted_stop_date %}
         <span class="fw-bold">{{ event.formatted_start_date }}</span> {{ event.formatted_start_time }}-{{ event.formatted_stop_time }}
    {% else %}
         <span class="fw-bold">{{ event.formatted_start_date }} - {{ event.formatted_stop_date }}</span>
    {% endif %}
{% endblock %}

{% block card_title %}
    {{ event.name }}
{% endblock %}

{% block card_text %}
    <div>Tournois : {{ event.tournaments_by_id|length }}</div>
{% endblock %}

