{% extends 'base.html' %}

{% block title %}
Papi-web - Salles de jeu
{% endblock title %}

{% block head %}
    {% if event %}
        <link rel="stylesheet" href="{{ url_for('static', file_path=event.css) }}" type="text/css" />
    {% endif %}
{% endblock head %}

{% block header %}
{% endblock header %}

{% block content %}
    <form method="POST" class="d-inline-block">
        <input type="hidden" name="target" value="" />
        <button
                type="submit"
                class="btn btn-link link-dark">
            <i class="bi-house-fill"></i>
        </button>
    </form>
    <h1 class="d-inline-block">Salles de jeu</h1>
    <h2>Évènements en cours</h2>
    <div>Aucun élement en cours.</div>
    <h2>Évènements à venir</h2>
    <div>Aucun élement à venir.</div>
    <h2>Évènements terminés</h2>
    <div>Aucun élement terminé.</div>
{% endblock content %}

{% block footer %}
    <div id="admin-footer-wrapper" class="">
        <div id="admin-footer" class="">
        </div>
    </div>
{% endblock footer %}
