{% extends 'user_card.html' %}
{% from 'macros.j2' import tooltip_attributes, screen_visibility_icon, screen_type_icon %}

{% block card_header %}
    {% if admin_auth %}
        {{ screen_visibility_icon(screen) }}
    {% endif %}
    {{ screen.uniq_id }}
{% endblock %}

{% block card_title %}
    {{ screen_type_icon(screen.type) }}
    {{ screen.name }}
{% endblock %}

{% block card_text %}
    {% if screen.type in ['input', 'boards', 'players', 'results'] %}
        <div>
            Colonnes : {% for i in range(screen.columns) %}<i class="bi-square-fill"></i> {% endfor %}
        </div>
        <div class="{% if not screen.menu_link %}text-secondary{% endif %}">
            Étiquette de menu : {% if screen.menu_link %}{{ screen.menu_label }}{% else %}<span class="fst-italic">aucune</span>{% endif %}
        </div>
        <div class="{% if not screen.menu %}text-secondary{% endif %}">
            Menu : {% if screen.menu %}{{ screen.menu }}{% else %}<span class="fst-italic">aucun</span>{% endif %}
        </div>
        <div class="{% if not screen.timer %}text-secondary{% endif %}">
            Chronomètre : {% if screen.timer %}<i class="bi-clock-fill"></i> {% if user_event.timers_by_id|length > 1 %}{{ screen.timer.uniq_id }}{% else %}Oui{% endif %}{% else %}Non{% endif %}
        </div>
    {% endif %}
    {% if screen.type == 'players' %}
        <div>
            Non apparié·es : {% if screen.players_show_unpaired %}Oui{% else %}Non{% endif %} {% if screen.stored_screen.players_show_unpaired is none %}(par défaut){% endif %}
        </div>
    {% endif %}
    {% if screen.type == 'results' %}
        <div>
            Nombre max : {% if screen.results_limit %}{{ screen.results_limit }}{% else %}illimité{% endif %}
        </div>
    {% endif %}
    {% if screen.type == 'image' %}
        <div>
            Image : {% if screen.stored_screen.background_image %}{{ screen.stored_screen.background_image }}{% else %}<span class="fst-italic text-danger">non spécifiée</span>{% endif %}
        </div>
        <div>
            Couleur de fond : {% if screen.stored_screen.background_color %}{{ screen.stored_screen.background_color }}{% else %}<span class="fst-italic">non spécifiée</span>{% endif %}
        </div>
    {% endif %}
    <div class="mb-2">
        {% if screen.type in ['boards', 'input', 'players'] %}
            {% for screen_set in screen.screen_sets_sorted_by_order %}
                <div>
                    {% if screen_set.tournament %}
                        {{ screen_set.tournament.name }}
                        ({{ screen_set.numbers_str }})
                    {% endif %}
                </div>
            {% endfor %}
        {% elif screen.type == 'players' %}
            {% if screen.results_tournament_ids %}
                {{ screen.results_tournament_names }}
            {% else %}
                Tous les tournois
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

