{% extends '../../common/admin_cards_container.html' %}

{% set collection = get_admin_collection_spec('tournaments') %}
{% set collection_view_mode = get_admin_collection_view_mode('tournaments') %}
{% set collection_show_details = get_admin_collection_show_details('tournaments') %}
{% set collection_url = url_for('admin-event-tournaments-tab', event_uniq_id=admin_event.uniq_id) %}

{% block top_left_nav %}
    {{ admin_macros.admin_title(_('Tournaments'), 'tournaments') }}
    <script>
        preparePrintModal()
    </script>
{% endblock %}

{% block top_right_nav %}
    {% include '/admin/common/collection_controls.html' %}
    {% if admin_event.tournaments_by_id %}
        <div class="dropdown dropdown-menu-end">
            <button
                class="btn btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                {{ _('Actions') }}
            </button>
            <ul class="dropdown-menu">
                {% for menu_items_template in plugin_tab_action_menu_items_templates %}
                    {% include menu_items_template %}
                {% endfor %}
                <li>
                    <span
                        {{ macros.tooltip_attributes('info', _('May be used for per-round prize giveaways etc.'), 'right') }}
                    >
                        <button
                            class="dropdown-item text-nowrap"
                            hx-get="{{ url_for('admin-random-player', event_uniq_id=admin_event.uniq_id) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                        >
                            <i class="bi bi-dice-3-fill pe-1"></i>
                            {{ _('Choose a random player') }}
                        </button>
                    </span>
                </li>
                {% if not admin_event.is_team_event %}
                    <li>
                        <span
                            {% if not client.can_distribute_players %}
                                {{ macros.tooltip_attributes('warning', _('You are not allowed to distribute the players.'), 'right') }}
                            {% elif admin_event.player_distribution_error_message %}
                                {{ macros.tooltip_attributes('warning', admin_event.player_distribution_error_message, 'right') }}
                            {% endif %}
                        >
                            <button
                                class="dropdown-item text-nowrap"
                                {% if not admin_event.player_distribution_error_message and client.can_distribute_players %}
                                    hx-get="{{ url_for('admin-distribute-players-modal', event_uniq_id=admin_event.uniq_id) }}"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                                <i class="bi bi-sort-numeric-down-alt pe-1"></i>
                                {{ _('Distribute the players among the tournaments') }}
                            </button>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {% if client.can_add_tournament %}
        <span
            class="dropdown-end"
            {{ macros.tooltip_attributes(
                'info', _('Import a tournament to the event from an external source.'), 'top'
            ) }}
        >
            <button
                class="btn btn-outline-primary dropdown-toggle mx-auto"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <i class="bi-box-arrow-in-right pe-1"></i>
                {{ _('Import a tournament') }}
            </button>
            <ul class="dropdown-menu">
                {% for importer in tournament_importers %}
                    <li
                        class="dropdown-item text-start cursor-pointer"
                        hx-get="{{ url_for(
                            'admin-tournament-import-modal',
                            event_uniq_id=admin_event.uniq_id,
                            importer_id=importer.id
                        ) }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-wrapper"
                        {{ macros.tooltip_attributes('info', importer.tooltip, 'right') }}
                    >
                        {{ importer.name }}
                    </li>
                {% endfor %}
            </ul>
        </span>
        <span {{ macros.tooltip_attributes('info', _('Add a tournament to the event.'), 'top') }}>
            <button
                class="btn btn-primary text-nowrap ms-1"
                hx-trigger="click, SC_Plus from:body"
                hx-get="{{ url_for('admin-tournament-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-plus-square pe-1"></i>
                {{ _('Create a tournament') }}
            </button>
        </span>
    {% endif %}
{% endblock %}

{% block cards_container_cards %}
    {% set sortable = admin_event.tournaments|length > 1 and client.can_add_tournament %}
    <form
        {% if sortable %}
            hx-patch="{{ url_for(
                'admin-tournament-reorder',
                event_uniq_id=admin_event.uniq_id
            ) }}"
            hx-target="body"
            hx-trigger="end"
        {% endif %}
    >
        {% with
            items=allowed_tournaments,
            empty_message=_('No tournaments.'),
            sortable=sortable,
            show_details=collection_show_details
        %}
            {% include '/admin/common/collection.html' %}
        {% endwith %}
    </form>
    <script>
        $(document).ready(function() {
            renderHumanizedTimeControls();
        });
    </script>
{% endblock %}
