{% import '/common/macros.j2' as macros with context %}
{% import '/admin/common/macros.j2' as admin_macros with context %}

<div
    id="schedule-section"
    hx-trigger="schedule-params-updated"
    hx-swap="outerHTML"
    hx-get="{{ url_for(
        'admin-tournament-schedule-section',
        event_uniq_id=admin_event.uniq_id,
    ) ~ (
        '?tournament_id=' ~ admin_tournament.id
        if admin_tournament
        else ''
    ) }}"
    hx-include='[name="rounds"],[name^="round_"][name$="_datetime"],[name="date_range"]'
    hx-vals='js:{schedule_collapsed: document.getElementById("schedule-collapse") ? !document.getElementById("schedule-collapse").classList.contains("show") : true}',
    hx-indicator="#please-wait"
>
    <button
        type="button"
        class="collapse-button {% if not force_schedule_open %}collapsed{% endif %} mt-3"
        data-bs-toggle="collapse"
        data-bs-target="#schedule-collapse"
        aria-expanded="false"
    >
        <h4 class="form-check-label d-inline-flex align-items-center gap-2">
            <i class="bi-chevron-down text-body"></i>
            {{ _('Schedule') }}
        </h4>
    </button>
    <div id="schedule-collapse" class="{% if not force_schedule_open %}collapse{% endif %}">
        {% if schedule_rounds < 1 %}
            <div class="text-muted mx-3 my-2">
                {{ _('Set the number of rounds to lay out a schedule.') }}
            </div>
        {% else %}
        <div class="row">
            {% set split_col = (schedule_rounds / 2)|round(method='ceil')|int %}
            <div class="col-12 col-md-6">
                {% for round_num in range(1, split_col + 1) %}
                    <div class="my-2 mx-3">
                        {{ admin_macros.datetime_input(
                            name='round_' ~ round_num ~ '_datetime',
                            label=_('Round #%(round)d:', round=round_num),
                            min_date=schedule_min_date,
                            max_date=schedule_max_date,
                            position='top center',
                            data=data, errors=errors
                        ) }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                {% for round_num in range(split_col + 1, schedule_rounds + 1) %}
                    <div class="my-2 mx-3">
                        {{ admin_macros.datetime_input(
                            name='round_' ~ round_num ~ '_datetime',
                            label=_('Round #%(round)d:', round=round_num),
                            min_date=schedule_min_date,
                            max_date=schedule_max_date,
                            position='top center',
                            data=data, errors=errors
                        ) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
