.admin-timer-hour-div, .admin-screen-set-div {
    border: solid 1px black;
    margin-left: 0;
    margin-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
}
.admin-timer-hour-div.edit, .admin-screen-set-div.edit {
    padding: 3px;
}
.sortable .admin-timer-hours-modal-timer-hour-div,
.sortable .admin-screen-sets-modal-screen-set-div {
    cursor: grab;
}
.modal {
    overflow-y:auto;
}
