* {
	font-family: Arial;
}
body {
	background-image: url('/static/images/papi-web-background.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.copyright {
    text-align: center;
    font-style: italic;
}
.please-wait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url("/static/images/papi-web.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
