* {
	font-family: Arial;
}
body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-attachment: fixed;
	overflow: auto !important;
}
.please-wait {
    pointer-events: none;
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url("/static/images/papi-web.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
#messages {
    z-index: 1;
}
.cursor-grab {
    cursor: grab;
}
.cursor-pointer {
    cursor: pointer;
}
.w-80 {
    width: 80%; !important;
}
.w-1 {
    width: 1%; !important;
}
/* https://stackoverflow.com/questions/39588698/bootstrap-multiple-modals-modal-backdrop-issue */
.modal-backdrop + .modal-backdrop {
  display: none;
}
.papi-web-tooltip-info, .papi-web-tooltip-warning, .papi-web-tooltip-error {
  --bs-tooltip-bg: #d0d000;
  --bs-tooltip-color: black;
}
.papi-web-tooltip-info {
  --bs-tooltip-color: #600090;
}
.papi-web-tooltip-warning {
  --bs-tooltip-color: #900000;
}
.papi-web-tooltip-error {
  --bs-tooltip-color: #900000;
}
.image-screen, .card-body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}