* {
	font-family: Arial;
}
body {
	background-image: url('/static/images/papi-web-background.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.copyright {
    text-align: center;
    font-style: italic;
}
.please-wait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url("/static/images/papi-web.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
#messages {
    position:fixed;
    top: 0.5rem;
    right: 0.5rem;
    width: 33%;
    z-index: 1;
}

#messages .alert-danger {
    background-color: rgba(248, 215, 218, 0.85);
}
#messages .alert-warning {
    background-color: rgba(255, 243, 205, 0.85);
}
#messages .alert-info {
    background-color: rgba(207, 244, 252, 0.85);
}
#messages .alert-success {
    background-color: rgba(209, 231, 221, 0.85);
}
#messages .alert {
    padding: 0.2rem 1.8rem 0.2rem 0.3rem;
}
#messages .alert button {
    padding: 0.4rem;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-33 {
    width: 33%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.modal-footer {
    display: block;
}

.modal-dialog {
    max-width: 50%;
    display: block;
}
