/* TODO use Bootstrap styles wherever possible */
body {
    background-color: lightgray;
}
.nav-tabs .nav-link {
    border: black 1px solid;
    border-bottom: 0;
    background-color: lightgray;
    color: black;
}
.nav-tabs .nav-link.active {
    border: black 1px solid;
    border-bottom: 0;
    font-weight: bold;
}
.nav-tabs .nav-link:hover {
    border-color: red;
    color: red;
}
.tab-content {
    border: black 1px solid;
    background-color: white;
}
