/* TODO use Bootstrap styles wherever possible */
.timer {
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    margin: 0;
}
.timer-text {
    text-align: left;
}
.timer-clock {
    text-align: right;
}
