<!DOCTYPE html>
{% import 'macros.j2' as macros with context %}
<html translate="no">
    <head>
        {% if not request.htmx %}
            <title>{% block title %}Sharly Chess{% endblock %}</title>
            <link rel="shortcut icon" type="image/png" href="{{ url_for('static', file_path='/images/sharly-chess.ico') }}?version={{ sharly_chess_config.version }}"/>
            {# https://github.com/twbs/bootstrap/releases #}
            <link href="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-' ~ sharly_chess_config.bootstrap_version ~ '-dist/css/bootstrap.min.css') }}" rel="stylesheet">
            {# https://github.com/twbs/icons/releases #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/bootstrap-icons/bootstrap-icons-' ~ sharly_chess_config.bootstrap_icons_version ~ '/font/bootstrap-icons.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/base.css') }}?version={{ sharly_chess_config.version }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/user.css') }}?version={{ sharly_chess_config.version }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/admin.css') }}?version={{ sharly_chess_config.version }}" type="text/css" />
            {# https://jquery.com/download/ #}
            <script src="{{ url_for('static', file_path='/lib/jquery/jquery-' ~ sharly_chess_config.jquery_version ~ '.min.js') }}"></script>
            {# https://unpkg.com/browse/htmx.org@<htmx_version>/dist/ #}
            <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-' ~ sharly_chess_config.htmx_version ~ '/htmx.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/remove-me-' ~ sharly_chess_config.htmx_remove_me_version ~ '/remove-me.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/multi-swap-' ~ sharly_chess_config.htmx_multi_swap_version ~ '/multi-swap.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/ws-' ~ sharly_chess_config.htmx_ws_version ~ '/ws.js') }}"></script>
            {# https://github.com/SortableJS/Sortable #}
            <script src="{{ url_for('static', file_path='/lib/Sortable/Sortable-' ~ sharly_chess_config.sortable_version ~ '/Sortable.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/sortable.js') }}?version={{ sharly_chess_config.version }}"></script>
            <script src="{{ url_for('static', file_path='/lib/Selectable/Selectable-' ~ sharly_chess_config.selectable_version ~ '/selectable.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/morphdom/morphdom-' ~ sharly_chess_config.morphdom_version ~ '/dist/morphdom-umd.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/morphdom-swap.js') }}?version={{ sharly_chess_config.version }}"></script>
            <script src="{{ url_for('static', file_path='/lib/polyglot/polyglot.js') }}?version={{ sharly_chess_config.version }}"></script>
            {# https://github.com/apalfrey/select2-bootstrap-5-theme #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/select2/select2-' ~ sharly_chess_config.select2_version ~ '/dist/css/select2.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/select2/themes/dark-bootstrap-5.css') }}?version={{ sharly_chess_config.version }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/select2/themes/bootstrap-5-' ~ sharly_chess_config.select2_bootstrap_theme_version ~ '.min.css') }}" type="text/css" />
            <script src="{{ url_for('static', file_path='/lib/select2/select2-' ~ sharly_chess_config.select2_version ~ '/dist/js/select2.full.min.js') }}"></script>
            {# https://air-datepicker.com #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/air-datepicker/air-datepicker-' ~ sharly_chess_config.air_datepicker_version ~ '/dist/air-datepicker.css') }}" type="text/css" />
            <script src="{{ url_for('static', file_path='/lib/air-datepicker/air-datepicker-' ~ sharly_chess_config.air_datepicker_version ~ '/dist/air-datepicker.js') }}"></script>
            {# https://github.com/palcarazm/bootstrap5-toggle #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/bootstrap5-toggle/bootstrap5-toggle-' ~ sharly_chess_config.bootstrap5_toggle_version ~ '/css/bootstrap5-toggle.min.css') }}" type="text/css" />
            <script src="{{ url_for('static', file_path='/lib/bootstrap5-toggle/bootstrap5-toggle-' ~ sharly_chess_config.bootstrap5_toggle_version ~ '/js/bootstrap5-toggle.jquery.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/progressbar.js/progressbar.js-' ~ sharly_chess_config.progressbar_js_version ~ '/dist/progressbar.min.js') }}"></script>
            <script>window.SC_I18N = { selectPlayer: "{{ _('Select player') }}" };</script>
            <script src="{{ url_for('static', file_path='/js/base.js') }}?version={{ sharly_chess_config.version }}"></script>
            <script src="{{ url_for('static', file_path='/js/modals.js') }}?version={{ sharly_chess_config.version }}"></script>
            <script>
                {% include 'js/time_control.js' %}
            </script>
            <script src="{{ url_for('static', file_path='/js/keyboardShortcutManager.js') }}?version={{ sharly_chess_config.version }}"></script>
            <script src="{{ url_for('static', file_path='/js/place_card_editor.js') }}?version={{ sharly_chess_config.version }}"></script>
        {% endif %}
    </head>
    <body
        hx-ext="multi-swap,morphdom-swap,remove-me"
        hx-swap="transition:true"
        {% if 'Firefox' not in user_agent %}
            {#  Causes a white flash on refresh on Firefox. On other browsers,
                prevents a flash where the page is first loaded with the Bootstrap CSS #}
            class="d-none"
        {% endif %}
    >
        {% set redirect_url = '' %}
        {% if sharly_chess_config.force_edit %}
            {% if client.can_manage_application_settings %}
                {% if request.url.path != '/home' %}
                    {% set redirect_url = '/home' %}
                {% endif %}
            {% else %}
                {% if request.url.path != '/wait' %}
                    {% set redirect_url = '/wait' %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if request.url.path == '/' %}
                {% set redirect_url = '/home' %}
            {% endif %}
        {% endif %}
        {% if redirect_url %}
            <p>{{ _('Please wait…') }}</p>
            <script>
                $(location).attr('href', '{{ redirect_url }}');
            </script>
        {% else %}
            <div id="main-wrapper" class="{% block wrapper_class %}{% endblock wrapper_class %}" {% block ws %}{% endblock ws %}>
                <div class="w-50 position-fixed bottom-0 end-0 me-3" style="z-index: 100">
                    {% if not request.headers.get('HX-Swap-Mode') == 'none' %}
                        {# hx-preserve shouldn't be included in responses with an hx-swap of 'none', or they'll be removed.
                        To prevent this the client should also set the HX-Swap-Mode header to 'none' so that the server
                        knows not to include this in the response. #}
                        <div id="messages" hx-preserve>
                            {% if messages %}
                                {% include '/common/messages.html' %}
                            {% endif %}
                        </div>
                    {% endif %}

                    <div id="refresh-message"></div>
                </div>
                {% block header %}
                {% endblock header %}
                <div class="sidebar">
                    <div class="sidebar show border-end">
                        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start">
                            {% block sidebar %}
                            {% endblock sidebar %}
                        </div>
                        <button id="sidebar-expander" onclick="toggle_sidebar(event)">
                            <i class="bi bi-arrows-expand-vertical"></i>
                        </button>
                    </div>
                </div>
                <main
                    id="scroll-wrapper"
                    {# Needed for the sticky copyright footer #}
                    class="d-inline-block"
                >
                    <div id="page-wrapper">
                        <div id="content-wrapper">
                            {% block content %}
                                BODY CONTENT
                            {% endblock content %}
                        </div>
                        <div id="footer-wrapper" class="footer-wrapper">
                            {% block footer %}
                                FOOTER
                            {% endblock footer %}
                        </div>
                    </div>
                    <div
                        id="copyright-wrapper"
                    >
                        {# copyright may be hidden by the macros.copyright_script #}
                        <div
                            id="copyright"
                            class="copyright fst-italic text-center d-flex justify-content-center align-items-center"
                        >
                            Sharly Chess {{ sharly_chess_config.version }} - {{ sharly_chess_config.copyright }} -
                            <a class="ps-1" href="{{ sharly_chess_config.web_url }}">{{ sharly_chess_config.web_url }}</a>
                        </div>
                    </div>
                </main>
                <div id="please-wait-wrapper">
                    <div
                        id="please-wait"
                        class="htmx-indicator position-fixed top-50 start-50 translate-middle"
                    >
                        {{ macros.sharly_chess_logo() }}
                    </div>
                </div>
                {# This is a div that is used as the target of html events that don't really have a target #}
                <div id="empty-div"></div>
                <div id="modal-wrapper"
                    class="modal modal-blur overflow-auto"
                    style="display: none"
                    aria-hidden="false"
                    tabindex="-1"
                    hx-trigger="hidden.bs.modal"
                    hx-get="{{ url_for('empty-modal') }}"
                >
                    {% include 'empty_modal.html' %}
                </div>
            </div>
            <script>
                closeTooltips();
                activateTooltips();
            </script>
            {{ macros.background_script(background_info) }}
            {{ macros.theme_script(theme) }}
            <script>
                $('body').css('padding-right', '0');
                init_sidebar();
            </script>
        {% endif %}
    </body>
    {% if not request.htmx %}
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-' ~ sharly_chess_config.bootstrap_version ~ '-dist/js/bootstrap.bundle.min.js') }}"></script>
        <script>
            closeTooltips();
            activateTooltips();

            $(document).ready(function() {
                init_sidebar();

                // Display the body once the CSS is initialized
                $("body").removeClass("d-none");
            });


            if (typeof bootstrap !== 'undefined') {
                const allowList = bootstrap.Tooltip.Default.allowList;

                // Allow style on any element
                allowList['*'].push('style');

                // Add iframe to the allowed elements
                allowList['iframe'] = [
                    'src',
                    'srcdoc',
                    'title',
                    'width',
                    'height',
                    'style',
                    'allow',
                    'allowfullscreen',
                    'frameborder',
                    'sandbox',
                    'referrerpolicy'
                ];

                bootstrap.Tooltip.Default.allowList = allowList;
            }
        </script>
    {% endif %}
    {% if messages %}
        <div id="messages" hx-swap-oob="beforeend">
            {% include '/common/messages.html' %}
        </div>
    {% endif %}
</html>
