type = "pairing"
name = "{{ _('Standard') }}"
creator = "Sharly Chess <support@sharly-chess.com>"

width = 148.5
height = 50.0

font_size = 12.0
bold = false
italic = false
text_align = "center"
v_align = "top"

[number]
text = "{{ pairing.number }}"
font_size = 60.0
bold = true
h_align = "center"
v_align = "middle"

[tournament]
font_size = 10.0
text = "{{ tournament.name }}"
italic = true
h_align = "center"
v_align = "bottom"
v_pos = 0.0

[white_federation_flag]
text = "{{ pairing.white_player.federation_flag | safe }}"
width = 60
font_size=24
h_align = "left"
v_align = "top"
text_align = "center"
v_pos = 0.0

[white_last_name]
text = "{{ pairing.white_player.last_name }}"
width = 60.0
bold = true
h_align = "left"
v_align = "top"
text_align = "center"
v_pos = 10.0

[white_first_name]
text = "{{ pairing.white_player.first_name }}"
width = 60.0
bold = true
h_align = "left"
v_align = "top"
text_align = "center"
v_pos = 15.0

[white_rating]
text = "{% if pairing.white_player.title %}{{ pairing.white_player.title }} {% endif %}{{ pairing.white_player.rating }}{{ pairing.white_player.rating_type }}"
width = 60.0
bold = true
h_align = "left"
v_align = "top"
text_align = "center"
v_pos = 20.0

[white_club_team]
text = "{% if pairing.white_player.team_name %}{{ pairing.white_player.team_name }}{% elif pairing.white_player.club %}{{ pairing.white_player.club }}{% endif %}"
font_size = 11.0
width = 60.0
h_align = "left"
v_align = "bottom"
text_align = "center"
v_pos = 10.5

[white_federation]
text = "{{ pairing.white_player.federation }}"
font_size = 11.0
width = 60.0
h_align = "left"
v_align = "bottom"
text_align = "center"
v_pos = 6.0

[white_color]
text = """<span style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: {{ pairing.white_player.color_background }}; color: {{ pairing.white_player.color_text }};">{{ pairing.white_player.color }}</span>"""
font_size = 16
width = 7
height = 7
bold = true
css = "border: solid 2px #000;"
h_align = "left"
v_align = "top"
text_align = "center"
v_pos = 0.0

[black_federation_flag]
text = "{{ pairing.black_player.federation_flag | safe }}"
width = 60
font_size=24
h_align = "right"
v_align = "top"
text_align = "center"
v_pos = 0.0

[black_last_name]
text = "{{ pairing.black_player.last_name }}"
width = 60.0
bold = true
h_align = "right"
v_align = "top"
text_align = "center"
v_pos = 10.0

[black_first_name]
text = "{{ pairing.black_player.first_name }}"
width = 60.0
bold = true
h_align = "right"
v_align = "top"
text_align = "center"
v_pos = 15.0

[black_rating]
text = "{% if pairing.black_player.title %}{{ pairing.black_player.title }} {% endif %}{{ pairing.black_player.rating }}{{ pairing.black_player.rating_type }}"
width = 60.0
bold = true
h_align = "right"
v_align = "top"
text_align = "center"
v_pos = 20.0

[black_club_team]
text = "{% if pairing.black_player.team_name %}{{ pairing.black_player.team_name }}{% elif pairing.black_player.club %}{{ pairing.black_player.club }}{% endif %}"
font_size = 11.0
width = 60.0
h_align = "right"
v_align = "bottom"
text_align = "center"
v_pos = 10.5

[black_federation]
text = "{{ pairing.black_player.federation }}"
font_size = 11.0
width = 60.0
h_align = "right"
v_align = "bottom"
text_align = "center"
v_pos = 6.0

[black_color]
text = """<span style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: {{ pairing.black_player.color_background }}; color: {{ pairing.black_player.color_text }};">{{ pairing.black_player.color }}</span>"""
font_size = 16
width = 7
height = 7
bold = true
css = "border: solid 2px #000;"
h_align = "right"
v_align = "top"
text_align = "center"
v_pos = 0.0
