type = "player"
name = "{{ _('Standard') }}"
creator = "Sharly Chess <support@sharly-chess.com>"

[player_name]
text = "{% if player.federation_flag | safe %}{{ player.federation_flag | safe }} {% endif %}{% if player.title %}{{ player.title }} {% endif %}{{ player.full_name }}"
font_size = 18.0
bold = true
width = 92.0

[player_rating]
text = "{{ player.rating }}{{ player.rating_type }}"
font_size = 18.0
bold = true
h_align = "right"

[player_origin]
text = "{{ player.federation }}{% if player.club %} - {{ player.club }}{% endif %}"
v_pos = 8.0

[player_category]
text = "{{ player.category }}"
v_pos = 14.0

[event]
text = "{{ event.name }}"
italic = true
v_align = "bottom"
