<div class="row gy-2 gx-3" id="player-search-widget">
    <div class="col-12">
          <div class="input-group">
            {{ admin_macros.search_indicator('player-search-indicator') }}
            {% set data_source_options = {} %}
            {% for data_source in data_sources %}
                {% do data_source_options.update({data_source.id: data_source.name}) %}
            {% endfor %}
            <div
                class="form-control p-0 border-0 select2-border-radius-0-left select2-border-radius-0-right"
                style="flex: 0 1 14rem;"
            >
                {{ admin_macros.select_content(
                    id='data-source-select',
                    name='data_source',
                    options=data_source_options,
                    selected=[selected_data_source],
                    search_disabled=true,
                ) }}
            </div>
            <input
                id="search-input"
                name="search"
                class="dropdown form-control"
                type="search"
                hx-trigger="keyup changed delay:400ms, data_source_change, filter_change"
                hx-target="#search-results"
                hx-get="{{ url_for('admin-search-player', event_uniq_id=admin_event.uniq_id) }}"
                hx-vals='js:{
                    data_source_id: $("#data-source-select").val(),
                    usage: "{{ usage }}",
                    filters: getFilters(),
                    {% if admin_player %}player_id: {{ admin_player.id }},{% endif %}
                }'
                hx-on::before-request="refreshSearchResultsVisibility();"
                hx-on::after-request="refreshSearchResultsVisibility();"
                hx-sync="this:replace"
                hx-indicator="#player-search-indicator"
                autocomplete="off"
            />
            {% include 'search_filter.html' %}
        </div>
        <ul
            id="search-results"
            class="dropdown-menu position-absolute me-3 end-0 search-results-dropdown"
            hx-on::after-settle="refreshSearchResultsVisibility(); handleInitialQuery(event);"
        >
        </ul>
    </div>
    <script>
        function refreshSearchResultsVisibility () {
            const results = document.getElementById('search-results');
            if (!results) return;
            $(results).toggle(results.children.length > 0);
        }

        $('#data-source-select').change(function () {
            const searchInput = $('#search-input');
            document.querySelector('#search-results').innerHTML = searchInput.val() ? `
                <li class="dropdown-item no-hover text-nowrap">
                    <span class="fst-italic">{{ _('Searching…') }}</span>
                </li>
            ` : '';
            refreshSearchResultsVisibility();
            {% for data_source in data_sources %}
                if ($(this).val() === '{{ data_source.id }}') {
                    searchInput.prop(
                        'placeholder',
                        "{{ _('Search by: %(fields)s', fields=', '.join(data_source.search_fields)) }}",
                    );
                }
            {% endfor %}
            searchInput[0].dispatchEvent(
                new CustomEvent('data_source_change', {bubbles: true, cancelable: true})
            );
            filterInit();
        });
        $('#data-source-select').trigger('change');

        {% include 'js/searchPlayerNavigation.js' %}
    </script>
</div>
