<style>
.button_badge {
    background-color: #fa3e3e;
    border-radius: 12px;
    color: white;

    padding: 1px 3px;
    font-size: 10px;

    position: absolute;
    top: 4px;
    right: 8px;
    line-height: 1;
}
#search-criteria-collapse-toggle {
    cursor: pointer;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}
#search-criteria-collapse-toggle:hover {
    background-color: var(--bs-secondary-bg);
}
#search-criteria-collapse-toggle[aria-expanded="true"] {
    color: var(--bs-primary);
}
#search-criteria-collapse-toggle .funnel-filled,
#search-criteria-collapse-toggle[aria-expanded="true"] .funnel-outline {
    display: none;
}
#search-criteria-collapse-toggle[aria-expanded="true"] .funnel-filled {
    display: inline-block;
}
</style>
<script>
{% include 'js/searchFilter.js' %}
</script>
<button
    type="button"
    id="search-criteria-collapse-toggle"
    class="input-group-text with-input-group-indicator px-2 pt-2 position-relative"
    data-bs-toggle="collapse"
    data-bs-target="#search-criteria-collapse"
    aria-controls="search-criteria-collapse"
    aria-expanded="false"
>
    <i class="bi bi-funnel funnel-outline"></i>
    <i class="bi bi-funnel-fill funnel-filled"></i>
    <span id="filter-count"></span>
</button>
