<div id="player-modal" class="modal-dialog modal-dialog-scrollable admin-player-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'create' %}
                    {{ _('Create player') }}
                {% elif action == 'update' %}
                    {{ _('Edit player') }}
                {% elif action == 'replace' %}
                    {{ _('Replace player [%(player)s]', player=admin_player.full_name) }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            {% if 'alert' in errors %}
                {% with type='error', message=errors['alert'] %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}
            {% if action in ['create', 'replace'] %}
                {% if previous_player %}
                    {% if warning_message %}
                        {% with type='warning', auto_remove=true, message=warning_message %}
                            {% include '/common/alert.html' %}
                        {% endwith %}
                    {% else %}
                        {% with type='success', auto_remove=true, message=_(
                            'Player [%(player)s] has been created.',
                            player=previous_player.full_name
                        )  %}
                            {% include '/common/alert.html' %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
                <h4>
                    {{ _('Search *** SECTION TITLE') }}
                </h4>
                {% with usage = 'player' %}
                    {% include '/admin/common/search_filter_form.html' %}
                    {% include '/admin/common/player_search.html' %}
                {% endwith %}
            {% endif %}
            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-player-create', event_uniq_id=admin_event.uniq_id) }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-player-update', event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
                {% elif action == 'replace' %}
                    hx-patch="{{ url_for('admin-player-replace', event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
                {% else %}
                    hx-get="{{ url_for('unknown-action-' ~ action) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <h4>
                    {{ _('Identity') }}
                </h4>
                <input type="hidden" name="redirect_to" value="{{ data['redirect_to'] }}">
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6 col-xl-6">
                        {{ admin_macros.text_input(
                            name='last_name',
                            label=_('Name:'),
                            placeholder=_('E.g.: DOE'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        {{ admin_macros.text_input(
                            name='first_name',
                            label=_('First name:'),
                            placeholder=_('E.g.: John'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.date_input(
                            name='date_of_birth',
                            label=_('Date of birth:'),
                            tooltip_text=_(
                                'Only the year of birth is required for most tournaments. '
                                'it is therefore recommanded to only ask for your players\' '
                                'year of birth in order to respect their privacy.'
                            ),
                            placeholder=_('YYYY or {date_format}').format(
                                date_format=sharly_chess_config.date_formatter.name
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='gender',
                            label=_('Gender:'),
                            select_options=gender_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='club',
                            label=_('Club:'),
                            placeholder=_('E.g.: My favourite club!'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='federation',
                            label=_('Federation:'),
                            select_options=federation_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                {% for template in plugin_templates_by_section['identity'] %}
                    {% include template %}
                {% endfor %}

                {% if is_team_event %}
                    <h4>{{ _('Team') }}</h4>
                    <div class="row gy-2 gx-3">
                        <div class="col-12">
                            {{ admin_macros.select_input(
                                name='team_id',
                                label=_('Team:'),
                                select_options=team_options,
                                disabled=team_locked,
                                input_tooltip=_(
                                    'This player has already been paired; '
                                    'their team cannot be changed.'
                                ) if team_locked else '',
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                {% else %}
                    <h4>
                        {{ _('Tournament') }}
                    </h4>
                    <div class="row gy-2 gx-3">
                        <div class="col-12 col-sm-8">
                            {{ admin_macros.select_input(
                                name='tournament_id',
                                label=_('Tournament:'),
                                select_options=tournament_options,
                                disabled=admin_player.has_real_pairings,
                                input_tooltip=(
                                    _('The player has already been paired, removing them from the tournament is impossible.')
                                    if admin_player.has_real_pairings else ''
                                ),
                                data=data, errors=errors
                            ) }}
                            {% if admin_player.has_real_pairings %}
                                <input type="hidden" name="tournament_id" value="{{ data['tournament_id'] }}" />
                            {% endif %}
                        </div>

                        <div class="col-12 col-sm-4">
                            {{ admin_macros.number_input(
                                name='fixed',
                                label=_('Fixed board:'),
                                tooltip_text=_('The board number the player will always be assigned to (use it for disabled people).'),
                                min=1,
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                {% endif %}

                <h4>
                    {{ _('Ratings') }}
                </h4>
                <div class="row gy-2 gx-3">
                    {% set show_estimated_ratings = (
                        data['standard_rating_estimated'] or
                        data['rapid_rating_estimated'] or
                        data['blitz_rating_estimated']
                    ) %}
                    {% for tournament_rating, tournament_rating_strings in tournament_ratings_strings.items() %}
                        <div class="col-4">
                            {%
                                with
                                    fide=tournament_rating.form_key ~ '_rating_fide',
                                    national=tournament_rating.form_key ~ '_rating_national',
                                    estimated=tournament_rating.form_key ~ '_rating_estimated'
                            %}
                                {%
                                    with
                                        fide_id=fide|replace('_', '-'),
                                        national_id=national|replace('_', '-'),
                                        estimated_id=estimated|replace('_', '-')
                                %}
                                    <label class="form-check-label d-block pb-1">{{ tournament_rating_strings['label'] }}</label>
                                    <div class="d-flex align-items-center gap-2">
                                        <input
                                            name="{{ fide }}"
                                            type="number"
                                            id="{{ fide_id }}"
                                            data-testid="{{ fide_id }}"
                                            class="form-control d-inline {% if name in errors %}is-invalid{% endif %} mb-2"
                                            aria-describedby="{{ fide_id }}-help {{ fide_id }}-error"
                                            value="{{ data[fide] }}"
                                        />
                                        <div>{{ rating_type_labels['fide'] }}</div>
                                    </div>
                                    {% if fide in errors %}
                                        <div id="{{ fide_id }}-error" class="form-text invalid-feedback" style="display: block">
                                            {{ errors[fide] }}
                                        </div>
                                    {% endif %}
                                    <div class="d-flex align-items-center gap-2">
                                        <input
                                            name="{{ national }}"
                                            type="number"
                                            id="{{ national_id }}"
                                            data-testid="{{ national_id }}"
                                            class="form-control d-inline {% if name in errors %}is-invalid{% endif %} mb-2"
                                            aria-describedby="{{ national_id }}-help {{ national_id }}-error"
                                            value="{{ data[national] }}"
                                        />
                                        <div>{{ rating_type_labels['national'] }}</div>
                                    </div>
                                    {% if national in errors %}
                                        <div id="{{ national_id }}-error" class="form-text invalid-feedback" style="display: block">
                                            {{ errors[national] }}
                                        </div>
                                    {% endif %}
                                    <div
                                        class="estimated-container d-flex align-items-center gap-2"
                                        {% if not show_estimated_ratings %}
                                            style="display:none !important"
                                        {% endif %}
                                    >
                                        <input
                                            name="{{ estimated }}"
                                            type="number"
                                            id="{{ estimated_id }}"
                                            data-testid="{{ estimated_id }}"
                                            class="form-control d-inline {% if name in errors %}is-invalid{% endif %}"
                                            aria-describedby="{{ estimated_id }}-help {{ estimated_id }}-error"
                                            value="{{ data[estimated] }}"
                                        />
                                        <div>{{ rating_type_labels['estimated'] }}</div>
                                    </div>
                                    {% if estimated in errors %}
                                        <div id="{{ estimated_id }}-error" class="form-text invalid-feedback" style="display: block">
                                            {{ errors[estimated] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                    {% if not show_estimated_ratings %}
                        <div class="text-center">
                            <button
                                id="add-estimated"
                                type="button"
                                class="btn btn-sm btn-outline-primary"
                                {{ macros.tooltip_attributes('info', _(
                                    'Players may have default estimated ratings depending on the activated plugins.'
                                )) }}
                            >
                                <i class="bi-plus-circle pe-1"></i>
                                {{ _('Add manual estimated ratings') }}
                            </button>
                            <script>
                                $('#add-estimated').click(function (e) {
                                    $('.estimated-container').css('display', 'flex');
                                    $(this).parent().css('display', 'none');
                                })
                            </script>
                        </div>
                    {% endif %}
                </div>

                <h4>
                    {{ _('FIDE') }}
                </h4>
                {% set is_woman = data['gender'] == woman_gender_value %}
                <div class="row gy-2 gx-3">
                    <div id="fide-id-col" class="{{ 'col-12' if is_woman else 'col-12 col-sm-6' }}">
                        {{ admin_macros.number_input(
                            name='fide_id',
                            label=_('FIDE ID:'),
                            disabled=action == 'update' or data['fide_id'] != '',
                            input_tooltip=_(
                                'Replace the player to update this field.'
                            ) if action == 'update' or data['fide_id'] != '' else '',
                            min=1,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div id="title-col" class="{{ 'col-6' if is_woman else 'col-12 col-sm-6' }}">
                        {{ admin_macros.select_input(
                            name='title',
                            label=_('FIDE Title:'),
                            select_options=title_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div id="women-title-col" class="{{ 'col-6' if is_woman else 'col-6 d-none' }}">
                        {{ admin_macros.select_input(
                            name='women_title',
                            label=_("Women's Title:"),
                            select_options=women_title_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <script>
                    (function () {
                        var $gender = $('select[name="gender"]');
                        function updateWomenTitleLayout() {
                            var isWoman = $gender.val() === {{ woman_gender_value | tojson }};
                            $('#fide-id-col').attr('class', isWoman ? 'col-12' : 'col-12 col-sm-6');
                            $('#title-col').attr('class', isWoman ? 'col-6' : 'col-12 col-sm-6');
                            if (isWoman) {
                                $('#women-title-col').attr('class', 'col-6');
                            } else {
                                $('#women-title-col').attr('class', 'col-6 d-none');
                                $('select[name="women_title"]').val('');
                            }
                        }
                        $gender.on('change', updateWomenTitleLayout);
                    })();
                </script>
                {% for template in plugin_templates_by_section['fide'] %}
                    {% include template %}
                {% endfor %}

                <h4>
                    {{ _('Contact and registration') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='mail',
                            label=_('Email:'),
                            placeholder=_('E.g.: john.doe@chess.com'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='phone',
                            label=_('Phone number:'),
                            data=data, errors=errors
                        ) }}
                        {# TODO add an example depending on the federation placeholder=_('E.g.: %(phone_number)s', phone_number=admin_event.phone_number_example), #}
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-sm-6 col-lg-3">
                        {{ admin_macros.number_input(
                            name='owed',
                            label=_('Owed:'),
                            step=0.01,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        {{ admin_macros.number_input(
                            name='paid',
                            label=_('Paid:'),
                            step=0.01,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-lg-6">
                        {{ admin_macros.text_input(
                            name='comment',
                            label=_('Comment:'),
                            data=data, errors=errors
                        ) }}
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <span id="submit-button-container">
                {% if action == 'create' %}
                    {{ admin_macros.create_with_add_other_split_buttons(add_other_active) }}
                {% else %}
                    <button
                        type="submit"
                        form="modal-form"
                        class="text-nowrap white btn btn-primary"
                    >
                        <i class="bi-floppy-fill pe-1"></i>
                        {{ _('Save') }}
                    </button>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% if previous_player %}
    <script>requestRefresh()</script>
{% endif %}
