{% with url=url_for('admin-event-players-tab', event_uniq_id=admin_event.uniq_id) %}
    <div
        hx-get="{{ url_for('players-needs-refresh-message', event_uniq_id=admin_event.uniq_id, reason="result") }}"
        hx-trigger="ws:new-user-results|{{ admin_event.uniq_id }} from:body"
        hx-target="#refresh-message"
        hx-swap="innerHTML"
    >
    </div>
    <div
        hx-get="{{ url_for('players-needs-refresh-message', event_uniq_id=admin_event.uniq_id, reason="checkin") }}"
        hx-trigger="ws:new-checkins|{{ admin_event.uniq_id }} from:body"
        hx-target="#refresh-message"
        hx-vals="js:{ignore: getIsNextRefreshMessageIgnored() && $('#refresh-message').is(':empty')}"
        hx-swap="innerHTML"
    >
    </div>

    <div id="top-nav-wrapper">
        <div id="top-nav-content">
            {{ admin_macros.admin_title(_('Players'), 'players') }}
            <div class="flex-grow-1"></div>
            <div class="d-flex gap-2 ms-auto flex-wrap justify-content-end">
                <div class="dropdown d-inline"
                     {% if client.can_update_players %}
                        {{ macros.tooltip_attributes('info', _('Update the players\' information from an external data source.'), 'top') }}
                    {% else %}
                        {{ macros.tooltip_attributes('warning', _('You are not allowed to update the players\' information from an external data source.'), 'top') }}
                    {% endif %}
                >
                    <button
                        class="btn btn-outline-primary dropdown-toggle mx-auto"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        {% if not client.can_update_players %}
                            disabled
                        {% endif %}
                    >
                        <i class="bi-arrow-repeat pe-1"></i>
                        {{ _('Update') }}
                    </button>
                    <ul class="dropdown-menu">
                        {% with from_modal=false, tab='players' %}
                            {% include 'players_diff.html' %}
                        {% endwith %}
                    </ul>
                </div>
                {% if not admin_event.is_team_event %}
                    <div>
                        <button
                            class="btn btn-outline-primary text-nowrap"
                            hx-get="{{ url_for('check-in-tournaments-modal', event_uniq_id=admin_event.uniq_id) }}"
                            hx-indicator="#please-wait"
                        >
                            <i class="bi-x-circle"></i><i class="bi-check-circle pe-1"></i>
                            {{ _('Check-in') }}
                        </button>
                    </div>
                {% endif %}
                {% set add_player_error_message = (
                    _('You are not allowed to add players to the event.')
                    if not client.can_add_player else
                    _('Tournaments are finished, you can not add players any longer.')
                    if not player_addable_tournaments and allowed_tournaments
                        and not admin_event.is_team_event else
                    _('Add a tournament before adding players.')
                    if not player_addable_tournaments
                        and not admin_event.is_team_event else ''
                ) %}
                <span
                    {%if add_player_error_message %}
                        {{ macros.tooltip_attributes('warning', add_player_error_message, 'top') }}
                    {% else %}
                        {{ macros.tooltip_attributes('info', _('Import players from a CSV file.'), 'top') }}
                    {% endif %}
                >
                    <button
                        class="btn btn-primary text-nowrap"
                        hx-get="{{ url_for('players-import-modal', event_uniq_id=admin_event.uniq_id) }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-wrapper"
                        {% if add_player_error_message %}
                            disabled
                        {% endif %}
                    >
                        <i class="bi-box-arrow-in-right pe-1"></i>
                        {{ _('Import') }}
                    </button>
                </span>
                <span
                    {% if add_player_error_message %}
                        {{ macros.tooltip_attributes('warning', add_player_error_message, 'top') }}
                    {% else %}
                        {{ macros.tooltip_attributes('info', _('Add a player to the event.'), 'top') }}
                    {% endif %}
                >
                    <button
                        data-testid="add-player-button"
                        class="btn btn-primary text-nowrap"
                        hx-get="{{ url_for('admin-player-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-wrapper"
                        {% if add_player_error_message %}
                            disabled
                        {% else %}
                            hx-trigger="click, SC_Plus from:body"
                        {% endif %}
                    >
                        <i class="bi-plus-square pe-1"></i>
                        {{ _('Add') }}
                    </button>
                </span>
            </div>
            <div class="w-100 d-flex gap-2 pt-1">
                <span style="width: 400px">
                    {{ admin_macros.text_input(
                        name='search',
                        input_type='search',
                        label='',
                        hx_get=url_for('admin-event-players-search', event_uniq_id=admin_event.uniq_id),
                        hx_target='#players-table',
                        hx_trigger='input changed delay:0.5s, paste delay:0.1s, search',
                        hx_indicator='#please-wait',
                        placeholder=_('Search by: %(fields)s', fields=', '.join(searchable_column_names)),
                        data={'search': search or ''},
                    ) }}
                </span>
                <div class="flex-grow-1"></div>
                <div class="dropdown d-inline">
                    <button
                        class="btn btn-outline-primary dropdown-toggle mx-auto"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {{ _('Actions') }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-submenu">
                            <span
                                {{ macros.tooltip_attributes(
                                    'info',
                                    _('Download the players matching the search into a file.'),
                                    'left'
                                ) }}
                            >
                                <button class="dropdown-item d-flex justify-content-between">
                                    <span><i class="bi-box-arrow-right pe-1"></i>{{ _('Export') }}</span>
                                    <i class="ps-3 bi-caret-right-fill"></i>
                                </button>
                            </span>
                            <ul class="dropdown-menu">
                                {% for exporter in player_exporters %}
                                    <li
                                        class="dropdown-item text-start cursor-pointer"
                                        onclick="$('#exporter-{{ exporter.id }}-form').submit()"
                                        {% set tooltip = exporter.warning_tooltip %}
                                        {% if tooltip %}
                                            {{ macros.tooltip_attributes('warning', tooltip, 'left') }}
                                        {% endif %}
                                    >
                                        <form
                                            id="exporter-{{ exporter.id }}-form"
                                            action="{{ url_for(
                                                'event-export-players',
                                                event_uniq_id=admin_event.uniq_id,
                                                exporter_id=exporter.id
                                            ) }}"
                                            hx-indicator="#please-wait"
                                        >
                                            {{ exporter.name }}
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if not admin_event.is_team_event %}
                            <li>
                                <span
                                    {% if not client.can_distribute_players %}
                                        {{ macros.tooltip_attributes('warning', _('You are not allowed to distribute the players.'), 'left') }}
                                    {% elif admin_event.player_distribution_error_message %}
                                        {{ macros.tooltip_attributes('warning', admin_event.player_distribution_error_message, 'left') }}
                                    {% endif %}
                                >
                                    <button
                                        class="dropdown-item text-nowrap"
                                        {% if not admin_event.player_distribution_error_message and client.can_distribute_players %}
                                            hx-get="{{ url_for('admin-distribute-players-modal', event_uniq_id=admin_event.uniq_id) }}"
                                            hx-vals='{"tab": "players"}'
                                            hx-target="body"
                                            hx-indicator="#please-wait"
                                        {% else %}
                                            disabled
                                        {% endif %}
                                    >
                                        <i class="bi bi-sort-numeric-down-alt pe-1"></i>
                                        {{ _('Distribute the players among the tournaments') }}
                                    </button>
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% include 'filter_columns.html' %}
            </div>
        </div>
    </div>


    <section class="pb-1">
        {% include '/admin/players/table/table.html' %}
    </section>
    <span id="replace-row-target"></span>
{% endwith %}

<script>
    var debouncedReplaceFunctionByPlayerId = {};
    preparePrintModal("{{ default_print_document }}");

    $(document).ready(function() {
        $(document).off("htmx:afterSwap.tips");

        $(document).on("htmx:afterSwap.tips", function(evt) {
            if (evt.target.matches('tbody')) {
                activateTooltips(evt.target);
            }
        });
    });
</script>
